<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin | Privit</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/admin/plugins/fontawesome-free/css/all.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="/admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/admin/dist/css/adminlte.min.css">
  <!-- Toaster Message -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css">


  <style>
    .error{
        color:red;
    }
  </style>

</head>
<body class="hold-transition login-page">
<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="login-failed" style="text-align:center;font-family:cursive;"></div>
    <div class="card-header text-center">
      <a href="/admin/login" class="h1"><b>Admin</b> healin</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <form id="adminLogin">
        <div class="input-group mb-3">
          <input type="email" class="form-control" name="email" id="email" placeholder="Email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="email-error"></div>

        <div class="input-group mb-3">
          <input type="password" class="form-control" name="password" id="password" placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="password-error"></div>

        <div class="social-auth-links text-center mt-2 mb-3">
            <button type="submit" class="btn btn-block btn-primary">
              Login
            </button>
          </div>
      </form>

     
      <!-- /.social-auth-links -->
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="/admin/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/admin/dist/js/adminlte.min.js"></script>
<!-- Jquery Validation -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<!-- Toaster -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

</body>
</html>

<script>
    $(document).ready(function(){
         $("#adminLogin").validate({
            rules:{
                email:{
                    required:true,
                },
                password:{
                    required:true,
                },
            },
            message:{
                email:{
                    required:"Email is required",
                },
                passowrd:{
                    required:"Password is required",
                },
            },
            errorPlacement:function(error, element){
              if(element.attr('id') == "email"){
                error.appendTo($(".email-error"));
              }
              if(element.attr('id') == "password"){
                error.appendTo($(".password-error"));
              }
            },
            submitHandler:function(form, event){
               event.preventDefault();
               var data = $(form).serialize();
               $.ajax({
                  url:'/admin/login',
                  type:'POST',
                  data:data,
                  dataType:'json',
                  success:function(response){
                    if(response.status == true){
                       toastr.success(response.message);
                       window.location.href=response.url;
                    }else{
                       $(".login-failed").addClass("alert alert-danger").html(response.message)
                    }
                  },
                  error:function(error){ 
                    toastr.error(response.message);
                  } 
               })
            }

         })
    });
</script>


