

<footer>

    

    

</footer>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="therapy-assets/assets/js/bootstrap.bundle.min.js"></script>

<script src="therapy-assets/assets/js/owl.carousel.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>


<script type="text/javascript" src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.20/c3.min.js"></script>

<script src="therapy-assets/assets/js/custom.js"></script>

<script type="text/javascript">
        
new DataTable('#example');
</script>



<script type="text/javascript">

//     $(window).on('load', function () {
//   $('#popUpForm').fadeIn(1000); 
     
// });
// $( "#close" ).click(function() {
//   $( "#popUpForm" ).css("display", "none");
// });
</script>

<script type="text/javascript">
    $('#package-popup-slider').owlCarousel({
    loop:true,
    nav:true,
    dots:true,
  //  center:true,
    autoplay:false,
    margin:20,
    smartSpeed: 1000,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:1
        },
        1000:{
            items:1
        }
    },navText: ["<i class='far fa-arrow-left' aria-hidden='true'></i>","<i class='far fa-arrow-right' aria-hidden='true'></i>"]
});
</script>

<!-- <script type="text/javascript">

      $(window).scroll(function() {

    var scroll = $(window).scrollTop();

    if (scroll >= 50) {



        $(".page-head").addClass("headerbg");

    } else {

        $(".page-head").removeClass("headerbg");

    }

});

</script> -->






 
</body>

</html>