<!-- side-navbar -->

<div class="side-bar" id="side_bar">

    <div class="sidebar-logo">

        <a href="https://webandappdevelopers.com/varun/pri-vit/" class="sidenavbar-brand">

            <img src="assets/image/side-bar-logo.svg" class="img-fluid" />

        </a>

    </div>  

    <div class="sidebar-list">      

        <ul>

            <li class="">

                <a href="index.php">

                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">

                      <path d="M2.5 6.66646V16.6665C2.5 16.8875 2.5878 17.0994 2.74408 17.2557C2.90036 17.412 3.11232 17.4998 3.33333 17.4998H7.5C7.72101 17.4998 7.93297 17.412 8.08925 17.2557C8.24554 17.0994 8.33333 16.8875 8.33333 16.6665V10.8331H11.6667V16.6665C11.6667 16.8875 11.7545 17.0994 11.9107 17.2557C12.067 17.412 12.279 17.4998 12.5 17.4998H16.6667C16.8877 17.4998 17.0996 17.412 17.2559 17.2557C17.4122 17.0994 17.5 16.8875 17.5 16.6665V6.66646C17.5 6.53709 17.4699 6.4095 17.412 6.29379C17.3542 6.17807 17.2702 6.07742 17.1667 5.9998L10.5 0.999797C10.3558 0.891611 10.1803 0.83313 10 0.83313C9.81969 0.83313 9.64425 0.891611 9.5 0.999797L2.83333 5.9998C2.72984 6.07742 2.64583 6.17807 2.58798 6.29379C2.53012 6.4095 2.5 6.53709 2.5 6.66646ZM4.16667 7.08313L10 2.70813L15.8333 7.08313V15.8331H13.3333V9.9998C13.3333 9.77878 13.2455 9.56682 13.0893 9.41054C12.933 9.25426 12.721 9.16646 12.5 9.16646H7.5C7.27899 9.16646 7.06702 9.25426 6.91074 9.41054C6.75446 9.56682 6.66667 9.77878 6.66667 9.9998V15.8331H4.16667V7.08313Z" fill="#6E7984"/>

                    </svg> dashboard

                </a>

            </li>

            <li>

                <a href="subscriber-list.php">

                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16" fill="none">

                      <path d="M16.5003 2.16667H1.50033C1.0281 2.16667 0.666992 1.80555 0.666992 1.33333C0.666992 0.861111 1.0281 0.5 1.50033 0.5H16.5003C16.9725 0.5 17.3337 0.861111 17.3337 1.33333C17.3337 1.80555 16.9725 2.16667 16.5003 2.16667Z" fill="#6E7984"/>

                      <path d="M11.5003 6.61109H1.50033C1.0281 6.61109 0.666992 6.24998 0.666992 5.77776C0.666992 5.30554 1.0281 4.94443 1.50033 4.94443H11.5003C11.9725 4.94443 12.3337 5.30554 12.3337 5.77776C12.3337 6.24998 11.9725 6.61109 11.5003 6.61109Z" fill="#6E7984"/>

                      <path d="M16.5003 11.0555H1.50033C1.0281 11.0555 0.666992 10.6944 0.666992 10.2222C0.666992 9.74995 1.0281 9.38884 1.50033 9.38884H16.5003C16.9725 9.38884 17.3337 9.74995 17.3337 10.2222C17.3337 10.6944 16.9725 11.0555 16.5003 11.0555Z" fill="#6E7984"/>

                      <path d="M11.5003 15.5H1.50033C1.0281 15.5 0.666992 15.1388 0.666992 14.6666C0.666992 14.1944 1.0281 13.8333 1.50033 13.8333H11.5003C11.9725 13.8333 12.3337 14.1944 12.3337 14.6666C12.3337 15.1388 11.9725 15.5 11.5003 15.5Z" fill="#6E7984"/>

                    </svg>subscriber list

                </a>

            </li>

            <li>

                <a href="review.php">

                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 20 16" fill="none">

                          <path d="M13.1767 11.4646C13.1429 11.3607 13.0807 11.2682 12.9972 11.1977C12.9136 11.1272 12.8119 11.0815 12.7037 11.0658L11.1986 10.8471L10.5255 9.4832C10.4771 9.38516 10.4022 9.30261 10.3094 9.24489C10.2165 9.18717 10.1094 9.15658 10 9.15658C9.89071 9.15658 9.78356 9.18717 9.6907 9.24489C9.59785 9.30261 9.523 9.38516 9.47461 9.4832L8.80152 10.8471L7.29637 11.0658C7.18816 11.0815 7.08651 11.1272 7.00291 11.1977C6.91931 11.2681 6.8571 11.3606 6.82332 11.4646C6.78954 11.5686 6.78553 11.6799 6.81174 11.7861C6.83796 11.8922 6.89336 11.9889 6.97168 12.0652L8.06082 13.1269L7.80367 14.6259C7.78518 14.7337 7.79722 14.8444 7.83841 14.9457C7.8796 15.047 7.94831 15.1347 8.03677 15.199C8.12523 15.2633 8.2299 15.3015 8.33895 15.3094C8.44801 15.3173 8.55709 15.2945 8.65387 15.2436L10 14.5359L11.3462 15.2436C11.4303 15.2879 11.5239 15.311 11.6189 15.3109C11.7042 15.3109 11.7885 15.2923 11.8659 15.2564C11.9433 15.2204 12.0119 15.1679 12.0669 15.1027C12.1219 15.0375 12.162 14.961 12.1844 14.8786C12.2068 14.7963 12.2109 14.71 12.1964 14.6259L11.9393 13.1269L13.0284 12.0653C13.1067 11.989 13.1621 11.8923 13.1883 11.7861C13.2145 11.68 13.2105 11.5686 13.1767 11.4646ZM10.9007 12.5027C10.8327 12.569 10.7818 12.6509 10.7525 12.7412C10.7231 12.8316 10.7162 12.9277 10.7322 13.0214L10.8407 13.6539L10.2727 13.3552C10.1886 13.311 10.095 13.2879 10 13.2879C9.90504 13.2879 9.81146 13.311 9.72738 13.3552L9.15938 13.6539L9.26785 13.0214C9.28392 12.9277 9.27698 12.8316 9.24763 12.7412C9.21827 12.6509 9.16737 12.569 9.09934 12.5027L8.63977 12.0548L9.27488 11.9625C9.3689 11.9488 9.45818 11.9125 9.53503 11.8567C9.61189 11.8008 9.67401 11.7271 9.71605 11.642L10 11.0665L10.284 11.642C10.3261 11.7271 10.3882 11.8008 10.465 11.8567C10.5419 11.9125 10.6312 11.9488 10.7252 11.9625L11.3603 12.0548L10.9007 12.5027ZM6.54367 11.4646C6.50986 11.3607 6.44764 11.2682 6.36403 11.1977C6.28042 11.1272 6.17876 11.0815 6.07055 11.0658L4.56539 10.8471L3.8923 9.4832C3.84392 9.38516 3.76906 9.30261 3.67621 9.24489C3.58336 9.18717 3.47621 9.15658 3.36688 9.15658C3.25754 9.15658 3.15039 9.18717 3.05754 9.24489C2.96468 9.30261 2.88983 9.38516 2.84145 9.4832L2.16836 10.8471L0.663203 11.0658C0.554998 11.0815 0.453346 11.1272 0.369747 11.1977C0.286148 11.2681 0.223938 11.3606 0.190155 11.4646C0.156371 11.5686 0.152362 11.6799 0.178581 11.7861C0.2048 11.8922 0.2602 11.9889 0.338516 12.0652L1.42766 13.1269L1.17055 14.6259C1.15209 14.7337 1.16414 14.8445 1.20534 14.9457C1.24655 15.047 1.31525 15.1347 1.4037 15.199C1.49215 15.2632 1.59681 15.3015 1.70585 15.3094C1.81489 15.3173 1.92396 15.2945 2.02074 15.2436L3.36695 14.5359L4.7132 15.2436C4.80998 15.2945 4.91906 15.3173 5.02812 15.3094C5.13717 15.3016 5.24184 15.2633 5.3303 15.1991C5.41876 15.1348 5.48747 15.0471 5.52866 14.9458C5.56986 14.8445 5.58189 14.7337 5.5634 14.6259L5.30625 13.1269L6.39539 12.0653C6.47369 11.989 6.52908 11.8923 6.55528 11.7861C6.58149 11.68 6.57747 11.5686 6.54367 11.4646ZM4.26758 12.5027C4.19954 12.569 4.14865 12.6509 4.11929 12.7412C4.08994 12.8316 4.08299 12.9277 4.09906 13.0214L4.20754 13.6539L3.63953 13.3552C3.55544 13.311 3.46186 13.2879 3.36686 13.2879C3.27185 13.2879 3.17827 13.311 3.09418 13.3552L2.52617 13.6539L2.63465 13.0214C2.65072 12.9277 2.64377 12.8316 2.61442 12.7412C2.58506 12.6509 2.53417 12.569 2.46613 12.5027L2.00656 12.0548L2.64168 11.9625C2.73569 11.9488 2.82497 11.9125 2.90183 11.8567C2.97869 11.8008 3.04081 11.7271 3.08285 11.642L3.36688 11.0665L3.6509 11.642C3.69294 11.7271 3.75506 11.8008 3.83192 11.8567C3.90878 11.9125 3.99806 11.9488 4.09207 11.9625L4.72719 12.0548L4.26758 12.5027ZM19.81 11.4646C19.7761 11.3606 19.7139 11.2681 19.6303 11.1977C19.5467 11.1272 19.445 11.0815 19.3368 11.0658L17.8317 10.8471L17.1586 9.4832C17.1102 9.38516 17.0354 9.30261 16.9425 9.24489C16.8496 9.18717 16.7425 9.15658 16.6332 9.15658C16.5238 9.15658 16.4167 9.18717 16.3238 9.24489C16.231 9.30261 16.1561 9.38516 16.1077 9.4832L15.4346 10.8471L13.9295 11.0658C13.8213 11.0815 13.7196 11.1272 13.636 11.1977C13.5524 11.2681 13.4902 11.3606 13.4564 11.4646C13.4227 11.5686 13.4187 11.6799 13.4449 11.7861C13.4711 11.8922 13.5265 11.9889 13.6048 12.0652L14.6939 13.1269L14.4368 14.6259C14.4183 14.7337 14.4303 14.8444 14.4715 14.9457C14.5127 15.047 14.5814 15.1347 14.6699 15.199C14.7584 15.2633 14.863 15.3015 14.9721 15.3094C15.0811 15.3173 15.1902 15.2945 15.287 15.2436L16.6332 14.5358L17.9795 15.2436C18.0635 15.2878 18.1571 15.3109 18.2521 15.3109C18.3374 15.3109 18.4217 15.2923 18.4991 15.2563C18.5765 15.2203 18.6451 15.1679 18.7001 15.1027C18.7551 15.0374 18.7952 14.961 18.8176 14.8786C18.84 14.7963 18.8441 14.71 18.8296 14.6259L18.5725 13.1268L19.6617 12.0652C19.74 11.9889 19.7954 11.8922 19.8216 11.7861C19.8478 11.6799 19.8438 11.5685 19.81 11.4646ZM17.5339 12.5027C17.4658 12.569 17.4149 12.6509 17.3856 12.7412C17.3562 12.8316 17.3493 12.9277 17.3654 13.0214L17.4738 13.6539L16.9058 13.3552C16.8217 13.311 16.7282 13.2879 16.6332 13.2879C16.5382 13.2879 16.4446 13.311 16.3605 13.3552L15.7925 13.6539L15.901 13.0214C15.917 12.9277 15.9101 12.8316 15.8808 12.7412C15.8514 12.6509 15.8005 12.569 15.7325 12.5027L15.2729 12.0548L15.908 11.9625C16.002 11.9488 16.0913 11.9125 16.1682 11.8567C16.245 11.8008 16.3071 11.7271 16.3492 11.642L16.6332 11.0665L16.9172 11.642C16.9593 11.7271 17.0214 11.8008 17.0982 11.8567C17.1751 11.9125 17.2644 11.9488 17.3584 11.9625L17.9935 12.0548L17.5339 12.5027ZM17.1831 0H2.81687C1.26367 0 0 1.26363 0 2.81687V4.71762C0 6.16781 1.10141 7.36555 2.51176 7.51805L3.12082 8.32949C3.3216 8.59699 3.62852 8.7534 3.96289 8.75859L3.98012 8.75871C4.30797 8.75871 4.6125 8.61258 4.81789 8.35602L5.47574 7.53445H17.1831C18.7364 7.53445 20 6.27082 20 4.71758V2.81684C20 1.26363 18.7363 0 17.1831 0ZM17.1831 6.36258H5.19426C5.10642 6.36257 5.01971 6.38232 4.94054 6.42035C4.86137 6.45839 4.79177 6.51374 4.73688 6.5823L3.98215 7.52492L3.28555 6.5968C3.23096 6.52407 3.1602 6.46505 3.07886 6.4244C2.99753 6.38375 2.90784 6.36258 2.81691 6.36258C1.90984 6.36258 1.17188 5.62465 1.17188 4.71758V2.81684C1.17188 1.90977 1.90984 1.17184 2.81687 1.17184H17.1831C18.0902 1.17184 18.8281 1.90977 18.8281 2.81684V4.71758H18.8281C18.8281 5.62465 18.0902 6.36258 17.1831 6.36258Z" fill="#6E7984"/>

                          <path d="M16.5902 2.13574H3.41016C3.08656 2.13574 2.82422 2.39809 2.82422 2.72168C2.82422 3.04527 3.08656 3.30762 3.41016 3.30762H16.5902C16.9138 3.30762 17.1761 3.04527 17.1761 2.72168C17.1761 2.39809 16.9138 2.13574 16.5902 2.13574ZM8.74359 4.17914H3.41016C3.08656 4.17914 2.82422 4.44148 2.82422 4.76508C2.82422 5.08867 3.08656 5.35102 3.41016 5.35102H8.74359C9.06719 5.35102 9.32953 5.08867 9.32953 4.76508C9.32953 4.44148 9.06719 4.17914 8.74359 4.17914Z" fill="#6E7984"/>

                        </svg> Reviews

                </a>

            </li>

            <li>

                <a href="">

                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">

                          <path d="M9.99996 12.4546C11.3556 12.4546 12.4545 11.3556 12.4545 10C12.4545 8.64441 11.3556 7.54547 9.99996 7.54547C8.64435 7.54547 7.54541 8.64441 7.54541 10C7.54541 11.3556 8.64435 12.4546 9.99996 12.4546Z" stroke="#6E7984" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>

                          <path d="M16.0545 12.4545C15.9456 12.7013 15.9131 12.9751 15.9613 13.2405C16.0094 13.5059 16.1359 13.7508 16.3245 13.9436L16.3736 13.9927C16.5258 14.1447 16.6465 14.3252 16.7288 14.5238C16.8112 14.7225 16.8536 14.9354 16.8536 15.1505C16.8536 15.3655 16.8112 15.5784 16.7288 15.7771C16.6465 15.9757 16.5258 16.1562 16.3736 16.3082C16.2217 16.4603 16.0412 16.581 15.8425 16.6634C15.6439 16.7457 15.431 16.7881 15.2159 16.7881C15.0009 16.7881 14.7879 16.7457 14.5893 16.6634C14.3906 16.581 14.2102 16.4603 14.0582 16.3082L14.0091 16.2591C13.8163 16.0705 13.5714 15.9439 13.3059 15.8958C13.0405 15.8477 12.7668 15.8802 12.52 15.9891C12.278 16.0928 12.0716 16.265 11.9263 16.4845C11.7809 16.704 11.7029 16.9613 11.7018 17.2245V17.3636C11.7018 17.7976 11.5294 18.2138 11.2225 18.5207C10.9157 18.8276 10.4994 19 10.0655 19C9.63146 19 9.21525 18.8276 8.90837 18.5207C8.60149 18.2138 8.42909 17.7976 8.42909 17.3636V17.29C8.42276 17.0192 8.3351 16.7565 8.17751 16.5362C8.01992 16.3159 7.79969 16.1481 7.54545 16.0545C7.29868 15.9456 7.02493 15.9131 6.75952 15.9613C6.4941 16.0094 6.24919 16.1359 6.05636 16.3245L6.00727 16.3736C5.8553 16.5258 5.67483 16.6465 5.47617 16.7288C5.27752 16.8112 5.06459 16.8536 4.84955 16.8536C4.6345 16.8536 4.42157 16.8112 4.22292 16.7288C4.02426 16.6465 3.84379 16.5258 3.69182 16.3736C3.53967 16.2217 3.41898 16.0412 3.33663 15.8425C3.25428 15.6439 3.21189 15.431 3.21189 15.2159C3.21189 15.0009 3.25428 14.7879 3.33663 14.5893C3.41898 14.3906 3.53967 14.2102 3.69182 14.0582L3.74091 14.0091C3.92953 13.8163 4.05606 13.5714 4.10419 13.3059C4.15231 13.0405 4.11982 12.7668 4.01091 12.52C3.90719 12.278 3.73498 12.0716 3.51547 11.9263C3.29596 11.7809 3.03873 11.7029 2.77545 11.7018H2.63636C2.20237 11.7018 1.78616 11.5294 1.47928 11.2225C1.1724 10.9157 1 10.4994 1 10.0655C1 9.63146 1.1724 9.21525 1.47928 8.90837C1.78616 8.60149 2.20237 8.42909 2.63636 8.42909H2.71C2.98081 8.42276 3.24346 8.3351 3.46379 8.17751C3.68412 8.01992 3.85195 7.79969 3.94545 7.54545C4.05437 7.29868 4.08686 7.02493 4.03873 6.75952C3.99061 6.4941 3.86408 6.24919 3.67545 6.05636L3.62636 6.00727C3.47422 5.8553 3.35352 5.67483 3.27118 5.47617C3.18883 5.27752 3.14644 5.06459 3.14644 4.84955C3.14644 4.6345 3.18883 4.42157 3.27118 4.22292C3.35352 4.02426 3.47422 3.84379 3.62636 3.69182C3.77834 3.53967 3.95881 3.41898 4.15746 3.33663C4.35611 3.25428 4.56905 3.21189 4.78409 3.21189C4.99913 3.21189 5.21207 3.25428 5.41072 3.33663C5.60937 3.41898 5.78984 3.53967 5.94182 3.69182L5.99091 3.74091C6.18374 3.92953 6.42865 4.05606 6.69406 4.10419C6.95948 4.15231 7.23322 4.11982 7.48 4.01091H7.54545C7.78745 3.90719 7.99383 3.73498 8.1392 3.51547C8.28457 3.29596 8.36259 3.03873 8.36364 2.77545V2.63636C8.36364 2.20237 8.53604 1.78616 8.84292 1.47928C9.14979 1.1724 9.56601 1 10 1C10.434 1 10.8502 1.1724 11.1571 1.47928C11.464 1.78616 11.6364 2.20237 11.6364 2.63636V2.71C11.6374 2.97328 11.7154 3.23051 11.8608 3.45002C12.0062 3.66953 12.2126 3.84174 12.4545 3.94545C12.7013 4.05437 12.9751 4.08686 13.2405 4.03873C13.5059 3.99061 13.7508 3.86408 13.9436 3.67545L13.9927 3.62636C14.1447 3.47422 14.3252 3.35352 14.5238 3.27118C14.7225 3.18883 14.9354 3.14644 15.1505 3.14644C15.3655 3.14644 15.5784 3.18883 15.7771 3.27118C15.9757 3.35352 16.1562 3.47422 16.3082 3.62636C16.4603 3.77834 16.581 3.95881 16.6634 4.15746C16.7457 4.35611 16.7881 4.56905 16.7881 4.78409C16.7881 4.99913 16.7457 5.21207 16.6634 5.41072C16.581 5.60937 16.4603 5.78984 16.3082 5.94182L16.2591 5.99091C16.0705 6.18374 15.9439 6.42865 15.8958 6.69406C15.8477 6.95948 15.8802 7.23322 15.9891 7.48V7.54545C16.0928 7.78745 16.265 7.99383 16.4845 8.1392C16.704 8.28457 16.9613 8.36259 17.2245 8.36364H17.3636C17.7976 8.36364 18.2138 8.53604 18.5207 8.84292C18.8276 9.14979 19 9.56601 19 10C19 10.434 18.8276 10.8502 18.5207 11.1571C18.2138 11.464 17.7976 11.6364 17.3636 11.6364H17.29C17.0267 11.6374 16.7695 11.7154 16.55 11.8608C16.3305 12.0062 16.1583 12.2126 16.0545 12.4545Z" stroke="#6E7984" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>

                        </svg> setting

                </a>

            </li>

            <li>

                <a href="report.php">

                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="19" viewBox="0 0 16 19" fill="none">

                          <path d="M5.06455 8.86468C4.89606 8.86468 4.73446 8.79775 4.61532 8.6786C4.49617 8.55946 4.42924 8.39786 4.42924 8.22937V6.32937C4.42068 6.24118 4.43067 6.15218 4.45855 6.06807C4.48644 5.98397 4.53161 5.90664 4.59116 5.84103C4.65071 5.77542 4.72332 5.723 4.80434 5.68712C4.88536 5.65124 4.97298 5.63271 5.06158 5.63271C5.15019 5.63271 5.23781 5.65124 5.31882 5.68712C5.39984 5.723 5.47246 5.77542 5.53201 5.84103C5.59156 5.90664 5.63672 5.98397 5.66461 6.06807C5.6925 6.15218 5.70248 6.24118 5.69393 6.32937V8.22937C5.69393 8.39684 5.62781 8.55754 5.50995 8.67652C5.39209 8.79549 5.23202 8.86312 5.06455 8.86468ZM7.59986 8.86468C7.43137 8.86468 7.26977 8.79775 7.15063 8.6786C7.03149 8.55946 6.96455 8.39786 6.96455 8.22937V5.69999C6.9798 5.54286 7.053 5.39702 7.1699 5.29092C7.2868 5.18481 7.43902 5.12603 7.59689 5.12603C7.75477 5.12603 7.90699 5.18481 8.02389 5.29092C8.14079 5.39702 8.21399 5.54286 8.22924 5.69999V8.23531C8.22769 8.40175 8.16088 8.56093 8.04319 8.67863C7.92549 8.79633 7.7663 8.86313 7.59986 8.86468ZM10.1352 8.86468C9.96668 8.86468 9.80509 8.79775 9.68594 8.6786C9.5668 8.55946 9.49986 8.39786 9.49986 8.22937V4.43531C9.49131 4.34712 9.50129 4.25811 9.52918 4.17401C9.55707 4.08991 9.60223 4.01257 9.66178 3.94697C9.72133 3.88136 9.79395 3.82893 9.87496 3.79306C9.95598 3.75718 10.0436 3.73865 10.1322 3.73865C10.2208 3.73865 10.3084 3.75718 10.3894 3.79306C10.4705 3.82893 10.5431 3.88136 10.6026 3.94697C10.6622 4.01257 10.7073 4.08991 10.7352 4.17401C10.7631 4.25811 10.7731 4.34712 10.7646 4.43531V8.23531C10.763 8.40175 10.6962 8.56093 10.5785 8.67863C10.4608 8.79633 10.3016 8.86313 10.1352 8.86468Z" fill="#6E7984"/>

                          <path d="M12.6647 19H2.53532C1.86291 19 1.21804 18.7329 0.74258 18.2574C0.267116 17.782 3.79581e-06 17.1371 3.79581e-06 16.4647V4.9875C-0.000716475 4.52286 0.101078 4.06378 0.298129 3.643C0.49518 3.22221 0.782636 2.85008 1.14 2.55313L3.325 0.73625C3.89353 0.262476 4.60964 0.00207387 5.34969 0L12.6647 0C13.3371 0 13.982 0.267113 14.4574 0.742576C14.9329 1.21804 15.2 1.86291 15.2 2.53531V16.4647C15.2 17.1371 14.9329 17.782 14.4574 18.2574C13.982 18.7329 13.3371 19 12.6647 19ZM5.34969 1.26469C4.91535 1.27154 4.49639 1.42656 4.16219 1.70406L1.9475 3.52688C1.73324 3.70511 1.56094 3.92843 1.44292 4.1809C1.32489 4.43338 1.26403 4.7088 1.26469 4.9875V16.4647C1.26625 16.7996 1.4 17.1204 1.63683 17.3572C1.87367 17.5941 2.19444 17.7278 2.52938 17.7294H12.6647C12.9996 17.7278 13.3204 17.5941 13.5572 17.3572C13.7941 17.1204 13.9278 16.7996 13.9294 16.4647V2.53531C13.9278 2.20038 13.7941 1.87961 13.5572 1.64277C13.3204 1.40593 12.9996 1.27219 12.6647 1.27063L5.34969 1.26469Z" fill="#6E7984"/>

                          <path d="M11.4002 15.2H3.80017C3.71198 15.2085 3.62298 15.1986 3.53888 15.1707C3.45478 15.1428 3.37744 15.0976 3.31183 15.0381C3.24623 14.9785 3.1938 14.9059 3.15792 14.8249C3.12205 14.7439 3.10352 14.6562 3.10352 14.5676C3.10352 14.479 3.12205 14.3914 3.15792 14.3104C3.1938 14.2294 3.24623 14.1568 3.31183 14.0972C3.37744 14.0377 3.45478 13.9925 3.53888 13.9646C3.62298 13.9367 3.71198 13.9267 3.80017 13.9353H11.4002C11.4884 13.9267 11.5774 13.9367 11.6615 13.9646C11.7456 13.9925 11.8229 14.0377 11.8885 14.0972C11.9541 14.1568 12.0065 14.2294 12.0424 14.3104C12.0783 14.3914 12.0968 14.479 12.0968 14.5676C12.0968 14.6562 12.0783 14.7439 12.0424 14.8249C12.0065 14.9059 11.9541 14.9785 11.8885 15.0381C11.8229 15.0976 11.7456 15.1428 11.6615 15.1707C11.5774 15.1986 11.4884 15.2085 11.4002 15.2ZM11.4002 12.0353H3.80017C3.64304 12.0201 3.4972 11.9468 3.3911 11.8299C3.28499 11.713 3.22621 11.5608 3.22621 11.403C3.22621 11.2451 3.28499 11.0929 3.3911 10.976C3.4972 10.8591 3.64304 10.7859 3.80017 10.7706H11.4002C11.4884 10.7621 11.5774 10.772 11.6615 10.7999C11.7456 10.8278 11.8229 10.873 11.8885 10.9325C11.9541 10.9921 12.0065 11.0647 12.0424 11.1457C12.0783 11.2267 12.0968 11.3143 12.0968 11.403C12.0968 11.4916 12.0783 11.5792 12.0424 11.6602C12.0065 11.7412 11.9541 11.8138 11.8885 11.8734C11.8229 11.9329 11.7456 11.9781 11.6615 12.006C11.5774 12.0339 11.4884 12.0439 11.4002 12.0353Z" fill="#6E7984"/>

                        </svg> reports

                </a>

            </li>

            <li>

                <a href="user-access.php">

                    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="15" viewBox="0 0 27 15" fill="none">

                          <path d="M13.3994 0.1C15.8098 0.1 17.7661 2.0563 17.7661 4.46667C17.7661 6.87704 15.8098 8.83333 13.3994 8.83333C10.9891 8.83333 9.03277 6.87704 9.03277 4.46667C9.03277 2.0563 10.9891 0.1 13.3994 0.1ZM13.3994 1.68667C13.0342 1.68683 12.6725 1.75893 12.3352 1.89885C11.9978 2.03876 11.6913 2.24376 11.4332 2.50213C11.175 2.76051 10.9703 3.06719 10.8307 3.40468C10.691 3.74218 10.6193 4.10386 10.6194 4.46909C10.6196 4.83432 10.6917 5.19595 10.8316 5.53332C10.9715 5.87068 11.1765 6.17719 11.4349 6.43533C11.6933 6.69347 12 6.8982 12.3375 7.03782C12.6749 7.17744 13.0366 7.24921 13.4019 7.24905C14.1395 7.24872 14.8468 6.95539 15.3681 6.43358C15.8894 5.91178 16.1821 5.20424 16.1818 4.46662C16.1815 3.72901 15.8882 3.02173 15.3664 2.50039C14.8445 1.97904 14.137 1.68634 13.3994 1.68667ZM21.7372 2.06533C23.5556 2.06533 25.0319 3.54161 25.0319 5.36C25.0319 7.17839 23.5556 8.65467 21.7372 8.65467C19.9188 8.65467 18.4425 7.17839 18.4425 5.36C18.4425 3.54161 19.9188 2.06533 21.7372 2.06533ZM21.7372 3.652C21.5128 3.65208 21.2906 3.69636 21.0834 3.7823C20.8761 3.86824 20.6878 3.99417 20.5292 4.15288C20.3706 4.3116 20.2448 4.5 20.159 4.70733C20.0732 4.91466 20.0291 5.13685 20.0292 5.36123C20.0293 5.58561 20.0736 5.80777 20.1595 6.01503C20.2455 6.2223 20.3714 6.4106 20.5301 6.5692C20.6888 6.7278 20.8772 6.85359 21.0845 6.93937C21.2919 7.02516 21.5141 7.06927 21.7384 7.06919C22.1916 7.06902 22.6261 6.88885 22.9464 6.56831C23.2667 6.24777 23.4466 5.81311 23.4464 5.35996C23.4462 4.90682 23.2661 4.47229 22.9455 4.15199C22.625 3.83168 22.1903 3.65183 21.7372 3.652ZM5.06166 2.06533C6.88005 2.06533 8.35632 3.54161 8.35632 5.36C8.35632 7.17839 6.88005 8.65467 5.06166 8.65467C3.24327 8.65467 1.76699 7.17839 1.76699 5.36C1.76699 3.54161 3.24327 2.06533 5.06166 2.06533ZM5.06162 3.652C4.83725 3.65208 4.61508 3.69636 4.40782 3.7823C4.20055 3.86824 4.01225 3.99417 3.85365 4.15288C3.69505 4.3116 3.56926 4.5 3.48348 4.70733C3.39769 4.91466 3.35358 5.13685 3.35366 5.36123C3.35374 5.58561 3.39802 5.80777 3.48396 6.01503C3.5699 6.2223 3.69582 6.4106 3.85454 6.5692C4.01326 6.7278 4.20166 6.85359 4.40899 6.93937C4.61631 7.02516 4.83851 7.06927 5.06289 7.06919C5.51603 7.06902 5.95055 6.88885 6.27086 6.56831C6.59117 6.24777 6.77102 5.81311 6.77085 5.35996C6.77068 4.90682 6.59051 4.47229 6.26997 4.15199C5.94942 3.83168 5.51477 3.65183 5.06162 3.652Z" fill="#6E7984" stroke="white" stroke-width="0.2"/>

                          <path d="M8.23842 13.9958C8.23842 14.2062 8.15484 14.408 8.00606 14.5568C7.85728 14.7056 7.6555 14.7891 7.44509 14.7891C7.23469 14.7891 7.0329 14.7056 6.88412 14.5568C6.73534 14.408 6.65176 14.2062 6.65176 13.9958C6.65176 10.2704 9.67529 7.24691 13.4006 7.24691C17.126 7.24691 20.1495 10.2704 20.1495 13.9958C20.1495 14.2062 20.066 14.408 19.9172 14.5568C19.7684 14.7056 19.5666 14.7891 19.3562 14.7891C19.1458 14.7891 18.944 14.7056 18.7952 14.5568C18.6465 14.408 18.5629 14.2062 18.5629 13.9958C18.5629 11.1462 16.2502 8.83358 13.4006 8.83358C10.5511 8.83358 8.23842 11.1462 8.23842 13.9958Z" fill="#6E7984" stroke="white" stroke-width="0.2"/>

                          <path d="M25.1133 12.0304V12.0302C25.1124 11.2708 24.8555 10.5338 24.384 9.93832C23.9126 9.34288 23.2542 8.92375 22.5151 8.74864C21.7761 8.57353 20.9996 8.65268 20.3111 8.97328C19.6226 9.29389 19.0623 9.83724 18.7207 10.5156C18.6738 10.6086 18.6091 10.6916 18.5301 10.7596C18.4512 10.8276 18.3597 10.8795 18.2607 10.9121C18.1617 10.9448 18.0573 10.9576 17.9534 10.9499C17.8494 10.9423 17.748 10.9142 17.655 10.8673C17.5619 10.8204 17.479 10.7556 17.4109 10.6767C17.3429 10.5978 17.291 10.5062 17.2584 10.4072C17.2257 10.3083 17.2129 10.2039 17.2206 10.0999C17.2283 9.996 17.2564 9.8946 17.3032 9.80153C17.8061 8.80513 18.63 8.00724 19.6421 7.53664C20.6541 7.06602 21.7952 6.95017 22.8812 7.20776C23.9672 7.46536 24.9347 8.08139 25.6276 8.95641C26.3204 9.83144 26.6982 10.9144 26.7 12.0305C26.7 12.2409 26.6164 12.4426 26.4676 12.5913C26.3189 12.7401 26.1171 12.8237 25.9067 12.8237C25.6963 12.8237 25.4945 12.7401 25.3457 12.5913C25.1969 12.4426 25.1133 12.2408 25.1133 12.0304ZM1.68667 12.0302V12.0304C1.68667 12.2408 1.60308 12.4426 1.4543 12.5913C1.30553 12.7401 1.10374 12.8237 0.893333 12.8237C0.682928 12.8237 0.481141 12.7401 0.332362 12.5913C0.183601 12.4426 0.10002 12.2408 0.1 12.0304C0.101773 10.9144 0.47957 9.83142 1.17242 8.95641C1.86528 8.08139 2.83279 7.46536 3.91878 7.20776C5.00477 6.95017 6.14588 7.06602 7.15793 7.53664C8.16996 8.00724 8.9939 8.80513 9.49675 9.80153C9.59144 9.9895 9.60758 10.2074 9.54162 10.4072C9.47565 10.6071 9.333 10.7726 9.14503 10.8673C8.95706 10.962 8.73918 10.9781 8.53931 10.9121C8.33945 10.8462 8.17397 10.7035 8.07928 10.5156C7.73767 9.83724 7.17736 9.29389 6.48886 8.97328C5.80037 8.65268 5.02389 8.57353 4.28487 8.74864C3.54585 8.92375 2.88743 9.34288 2.41599 9.93832C1.94455 10.5338 1.6876 11.2708 1.68667 12.0302Z" fill="#6E7984" stroke="white" stroke-width="0.2"/>

                        </svg>user access

                </a>

            </li>

        </ul>   

        <a href="" class="logout-btn">logout <img src="assets/image/logout.svg" class="img-fluid" /></a>    

    </div>



</div>

<!-- side-navbar -->