<!-- see-result-modal-start -->

<div class="modal fade " id="see_result" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable ">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-sharp fa-light fa-xmark"></i></button>
            <div class="modal-body">
                <div class="section-heading">
                    <h2>personal roport list</h2>
                </div>
                <div class="table-responsive report-list-table">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th>name</th>
                                <th>age</th>
                                <th>height</th>
                                <th>weight</th>
                                <th>gender</th>
                                <th>active state goal</th>
                                <th>postal code</th>
                                <th>allergies</th>
                                <th>diet</th>
                                <th>cuisine type</th>
                                <th>blood type</th>
                                <th>mediacal condition</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="user-img">
                                        <figure>
                                            <img src="assets/image/user-img.jpg" class="img-fluid" />
                                        </figure>                   
                                        <h4>john</h4>
                                    </div>
                                </td>
                                <td>05 month</td>
                                <td>3 fit 9 inch</td>
                                <td>35 kg</td>
                                <td>male</td>
                                <td>gain muscle</td>
                                <td>452001</td>
                                <td>celery free</td>
                                <td>alcohol free</td>
                                <td>indian</td>
                                <td>a+</td>
                                <td>none</td>
                            </tr>
                             <tr>
                                <td>
                                    <div class="user-img">
                                        <figure>
                                            <img src="assets/image/user3.png" class="img-fluid" />
                                        </figure>                   
                                        <h4>mellisa</h4>
                                    </div>
                                </td>
                                <td>05 month</td>
                                <td>3 fit 9 inch</td>
                                <td>35 kg</td>
                                <td>male</td>
                                <td>gain muscle</td>
                                <td>452001</td>
                                <td>celery free</td>
                                <td>alcohol free</td>
                                <td>indian</td>
                                <td>a+</td>
                                <td>none</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="user-img">
                                        <figure>
                                            <img src="assets/image/user1.png" class="img-fluid" />
                                        </figure>                   
                                        <h4>dario</h4>
                                    </div>
                                </td>
                                <td>05 month</td>
                                <td>3 fit 9 inch</td>
                                <td>35 kg</td>
                                <td>male</td>
                                <td>gain muscle</td>
                                <td>452001</td>
                                <td>celery free</td>
                                <td>alcohol free</td>
                                <td>indian</td>
                                <td>a+</td>
                                <td>none</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="user-img">
                                        <figure>
                                            <img src="assets/image/user-img.jpg" class="img-fluid" />
                                        </figure>                   
                                        <h4>john</h4>
                                    </div>
                                </td>
                                <td>05 month</td>
                                <td>3 fit 9 inch</td>
                                <td>35 kg</td>
                                <td>male</td>
                                <td>gain muscle</td>
                                <td>452001</td>
                                <td>celery free</td>
                                <td>alcohol free</td>
                                <td>indian</td>
                                <td>a+</td>
                                <td>none</td>
                            </tr>
                             <tr>
                                <td>
                                    <div class="user-img">
                                        <figure>
                                            <img src="assets/image/user3.png" class="img-fluid" />
                                        </figure>                   
                                        <h4>mellisa</h4>
                                    </div>
                                </td>
                                <td>05 month</td>
                                <td>3 fit 9 inch</td>
                                <td>35 kg</td>
                                <td>male</td>
                                <td>gain muscle</td>
                                <td>452001</td>
                                <td>celery free</td>
                                <td>alcohol free</td>
                                <td>indian</td>
                                <td>a+</td>
                                <td>none</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="user-img">
                                        <figure>
                                            <img src="assets/image/user1.png" class="img-fluid" />
                                        </figure>                   
                                        <h4>dario</h4>
                                    </div>
                                </td>
                                <td>05 month</td>
                                <td>3 fit 9 inch</td>
                                <td>35 kg</td>
                                <td>male</td>
                                <td>gain muscle</td>
                                <td>452001</td>
                                <td>celery free</td>
                                <td>alcohol free</td>
                                <td>indian</td>
                                <td>a+</td>
                                <td>none</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="user-img">
                                        <figure>
                                            <img src="assets/image/user-img.jpg" class="img-fluid" />
                                        </figure>                   
                                        <h4>john</h4>
                                    </div>
                                </td>
                                <td>05 month</td>
                                <td>3 fit 9 inch</td>
                                <td>35 kg</td>
                                <td>male</td>
                                <td>gain muscle</td>
                                <td>452001</td>
                                <td>celery free</td>
                                <td>alcohol free</td>
                                <td>indian</td>
                                <td>a+</td>
                                <td>none</td>
                            </tr>
                             <tr>
                                <td>
                                    <div class="user-img">
                                        <figure>
                                            <img src="assets/image/user3.png" class="img-fluid" />
                                        </figure>                   
                                        <h4>mellisa</h4>
                                    </div>
                                </td>
                                <td>05 month</td>
                                <td>3 fit 9 inch</td>
                                <td>35 kg</td>
                                <td>male</td>
                                <td>gain muscle</td>
                                <td>452001</td>
                                <td>celery free</td>
                                <td>alcohol free</td>
                                <td>indian</td>
                                <td>a+</td>
                                <td>none</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="user-img">
                                        <figure>
                                            <img src="assets/image/user1.png" class="img-fluid" />
                                        </figure>                   
                                        <h4>dario</h4>
                                    </div>
                                </td>
                                <td>05 month</td>
                                <td>3 fit 9 inch</td>
                                <td>35 kg</td>
                                <td>male</td>
                                <td>gain muscle</td>
                                <td>452001</td>
                                <td>celery free</td>
                                <td>alcohol free</td>
                                <td>indian</td>
                                <td>a+</td>
                                <td>none</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="btn-area">
                    <a href="" class="btn-all">
                            Download report <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                            <path d="M17.1 15.3H0.9C0.661305 15.3 0.432387 15.3948 0.263604 15.5636C0.0948211 15.7324 0 15.9613 0 16.2C0 16.4387 0.0948211 16.6676 0.263604 16.8364C0.432387 17.0052 0.661305 17.1 0.9 17.1H17.1C17.3387 17.1 17.5676 17.0052 17.7364 16.8364C17.9052 16.6676 18 16.4387 18 16.2C18 15.9613 17.9052 15.7324 17.7364 15.5636C17.5676 15.3948 17.3387 15.3 17.1 15.3ZM9 0C8.7613 0 8.53239 0.0948211 8.3636 0.263604C8.19482 0.432387 8.1 0.661305 8.1 0.9V10.431L5.139 7.461C4.96953 7.29153 4.73967 7.19632 4.5 7.19632C4.26033 7.19632 4.03047 7.29153 3.861 7.461C3.69153 7.63047 3.59632 7.86033 3.59632 8.1C3.59632 8.33967 3.69153 8.56953 3.861 8.739L8.361 13.239C8.44467 13.3234 8.54421 13.3903 8.65388 13.436C8.76355 13.4817 8.88119 13.5052 9 13.5052C9.11881 13.5052 9.23645 13.4817 9.34612 13.436C9.45579 13.3903 9.55533 13.3234 9.639 13.239L14.139 8.739C14.2229 8.65508 14.2895 8.55546 14.3349 8.44582C14.3803 8.33618 14.4037 8.21867 14.4037 8.1C14.4037 7.98133 14.3803 7.86381 14.3349 7.75417C14.2895 7.64453 14.2229 7.54491 14.139 7.461C14.0551 7.37708 13.9555 7.31052 13.8458 7.26511C13.7362 7.21969 13.6187 7.19632 13.5 7.19632C13.3813 7.19632 13.2638 7.21969 13.1542 7.26511C13.0445 7.31052 12.9449 7.37708 12.861 7.461L9.9 10.431V0.9C9.9 0.661305 9.80518 0.432387 9.6364 0.263604C9.46761 0.0948211 9.23869 0 9 0Z" fill="white"/>

                            </svg>

                        </a>
                </div>
       

    </div>

    </div>

    </div>

</div>

<!-- see-result-modal-end -->


<!-- jQuery-min.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

<!--bootstrap-5.0.2-js-->
<script type="text/javascript" src="../assets/js/bootstrap.bundle.min.js"></script>

<!-- AOS-2.3.4-js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>

<!-- AOS-init -->
<script>
    AOS.init();
</script>

<script type="text/javascript" src="https://rendro.github.io/easy-pie-chart/javascripts/jquery.easy-pie-chart.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript" src="https://cdn2.hubspot.net/hubfs/476360/Chart.js"></script>
<script type="text/javascript" src="https://cdn2.hubspot.net/hubfs/476360/utils.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<!-- fany-box-js -->
<script type="text/javascript"
src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script> 

<!-- owl-carousel-2.3.4-js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<!-- style.js -->
<script type="text/javascript" src="assets/js/dashboard.js"></script>


</body>

</html>