<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pri-Vit</title>

<!-- font-awesome-link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    
<!-- poppins-font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Dosis:wght@300;400;500;600;700;800&family=Inter&family=Markazi+Text:wght@400;500&family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<!-- bootstrap-5.0.2-link -->
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">

<!-- AOS-2.3.4-link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />

<!-- owl-carousel2.3.4-link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" />

<!-- fancy-box-css -->
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css">

<!--style.css-link-->
    <link rel="stylesheet" href="assets/css/dashboard.css">

<!-- reponsive.css-link -->
    <link rel="stylesheet" type="text/css" href="assets/css/dashboard-responsive.css">

</head>
<body >
    <header>
        <div class="container-fluid">
        <div class="dashboard-header">
             <div class="header-left">
                <button class="toggle-button">
                            <span class="toggle-icon"></span>
                            <span class="toggle-icon"></span>
                            <span class="toggle-icon"></span>
                        </button>
                <h1 class="header-heading">dashboard</h1>          
            </div>
            <div class="header-right">
                <div class="bell-icon">
                     <svg xmlns="http://www.w3.org/2000/svg" width="17" height="19" viewBox="0 0 17 19" fill="none">
                          <path d="M16.9902 14.0602C16.887 12.9857 15.9279 12.1418 14.8108 12.1418C14.7792 12.142 14.748 12.1359 14.7188 12.1239C14.6896 12.1119 14.6631 12.0943 14.6408 12.072C14.6185 12.0497 14.6008 12.0232 14.5888 11.994C14.5768 11.9648 14.5708 11.9335 14.571 11.902V8.32621C14.571 5.67018 12.8711 3.35415 10.5307 2.48905C10.5581 2.35243 10.5732 2.21283 10.5732 2.07317C10.5733 0.928868 9.64446 0 8.50005 0C7.35564 0 6.42683 0.928868 6.42683 2.07323C6.42683 2.20984 6.44198 2.3464 6.46626 2.47693C5.66189 2.76227 4.9182 3.21454 4.2838 3.8277C3.08784 4.98119 2.42915 6.53229 2.42915 8.19573V11.902C2.42915 12.0326 2.3229 12.1418 2.18933 12.1418C1.06926 12.1418 0.113066 12.9857 0.00985802 14.0603C-0.0478287 14.6583 0.149513 15.2532 0.553219 15.6964C0.953883 16.1365 1.52761 16.3915 2.12556 16.3915H5.78634C5.93811 17.7544 7.09768 18.8199 8.50005 18.8199C9.90243 18.8199 11.062 17.7544 11.2138 16.3915H14.8745C15.4725 16.3915 16.0462 16.1365 16.4469 15.6964C16.8476 15.2531 17.0479 14.6582 16.9902 14.0602ZM8.50005 1.21416C8.97356 1.21416 9.35907 1.59967 9.35907 2.07317C9.35907 2.11261 9.35299 2.14906 9.3469 2.1885C9.14049 2.15813 8.93103 2.13689 8.72157 2.13081C8.36035 2.11865 8.0052 2.14298 7.6531 2.19154C7.64702 2.1521 7.64094 2.11565 7.64094 2.07622C7.64104 1.59967 8.02654 1.21416 8.50005 1.21416ZM8.50005 17.6056C7.76853 17.6056 7.15536 17.0835 7.01267 16.3915H9.98739C9.84479 17.0835 9.23163 17.6056 8.50005 17.6056ZM15.5484 14.8798C15.3723 15.071 15.1356 15.1772 14.8745 15.1772H2.12561C1.86455 15.1772 1.62782 15.071 1.45172 14.8798C1.27567 14.6886 1.1937 14.4366 1.22103 14.1756C1.26351 13.7172 1.69154 13.356 2.19237 13.356C2.99375 13.356 3.64636 12.7034 3.64636 11.902V8.19573C3.64636 6.86619 4.17451 5.62471 5.1307 4.70193C6.04132 3.81863 7.23125 3.33899 8.50005 3.33899C8.56078 3.33899 8.61842 3.33899 8.67914 3.34203C11.2562 3.43307 13.3568 5.67023 13.3568 8.32626V11.902C13.3568 12.7034 14.0094 13.356 14.8108 13.356C15.3116 13.356 15.7396 13.7172 15.7821 14.1756C15.8064 14.4366 15.7244 14.6855 15.5484 14.8798ZM0.638228 7.28511C0.917487 7.28511 1.16942 7.09086 1.23015 6.80856C1.52457 5.47598 2.18933 4.26183 3.16068 3.29656C3.39746 3.05978 3.39746 2.67427 3.16068 2.43754C2.9239 2.20077 2.53839 2.20077 2.30167 2.43754C1.16643 3.56664 0.386292 4.99031 0.0433144 6.55049C-0.0295291 6.87831 0.176886 7.20309 0.504707 7.27294C0.553269 7.28207 0.595749 7.28511 0.638228 7.28511ZM16.3619 7.28511C16.4044 7.28511 16.4499 7.27903 16.4924 7.26995C16.8202 7.19711 17.0266 6.87532 16.9538 6.5475C16.6108 4.98727 15.8307 3.56669 14.6954 2.43445C14.4586 2.19767 14.0731 2.19767 13.8364 2.43445C13.5997 2.67123 13.5996 3.05674 13.8364 3.29347C14.8047 4.25873 15.4725 5.47294 15.7669 6.80547C15.8307 7.09081 16.0826 7.28511 16.3619 7.28511Z" fill="#ffffff"/>
                        </svg>
                </div>
                <div class="dropdown">
                                <button type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="assets/image/user-img.jpg" class="img-fluid" />super admin </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="profile.php">
                                   <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z" fill="#6E7984"/></svg>
                                    profile</a></li>
                                    <li><a class="dropdown-item" href="#">
                                     <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M336 352c97.2 0 176-78.8 176-176S433.2 0 336 0S160 78.8 160 176c0 18.7 2.9 36.8 8.3 53.7L7 391c-4.5 4.5-7 10.6-7 17v80c0 13.3 10.7 24 24 24h80c13.3 0 24-10.7 24-24V448h40c13.3 0 24-10.7 24-24V384h40c6.4 0 12.5-2.5 17-7l33.3-33.3c16.9 5.4 35 8.3 53.7 8.3zM376 96a40 40 0 1 1 0 80 40 40 0 1 1 0-80z" fill="#6E7984"/></svg>
                                    change password</a></li>
                                    <li><a class="dropdown-item" href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 192 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l210.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128zM160 96c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 32C43 32 0 75 0 128L0 384c0 53 43 96 96 96l64 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l64 0z" fill="#6E7984"/></svg>
                                    Sign out</a></li>
                                </ul>
                                </div>
                
               </div>
        </div>
       
        </div>       
    
    </header>