<!-- header-start --> 
<%- include('comman/header') %>
<!-- header-end -->

<!-- ----treatment-wrapper-start-------- -->
<section class="treatment-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 m-auto">
				<div class="treatment-cnt text-center">
					<div class="sub-heading">
						<h3>Anger</h3>
						<p>Anger, when unmanaged, can become a mental health concern. Chronic anger may impact relationships, work, and overall well-being. Learning healthy coping mechanisms is essential for emotional regulation.</p>
					</div>
				</div>
			</div>

			<div class="bottom-area-treatment">
				<div class="treatment-cnt">
					<ul>
						<li class="sub-heading">
							<h3>Symptoms:</h3>
							<p>Frequent irritability, outbursts of anger, physical tension, aggression.</p>
						</li>
						<li class="sub-heading">
							<h3>Causes:</h3>
							<p>Unmet needs, past trauma, frustration, perceived injustice.</p>
						</li>
						<li class="sub-heading">
							<h3>Types:</h3>
							<p>Chronic anger, explosive anger, passive-aggressive behaviour.</p>
						</li>
						<li class="sub-heading">
							<h3>Ways to Heal:</h3>
							<p>Anger management therapy, relaxation techniques, communication skills training, identifying triggers.</p>
						</li>
					</ul>
					<h5>You Can Overcome Anger And Heal Like Many Have Before You. It Does Not Have To Stay That Way.</h5>
					<div class="btn-area"><a href="" class="btn-all"><i class="fa-regular fa-arrow-right"></i><span>GET STARTED</span></a></div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ----treatment-wrapper-end-------- -->

<!-- ----other-area-support-wrapper-start-------- -->
<section class="other-area-support-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 m-auto">
				<div class="out-support-areas">
					<div class="section-heading">
			            <h2>Other Area Of Support</h2>
			        </div>
					<div class="other-support-box">

						<a href="loss-grief.php">
							<div class="inner-support-box">
								<figure><img src="assets/image/loss.svg" class="img-fluid"></figure>
								<h6>Loss<span><i class="fas fa-arrow-circle-right"></i></span></h6>
							</div>
						</a>

						<a href="betrayal.php">
							<div class="inner-support-box">
								<figure><img src="assets/image/Loss-of-Identity-1.svg" class="img-fluid"></figure>
								<h6>Betrayal<span><i class="fas fa-arrow-circle-right"></i></span></h6>
							</div>
						</a>

						<a href="depression.php">
							<div class="inner-support-box">
								<figure><img src="assets/image/Depression.svg" class="img-fluid"></figure>
								<h6>Depression <span><i class="fas fa-arrow-circle-right"></i></span></h6>
							</div>
						</a>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ----other-area-support-wrapper-end-------- -->

<!-- footer-start --> 
<%- include('comman/footer') %>
<!-- footer-end -->