<!-- header-start --> 
<%- include('comman/header') %>
<!-- header-end -->

<!-- ----treatment-wrapper-start-------- -->
<section class="treatment-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 m-auto">
				<div class="treatment-cnt text-center">
					<div class="sub-heading">
						<h3>Anxiety</h3>
						<p>Anxiety disorders encompass excessive worry, fear, or nervousness, often accompanied by physical symptoms like restlessness and difficulty concentrating. Conditions such as generalised anxiety disorder, social anxiety, and panic disorder fall under this category.</p>
					</div>
				</div>
			</div>

			<div class="bottom-area-treatment">
				<div class="treatment-cnt">
					<ul>
						<li class="sub-heading">
							<h3>Symptoms:</h3>
							<p>Excessive worry, restlessness, muscle tension, difficulty concentrating, sleep disturbances.</p>
						</li>
						<li class="sub-heading">
							<h3>Causes:</h3>
							<p>Genetics, brain chemistry, environmental stressors, traumatic experiences.</p>
						</li>
						<li class="sub-heading">
							<h3>Types:</h3>
							<p>Generalised anxiety disorder, panic disorder, social anxiety disorder.</p>
						</li>
						<li class="sub-heading">
							<h3>Ways to Heal:</h3>
							<p>Cognitive-behavioural therapy, medication, relaxation techniques, mindfulness.</p>
						</li>
					</ul>
					<h5>You Can Overcome Anxiety. It Does Not Have To Stay That Way.</h5>
					<div class="btn-area"><a href="" class="btn-all"><i class="fa-regular fa-arrow-right"></i><span>GET STARTED</span></a></div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ----treatment-wrapper-end-------- -->



<!-- ----other-area-support-wrapper-start-------- -->
<section class="other-area-support-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 m-auto">
				<div class="out-support-areas">
					<div class="section-heading">
			            <h2>Other Area Of Support</h2>
			        </div>
					<div class="other-support-box">

						<a href="#">
							<div class="inner-support-box">
								<figure><img src="assets/image/Bipolar-Disorder.png" class="img-fluid"></figure>
								<h6>Bipolar Disorder <span><i class="fas fa-arrow-circle-right"></i></span></h6>
							</div>
						</a>

						<a href="#">
							<div class="inner-support-box">
								<figure><img src="assets/image/eating-disorders.svg" class="img-fluid"></figure>
								<h6>Eating Disorders <span><i class="fas fa-arrow-circle-right"></i></span></h6>
							</div>
						</a>

						<a href="#">
							<div class="inner-support-box">
								<figure><img src="assets/image/OCD.svg" class="img-fluid"></figure>
								<h6>OCD <span><i class="fas fa-arrow-circle-right"></i></span></h6>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ----other-area-support-wrapper-end-------- -->

<!-- footer-start --> 
<%- include('comman/footer') %>
<!-- footer-end -->