<!-- header-start -->

<%- include('comman/header'); %>

<!-- header-end -->

<!-- inner-banner-wrapper-start -->
<!-- <section class="inner-banner-wrapper testimonial" style=" background-image: linear-gradient(to left, rgba(111,174,249, 0) 10%,rgba(111,174,249, 0) 18%, rgb(244, 246, 250) 45%) ,url(assets/image/portrait-happy-smiling.jpg);">
	<div class="container">
		<div lang="row align-item-center">
			<div class="col-lg-6 m-auto">
				 <h1 class="main-heading">Blog</h1>
				 <nav aria-label="breadcrumb">
				  <ol class="breadcrumb">
				    <li class="breadcrumb-item"><a href="#">Home</a></li>
				    <li class="breadcrumb-item active" aria-current="page">Blog</li>
				  </ol>
				</nav>

			</div>
		</div>
	</div>
</section> -->
<!-- inner-banner-wrapper-end -->


<!-- blog-wrapper-start -->
<section class="blog-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 m-auto">
				<article class="article-block">
					<div class="blog-img-box">
						<figure><img src="assets/image/blog-img.jpg" class="img-fluid"></figure>
					</div>
					
					<div class="sub-heading">
						<h3>Healinghere healing together blog</h3>

					<div class="blog-name-box">
						<div class="blog-review">
							<span class="people-img">
								<figure><img src="assets/image/img_avatar.png" class="img-fluid"></figure>
							</span>
							<span class="by">Clinically Reviewed by</span>
							<span class="author"><a href="#">H. Rackham</a></span>
						</div>

						<div class="comment-review">
							<ul>
								<li class="Written-block">
									<span class="Written-img"><img src="assets/image/img_avatar.png" ></span>
									<span class="Written-by">Written by</span>
									<span class="Written-people"><a href="#"> H. Rackham</a></span>
									
								</li>
								<li>
									<span class="Written-by-time">7 minute read</span>
								</li>
							</ul>
						</div>
					</div>
						<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
					</div>
				</article>
			</div>
		</div>
	</div>
</section>
<!-- blog-wrapper-end -->


<!-- articles-wrapper-start -->
<section class="articles-wrapper the-method-wrapper-two">
	<div class="container">
		<div class="section-heading">

            <h2>Articles on our blog</h2>

        </div>
        <div class="out-articles">
			<div class="row mt-5 g-5">
				<div class="col-lg-4">
					<div class="article-box">
						<div class="inner-article-box">
								<div class="article-img">
									<figure><img src="assets/image/blog-img1.jpg" class="img-fluid"></figure>
								</div>

								<div class="article-cnt-info">
									<div class="article-cnt">
										<h6>Mental health</h6>
										<h3>The Stanford Experiment and the Lucifer Effect</h3>
									</div>

									<div class="article-profile-info">
										<figure>
			                                <img src="assets/image/customer.png" class="img-fluid">
			                            </figure>
			                            <div class="article-bottom-box">
										<h6>Nicoletta Signorelli</h6>
										<p>Psychoanalytic psychologist</p>
									</div>
									</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="article-box">
						<div class="inner-article-box">
								<div class="article-img">
									<figure><img src="assets/image/blog-img1.jpg" class="img-fluid"></figure>
								</div>

								<div class="article-cnt-info">
									<div class="article-cnt">
										<h6>Mental health</h6>
										<h3>Psychologist Bonus 2023: how to request it and what is important to know</h3>
									</div>

									<div class="article-profile-info">
										<figure>
			                                <img src="assets/image/customer.png" class="img-fluid">
			                            </figure>
			                            <div class="article-bottom-box">
										<h6>Editorial board</h6>
										<p>One good one</p>
									</div>
									</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="article-box">
						<div class="inner-article-box">
								<div class="article-img">
									<figure><img src="assets/image/blog-img1.jpg" class="img-fluid"></figure>
								</div>

								<div class="article-cnt-info">
									<div class="article-cnt">
										<h6>Mental health</h6>
										<h3>Meteoropathy: what it is, how it manifests itself and how it is treated</h3>
									</div>

									<div class="article-profile-info">
										<figure>
			                                <img src="assets/image/customer.png" class="img-fluid">
			                            </figure>
			                            <div class="article-bottom-box">
										<h6>Rosa Maria Garofalo</h6>
										<p>Psychotherapist with a systemic-relational orientation</p>
									</div>
									</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="article-box">
						<div class="inner-article-box">
								<div class="article-img">
									<figure><img src="assets/image/blog-img1.jpg" class="img-fluid"></figure>
								</div>

								<div class="article-cnt-info">
									<div class="article-cnt">
										<h6>Mental health</h6>
										<h3>Man and nature: the biophilia hypothesis</h3>
									</div>

									<div class="article-profile-info">
										<figure>
			                                <img src="assets/image/customer.png" class="img-fluid">
			                            </figure>
			                            <div class="article-bottom-box">
										<h6>Giada Sofia Del Monaco</h6>
										<p>Psychoanalytic psychologist</p>
									</div>
									</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="article-box">
						<div class="inner-article-box">
								<div class="article-img">
									<figure><img src="assets/image/blog-img1.jpg" class="img-fluid"></figure>
								</div>

								<div class="article-cnt-info">
									<div class="article-cnt">
										<h6>Mental health</h6>
										<h3>Mindfulness: how to learn to live in the here and now</h3>
									</div>

									<div class="article-profile-info">
										<figure>
			                                <img src="assets/image/customer.png" class="img-fluid">
			                            </figure>
			                            <div class="article-bottom-box">
										<h6>Erika Garbin</h6>
										<p>Systemic-relational oriented psychotherapist</p>
									</div>
									</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="article-box">
						<div class="inner-article-box">
								<div class="article-img">
									<figure><img src="assets/image/blog-img1.jpg" class="img-fluid"></figure>
								</div>

								<div class="article-cnt-info">
									<div class="article-cnt">
										<h6>Mental health</h6>
										<h3>World Mental Health Day: together to fight stigma</h3>
									</div>

									<div class="article-profile-info">
										<figure>
			                                <img src="assets/image/customer.png" class="img-fluid">
			                            </figure>
			                            <div class="article-bottom-box">
										<h6>Editorial board</h6>
										<p>One good one</p>
									</div>
									</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="article-box">
						<div class="inner-article-box">
								<div class="article-img">
									<figure><img src="assets/image/blog-img1.jpg" class="img-fluid"></figure>
								</div>

								<div class="article-cnt-info">
									<div class="article-cnt">
										<h6>Mental health</h6>
										<h3>Pet therapy</h3>
									</div>

									<div class="article-profile-info">
										<figure>
			                                <img src="assets/image/customer.png" class="img-fluid">
			                            </figure>
			                            <div class="article-bottom-box">
										<h6>Manuela Giametta</h6>
										<p>Psychodynamically oriented psychotherapist</p>
									</div>
									</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="article-box">
						<div class="inner-article-box">
								<div class="article-img">
									<figure><img src="assets/image/blog-img1.jpg" class="img-fluid"></figure>
								</div>

								<div class="article-cnt-info">
									<div class="article-cnt">
										<h6>Mental health</h6>
										<h3>Anhedonia: what it is, symptoms and causes</h3>
									</div>

									<div class="article-profile-info">
										<figure>
			                                <img src="assets/image/customer.png" class="img-fluid">
			                            </figure>
			                            <div class="article-bottom-box">
										<h6>Tania Catasso</h6>
										<p>Transactional Analytical Psychologist</p>
									</div>
									</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="article-box">
						<div class="inner-article-box">
								<div class="article-img">
									<figure><img src="assets/image/blog-img1.jpg" class="img-fluid"></figure>
								</div>

								<div class="article-cnt-info">
									<div class="article-cnt">
										<h6>Mental health</h6>
										<h3>Cognitive biases: what they are and how they affect our lives</h3>
									</div>

									<div class="article-profile-info">
										<figure>
			                                <img src="assets/image/customer.png" class="img-fluid">
			                            </figure>
			                            <div class="article-bottom-box">
										<h6>Sabrina Consumati</h6>
										<p>Cognitive-Behavioral Psychologist</p>
									</div>
									</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="article-box">
						<div class="inner-article-box">
								<div class="article-img">
									<figure><img src="assets/image/blog-img1.jpg" class="img-fluid"></figure>
								</div>

								<div class="article-cnt-info">
									<div class="article-cnt">
										<h6>Mental health</h6>
										<h3>Hypnosis</h3>
									</div>

									<div class="article-profile-info">
										<figure>
			                                <img src="assets/image/customer.png" class="img-fluid">
			                            </figure>
			                            <div class="article-bottom-box">
										<h6>Annarita Antoniani</h6>
										<p>Psychotherapist with Brief Strategic orientation</p>
									</div>
									</div>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
	</div>
</section>
<!-- articles-wrapper-start -->

<section class="areas-wrapper">
	<div class="container">
		<div class="row">
			<div class="main-area-block">
				<div class="area-box">
					<div class="inner-area-box">
						<div class="inner-area-main"><figure><img src="assets/image/Anxiety.svg" class="img-fluid"></figure></div>
						<h6>Anxiety</h6>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
						<a href="anxiety" class="get-start">GET STARTED <span><i class="fas fa-arrow-circle-right"></i></span></a>
					</div>
				</div>
				<div class="area-box">
					<div class="inner-area-box">
						<div class="inner-area-main"><figure><img src="assets/image/Depression.svg" class="img-fluid"></figure></div>
						<h6>Depression</h6>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
						<a href="depression" class="get-start">GET STARTED <span><i class="fas fa-arrow-circle-right"></i></span></a>
					</div>
				</div>
				<div class="area-box">
					<div class="inner-area-box">
						<div class="inner-area-main"><figure><img src="assets/image/Phobias.svg" class="img-fluid"></figure></div>
						<h6>Phobia </h6>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
						<a href="phobias" class="get-start">GET STARTED <span><i class="fas fa-arrow-circle-right"></i></span></a>
					</div>
				</div>
				<div class="area-box">
					<div class="inner-area-box">
						<div class="inner-area-main"><figure><img src="assets/image/relations-issues.svg" class="img-fluid"></figure></div>
						<h6>Relationships Issues OCD</h6>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
						<a href="ocd" class="get-start">GET STARTED <span><i class="fas fa-arrow-circle-right"></i></span></a>
					</div>
				</div>
				<div class="area-box">
					<div class="inner-area-box">
						<div class="inner-area-main"><figure><img src="assets/image/eating-disorders.svg" class="img-fluid"></figure></div>
						<h6>Eating disorders OCD</h6>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
						<a href="eating-disorders" class="get-start">GET STARTED <span><i class="fas fa-arrow-circle-right"></i></span></a>
					</div>
				</div>
				<div class="area-box">
					<div class="inner-area-box">
						<div class="inner-area-main"><figure><img src="assets/image/Sexuality.svg" class="img-fluid"></figure></div>
						<h6>Sexuality</h6>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
						<a href="#" class="get-start">GET STARTED <span><i class="fas fa-arrow-circle-right"></i></span></a>
					</div>
				</div>
				<div class="area-box">
					<div class="inner-area-box">
						<div class="inner-area-main"><figure><img src="assets/image/Career.svg" class="img-fluid"></figure></div>
						<h6>Career</h6>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
						<a href="#" class="get-start">GET STARTED <span><i class="fas fa-arrow-circle-right"></i></span></a>
					</div>
				</div>
				<div class="area-box">
					<div class="inner-area-box">
						<div class="inner-area-main"><figure><img src="assets/image/finances.svg" class="img-fluid"></figure></div>
						<h6>Finances</h6>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
						<a href="#" class="get-start">GET STARTED <span><i class="fas fa-arrow-circle-right"></i></span></a>
					</div>
				</div>
				<div class="area-box">
					<div class="inner-area-box">
						<div class="inner-area-main"><figure><img src="assets/image/Sleep.svg" class="img-fluid"></figure></div>
						<h6>Sleep</h6>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
						<a href="#" class="get-start">GET STARTED <span><i class="fas fa-arrow-circle-right"></i></span></a>
					</div>
				</div>
				<div class="area-box">
					<div class="inner-area-box">
						<div class="inner-area-main"><figure><img src="assets/image/pain-management.svg" class="img-fluid"></figure></div>
						<h6>Pain management</h6>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
						<a href="#" class="get-start">GET STARTED <span><i class="fas fa-arrow-circle-right"></i></span></a>
					</div>
				</div>
				<div class="area-box">
					<div class="inner-area-box">
						<div class="inner-area-main"><figure><img src="assets/image/loss.svg" class="img-fluid"></figure></div>
						<h6>Loss</h6>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
						<a href="#" class="get-start">GET STARTED <span><i class="fas fa-arrow-circle-right"></i></span></a>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<!-- get-started-section-start -->

<section class="get-started" id="get_started">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

         <div class="section-heading" data-aos="zoom-in" data-aos-delay="100">

            <h2>"Ready to join us on <br>a tranformative adventure?...."</h2>

            <p>Let’s find the best therapist match for you. </p>

        </div>

        <div class="btn-area">

                <a href="" class="btn-all"><i class="fa-regular fa-arrow-right"></i><span>get started now</span></a>

        </div>

    </div>

    <div class="bottom-after">

        <img src="assets/image/g-bottom.png" class="img-fluid" />

    </div>

</section>

<!-- get-started-section-end -->

<!-- footer-start -->

<%- include('comman/footer'); %>

<!-- footer-end -->