<!-- header-start --> 
<%- include('comman/header'); %>
<!-- header-end -->




<!-- inner-banner-wrapper-start -->
<section class="inner-banner-wrapper testimonial" style=" background-image: linear-gradient(to left, rgba(111,174,249, 0) 10%,rgba(111,174,249, 0) 18%, rgb(244, 246, 250) 45%) ,url(assets/image/young-person.jpg);">
  <div class="container">
    <div lang="row align-item-center">
      <div class="col-lg-6 m-auto">
        <h1 class="main-heading">Couples Therapyy </h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a href="#">Services</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Couples Therapyy</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- inner-banner-wrapper-end -->





<!-- Couples-therapy-wrapper-start -->
<section class="Couples-therapy-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="Couples-therapy-content">
          <div class="sub-heading">
            <h3>Couples Therapy</h3>
            <p>With healinhere Couples Therapists</p>
          </div>
          <div class="btn-area mt-4">
            <a href="" class="btn-all">
              <i class="fa-regular fa-arrow-right"></i>
              <span>LET’S START</span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="Couples-therapy-img">
          <img src="assets/image/couple-img.png" class="img-fluid">
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Couples-therapy-wrapperr-end -->



<!-- howIt-work-section-start -->
<section class="howIt-work-section">
  <div class="container">
    <div class="section-heading aos-init aos-animate" data-aos="fade-up" data-aos-delay="500">
      <h2>How it works</h2>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="howIt-work-main">
          <div class="howIt-work-image">
            <img src="assets/image/petition.png">
          </div>
          <div class="howIt-work-content">
            <h4>Initial questionnaire</h4>
            <p>Register by filling in your questionnaire to get matched with the right specialist for you.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="howIt-work-main">
          <div class="howIt-work-image">
            <img src="assets/image/profile.png">
          </div>
          <div class="howIt-work-content">
            <h4>AI-Led Matching</h4>
            <p>We will match you with the right therapist for you based on your needs (this typically happens within 24 hrs max).</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="howIt-work-main">
          <div class="howIt-work-image">
            <img src="assets/image/video-chat.png">
          </div>
          <div class="howIt-work-content">
            <h4>You Start therapy</h4>
            <p>You have a free discovery call with your assigned therapist before you start your payment towards a more empowered you.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-area">
      <a href="" class="btn-all">
        <i class="fa-regular fa-arrow-right"></i>
        <span>WE ARE READY</span>
      </a>
    </div>
  </div>
</section>
<!-- howIt-work-section-end -->



<!-- healinhere-Benefits-wrapper-start -->
<section class="healinhere-Benefits-wrapper the-method-wrapper-two">
  <div class="container">
    <div class="section-heading">
            <h2>Some Of The Benefits Of <span>Couples</span> Therapy</h2>
            <p>healinhere Couples Therapy give themselves a chance of nurturing their relationship Well-being</p>
        </div>
    <div class="row mt-5">
      <div class="col-lg-4 d-flex">
        <div class="out-benefit-box">
          <div class="benefits-cnt">
            <div class="sub-heading">
                <h4>1. Identifying Relationship Issues:</h4>
                <p>In your healinhere couples therapy, our unbiased professionals will help you identify specific relationship issues. Through open communication and guided discussions, you'll gain clarity on th areas that need attention, fostering a deeper understanding.</p>
              </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-flex">
        <div class="out-benefit-box">
          <div class="benefits-cnt">
            <div class="sub-heading">
                <h4>2. Rediscovering Strengths:</h4>
                <p>Our focus is on developing a solutions-oriented approach to rediscover and enhance your relationship's inherent strengths. healinhere empowers you to build on the positive aspects, fostering resilience and growth in your partnership.</p>
              </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 d-flex">
        <div class="out-benefit-box">
          <div class="benefits-cnt">
            <div class="sub-heading">
                <h4>3. Understanding Dysfunctional Dynamics:</h4>
                <p>Gain profound insights into patterns that may cause distress and dysfunctional dynamics in your relationship. Through expert analysis and tailored strategies, healinhere guides you in understanding and addressing these dynamics for positive change.</p>
              </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 d-flex">
        <div class="out-benefit-box">
          <div class="benefits-cnt">
            <div class="sub-heading">
                <h4>4. Empathy and Resolution Practices:</h4>
                <p>healinhere's couples therapy incorporates proven conflict-resolution strategies. Enhance your empathy, problem-solving skills, and conflict resolution abilities through dedicated sessions, empowering both partners to navigate challenges effectively.</p>
                </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 d-flex">
        <div class="out-benefit-box">
          <div class="benefits-cnt">
            <div class="sub-heading">
                <h4>5. Restoring Trust:</h4>
                <p>Communication is key. healinhere equips you with communication tools designed to increase vulnerability and rebuild trust. Learn how to express yourself openly, fostering a supportive environment that encourages trust and emotional intimacy.</p>
               </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 d-flex">
        <div class="out-benefit-box">
          <div class="benefits-cnt">
            <div class="sub-heading">
                <h4>6. Ongoing Support:</h4>
                <p>Your journey doesn't end with sessions. healinhere provides continuous support through live video sessions and unlimited messaging. Stay connected with your dedicated therapist for ongoing guidance, ensuring sustained progress and well-being in your relationship.</p>
                <p>Embark on a transformative couples therapy experience with healinhere – where support, understanding, and growth come together for a healed and empowered relationship.</p>
               </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-4 text-center"><a href="" class="btn-all"><i class="fa-regular fa-arrow-right"></i><span>WE ARE READY</span></a></div>
  </div>
</section>
<!-- healinhere-Benefits-wrapper-end -->



<!-- Type-Couples-Therapy-wrapper-start -->
<section class="Type-Couples-Therapy-wrapper">
  <div class="container">
    <div class="section-heading">
        <h2>Types Of <span>Couples</span> Therapy</h2>
        <p>healinhere Couples Therapy give themselves a chance of nurturing their relationship Well-being</p>
    </div>
    <div class="row mt-5">
      <div class="col-lg-6 d-flex">
        <div class="Type-box">
          <div class="inner-type">
            <div class="sub-heading">
              <h4>Couples Therapy:</h4>
              <p>Couples therapy, also known as marriage or relationship counselling, involves one of our licensed therapists working with a couple to address various issues within their relationship. The focus is on improving communication, resolving conflicts, and enhancing the overall quality of the relationship. It can be beneficial for couples at any stage, from those seeking premarital counselling to those facing significant challenges.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 d-flex">
        <div class="Type-box">
          <div class="inner-type">
            <div class="sub-heading">
              <h4>Individual Relationship Therapy:</h4>
              <p>While relationship therapy typically involves couples or families, individual relationship therapy focuses on one partner's or family member's perspective. This form of therapy can be beneficial when one person wants to explore personal issues that affect the relationship or when one member of a family is unwilling or unable to participate in joint therapy sessions.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 d-flex">
        <div class="Type-box">
          <div class="inner-type">
            <div class="sub-heading">
              <h4>Sex Therapy:</h4>
              <p>Sex therapy is a specialised form of relationship therapy that focuses on addressing sexual issues within a relationship. A certified sex therapist helps couples explore and overcome challenges related to intimacy, sexual communication, and any concerns impacting their sexual relationship. This type of therapy can be valuable for couples experiencing difficulties or seeking to enhance their sexual connection.</p>
              <p>These types of relationship therapies aim to provide tailored support based on the unique dynamics and challenges each relationship faces.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 d-flex">
        <div class="Type-box">
          <div class="inner-type">
            <div class="sub-heading">
              <h4>Conflict Resolution Therapy</h4>
              <p>Conflict Resolution Therapy is a therapeutic approach designed to help individuals and couples effectively navigate and manage conflicts within their relationships. This form of therapy empowers participants with essential skills to identify, address, and resolve conflicts in a constructive manner. A trained therapist guides the process, encouraging open communication, active listening, and the development of mutually beneficial solutions. Conflict Resolution Therapy aims to transform conflicts from destructive patterns into opportunities for growth and understanding. Participants learn to express their needs and concerns while fostering empathy and respect for the perspectives of others. This therapeutic model is valuable for anyone seeking to enhance their conflict resolution skills and build healthier, more resilient relationships.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Type-Couples-Therapy-wrapper-end -->




<!-- happy-couple-wrapper-start -->
<section class="happy-couple-wrapper"  style="background-image: linear-gradient(to right, rgba(111,174,249, 0) 10%,rgba(111,174,249, 0) 26%, rgb(242 253 251) 68%) ,url(assets/image/young-couple.png);">
  <div class="container-fluid p-0">
    <div class="row">
        <div class="col-lg-5 ms-auto">
          <div class="Benefits-happy-couple">
            <div class="sub-heading">
              <h3>Benefits of <span>healinhere</span></h3>
              <ul>
                <li><figure><img src="assets/image/No-commuting-needed.svg"/></figure>No commuting needed</li>
                <li><figure><img src="assets/image/Real-time-support.svg"/></figure>Real-time professional and heart-centred support</li>
                <li><figure><img src="assets/image/Change-therapist-needed.svg"/></figure>Change therapist if needed</li>
              </ul>
              <!-- <a href="" class="btn-all"><i class="fa-regular fa-arrow-right"></i><span>GET STARTED</span></a> -->
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
<!-- happy-couple-wrapper-end -->




<!-- faq-wrapper-start -->

<section class="faq-wrapper">
  <div class="container">
    <div class="section-heading aos-init aos-animate" data-aos="fade-up" data-aos-delay="500">

            <h2>Frequently <span>Asked Questions</span> For Couples Therapy</h2>

        </div>

        <div class="row">
          <div class="col-lg-9 m-auto">

            <div class="accordion" id="accordi1xample">

              <div class="accordion-item panel-default">
                <h2 class="accordion-header" id="heading1-couples">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1-couples" aria-expanded="true" aria-controls="collapse1" aria-controls="collapse1-couples" >
                   What is Couples Therapy, and how does it work?
                  </button>
                </h2>
                <div id="collapse1-couples" class="accordion-collapse collapse show" aria-labelledby="heading1-couples" data-bs-parent="#accordi1xample">
                  <div class="accordion-body">
                    <p>Couples Therapy involves a licensed therapist working with a couple to address relationship issues. The process focuses on improving communication, resolving conflicts, and fostering a healthie dynamic.</p>
                  </div>
                </div>
              </div>

              <div class="accordion-item panel-default">
                <h2 class="accordion-header" id="heading2-couples">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2-couples" aria-expanded="false" aria-controls="collapse2-couples">
                 How do I know if Couples Therapy is right for us?
                  </button>
                </h2>
                <div id="collapse2-couples" class="accordion-collapse collapse" aria-labelledby="heading2-couples" data-bs-parent="#accordi1xample">
                  <div class="accordion-body">
                   <p>Couples Therapy can benefit relationships at any stage, addressing various challenges from communication breakdowns to significant conflicts. If you're facing difficulties, seeking professional guidance can be beneficial.</p>
                  </div>
                </div>
              </div>

              <div class="accordion-item panel-default">
                <h2 class="accordion-header" id="heading3-couples">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3-couples" aria-expanded="false" aria-controls="collapse3-couples">
                    How long does Couples Therapy typically last?
                  </button>
                </h2>
                <div id="collapse3-couples" class="accordion-collapse collapse" aria-labelledby="heading3-couples" data-bs-parent="#accordi1xample">
                  <div class="accordion-body">
                    <p>The duration varies based on the unique needs of each couple. Sessions may range from a few weeks to several months, depending on the complexity of issues and the progress made.</p>
                  </div>
                </div>
              </div>

              <div class="accordion-item panel-default">
                <h2 class="accordion-header" id="heading4-couples">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4-couples" aria-expanded="false" aria-controls="collapse4-couples">
                   What should we expect in a Couples Therapy session?
                  </button>
                </h2>
                <div id="collapse4-couples" class="accordion-collapse collapse" aria-labelledby="heading4-couples" data-bs-parent="#accordi1xample">
                  <div class="accordion-body">
                   <p>Sessions involve open dialogue, facilitated by a therapist, to explore and address relationship issues. Expect guided discussions, practical exercises, and strategies to enhance communication and understanding.</p>
                  </div>
                </div>
              </div>

              <div class="accordion-item panel-default">
                <h2 class="accordion-header" id="heading5-couples">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5-couples" aria-expanded="false" aria-controls="collapse5-couples">
                   Can one partner attend therapy alone, or is it always done as a couple?
                  </button>
                </h2>
                <div id="collapse5-couples" class="accordion-collapse collapse" aria-labelledby="heading5-couples" data-bs-parent="#accordi1xample">
                  <div class="accordion-body">
                   <p>While couples therapy typically involves both partners, individual sessions may be recommended based on specific circumstances to address personal issues affecting the relationship.</p>
                  </div>
                </div>
              </div>

              <div class="accordion-item panel-default">
                <h2 class="accordion-header" id="heading6-couples">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6-couples" aria-expanded="false" aria-controls="collapse6-couples">
                    Is everything discussed in therapy confidential?
                  </button>
                </h2>
                <div id="collapse6-couples" class="accordion-collapse collapse" aria-labelledby="heading6-couples" data-bs-parent="#accordi1xample">
                  <div class="accordion-body">
                   <p>Yes, confidentiality is a priority. However, therapists may disclose information if there's a risk of harm. Establishing trust and open communication with your therapist is crucial.</p>
                  </div>
                </div>
              </div>

              <div class="accordion-item panel-default">
                <h2 class="accordion-header" id="heading7-couples">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7-couples" aria-expanded="false" aria-controls="collapse7-couples">
                   How do we choose the right Couples Therapist for us?
                  </button>
                </h2>
                <div id="collapse7-couples" class="accordion-collapse collapse" aria-labelledby="heading7-couples" data-bs-parent="#accordi1xample">
                  <div class="accordion-body">
                   <p>Consider factors like experience, therapeutic approach, and compatibility. It's essential to find a therapist who aligns with your goals and creates a safe space for open communication.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
</section>

<!-- faq-wrapper-end -->



<!-- get-started-section-start -->

<section class="get-started" id="get_started">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="section-heading" data-aos="zoom-in" data-aos-delay="100">

            <h2>"Ready to join us on <br>a tranformative adventure?...."</h2>

            <p>Let’s find the best therapist match for you. </p>

        </div>

        <div class="btn-area">

                <a href="" class="btn-all"><i class="fa-regular fa-arrow-right"></i><span>get started now</span></a>

        </div>

    </div>

    <div class="bottom-after">

        <img src="assets/image/g-bottom.png" class="img-fluid" />

    </div>

</section>

<!-- get-started-section-end -->
<!-- footer-start --> 
<%- include('comman/footer'); %>
<!-- footer-end -->