<!-- header-start --> 
<%- include('comman/header'); %>
<!-- header-end -->


<section class="treatment-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 m-auto">
				<div class="treatment-cnt text-center">
					<div class="sub-heading">
						<h3>Depression</h3>
						<p>Depression is a mental health condition characterised by persistent feelings of sadness, hopelessness, and a lack of interest or pleasure in daily activities. It may impact sleep, appetite, and overall energy levels, leading to profound emotional and physical fatigue.</p>
					</div>
				</div>
			</div>

			<div class="bottom-area-treatment">
				<div class="treatment-cnt">
					<ul>
						<li class="sub-heading">
							<h3>Symptoms:</h3>
							<p>Persistent sadness, fatigue, changes in sleep and appetite, loss of interest or pleasure, feelings of worthlessness.</p>
						</li>
						<li class="sub-heading">
							<h3>Causes:</h3>
							<p>Traumatic life events, chronic stress.</p>
						</li>
						<li class="sub-heading">
							<h3>Types:</h3>
							<p>Major depressive disorder, persistent depressive disorder, bipolar depression.</p>
						</li>
						<li class="sub-heading">
							<h3>Ways to Heal:</h3>
							<p>Psychotherapy, medication, lifestyle changes, support groups.</p>
						</li>
					</ul>
					<h5>You Can Overcome Depressive States</h5>
					<div class="btn-area"><a href="" class="btn-all"><i class="fa-regular fa-arrow-right"></i><span>GET STARTED</span></a></div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="other-area-support-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 m-auto">
				<div class="out-support-areas">
					<div class="section-heading">
			            <h2>Other Area Of Support</h2>
			        </div>
					<div class="other-support-box">
						<a href="#">
							<div class="inner-support-box">
								<figure><img src="assets/image/Anxiety.svg" class="img-fluid"></figure>
								<h6>Anxiety <span><i class="fas fa-arrow-circle-right"></i></span></h6>
							</div>
						</a>

						<a href="#">
							<div class="inner-support-box">
								<figure><img src="assets/image/Bipolar-Disorder.png" class="img-fluid"></figure>
								<h6>Bipolar Disorder <span><i class="fas fa-arrow-circle-right"></i></span></h6>
							</div>
						</a>

						<a href="#">
							<div class="inner-support-box">
								<figure><img src="assets/image/eating-disorders.svg" class="img-fluid"></figure>
								<h6>Eating Disorders <span><i class="fas fa-arrow-circle-right"></i></span></h6>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- footer-start --> 
<%- include('comman/footer'); %>
<!-- footer-end -->