<!-- header-start -->

<%- include('comman/header'); %>

<!-- header-end -->


<!-- inner-banner-wrapper-start -->
<section class="inner-banner-wrapper testimonial" style=" background-image: linear-gradient(to left, rgba(111,174,249, 0) 10%,rgba(111,174,249, 0) 18%, rgb(244, 246, 250) 45%) ,url(assets/image/young-person.jpg);">
	<div class="container">
		<div lang="row align-item-center">
			<div class="col-lg-6 m-auto">
				 <h1 class="main-heading">FAQ’s</h1>
				 <nav aria-label="breadcrumb">
				  <ol class="breadcrumb">
				    <li class="breadcrumb-item"><a href="#">Home</a></li>
				    <li class="breadcrumb-item"><a href="#">About</a></li>
				    <li class="breadcrumb-item active" aria-current="page">FAQ’s</li>
				  </ol>
				</nav>

			</div>
		</div>
	</div>
</section>
<!-- inner-banner-wrapper-end -->


<!-- faq-wrapper-start -->

<section class="faq-wrapper">
	<div class="container">
		<div class="section-heading" data-aos="fade-up" data-aos-delay="500">

            <h2>Some <span>Questions & Answers</span></h2>

        </div>

		<div class="row">
			<div class="col-lg-9 m-auto">

				<div class="accordion" id="accordi1xample">

				  <div class="accordion-item panel-default">
				    <h2 class="accordion-header" id="heading1">
				      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
				       What is healinhere, and how does it work?
				      </button>
				    </h2>
				    <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1" data-bs-parent="#accordi1xample">
				      <div class="accordion-body">
				        <P>healinhere is a therapy platform 100% online. We strive to make mental health support accessible and affordable to all. With healinhere, you can message a professional therapist anytime, anywhere.</P>
				      </div>
				    </div>
				  </div>

				  <div class="accordion-item panel-default">
				    <h2 class="accordion-header" id="heading2">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
				      Who will help me in the process?
				      </button>
				    </h2>
				    <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordi1xample">
				      <div class="accordion-body">
				       <P>Once you join healinhere, we'll connect you with an compatible therapist tailored to your goals, preferences, and the specific challenges you're facing. Our therapists bring diverse approaches and areas of expertise, ensuring you find the perfect match for optimal results. While our success rate in making successful matches is high, we understand the importance of the right fit. If you start the process and feel your therapist isn't the ideal match, you have the option to be seamlessly matched with a different therapist. Your journey to well-being is personalized from the start.</P>
				      </div>
				    </div>
				  </div>

				  <div class="accordion-item panel-default">
				    <h2 class="accordion-header" id="heading3">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
				        How do I sign up for healinhere and match with a therapist?
				      </button>
				    </h2>
				    <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordi1xample">
				      <div class="accordion-body">
				        <P><a href="#">Click here</a> to answer your questionnaire and get matched with the right therapist for you.</P>
				      </div>
				    </div>
				  </div>

				  <div class="accordion-item panel-default">
				    <h2 class="accordion-header" id="heading4">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
				        How are the therapists selected and verified?
				      </button>
				    </h2>
				    <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordi1xample">
				      <div class="accordion-body">
				       <P>Therapists on healinhere are qualified, trained, and experienced Practitioner Psychologists, Accredited Counsellors, Accredited Coaches, Psychotherapists, Psychiatrists, Hypnotherapists or hold similar recognized professional certifications. Each therapist holds a relevant academic degree, possesses a minimum of 3 years of experience, and is required to be qualified and accredited by their respective professional organization. This accreditation is achieved through the successful completion of necessary education, exams, training, practice, and ongoing supervision requirements. Your well-being is in the hands of credentialed experts committed to providing quality care.</P>
				      </div>
				    </div>
				  </div>

				  <div class="accordion-item panel-default">
				    <h2 class="accordion-header" id="heading5">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
				       How much does it cost?
				      </button>
				    </h2>
				    <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordi1xample">
				      <div class="accordion-body">
				       <P>The cost of therapy through healinhere ranges from £60 - £100 per week (billed every 4 weeks) and it is based on your location, preferences, and therapist availability. You can cancel your membership at any time, for any reason.</P>
				      </div>
				    </div>
				  </div>

				  <div class="accordion-item panel-default">
				    <h2 class="accordion-header" id="heading6">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
				        How do I know if healinhere is right for me?
				      </button>
				    </h2>
				    <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6" data-bs-parent="#accordi1xample">
				      <div class="accordion-body">
				       <P>healinhere is right for you is you are looking for a better life. Whether it's stress, anxiety, relationships, parenting, depression, addictions, or more, our specialized therapists are here to help.</P>
				       <P>However, healinhere may not be suitable if you're a minor, in an urgent crisis, under court-ordered therapy, or lack reliable internet access. Start your healing journey <a href="#">HERE</a></P>
				      </div>
				    </div>
				  </div>

				  <div class="accordion-item panel-default">
				    <h2 class="accordion-header" id="heading7">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
				        I signed up. How long until I get a matched therapist?
				      </button>
				    </h2>
				    <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7" data-bs-parent="#accordi1xample">
				      <div class="accordion-body">
				       <P>The process can take from a few hours to up to a few days depending on therapists availability.</P>
				      </div>
				    </div>
				  </div>

				  <div class="accordion-item panel-default">
				    <h2 class="accordion-header" id="heading8">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
				       What types of therapy are offered on healinhere?
				      </button>
				    </h2>
				    <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8" data-bs-parent="#accordi1xample">
				      <div class="accordion-body">
				     	<P>haelinhere therapists come from a variety of backgrounds and specialty fields. Between some of those:</P>
				     	<ul>
				     		<li>Cognitive Behavioral Therapy (CBT)</li>
				     		<li>Emotion-focused Therapy (EFT)</li>
				     		<li>Exposure Therapy</li>
				     		<li>Grief Counselling</li>
				     		<li>Humanistic Therapy</li>
				     		<li>Psychodynamic Therapy</li>
				     		<li>Somatic Therapy</li>
				     		<li>Talk Therapy</li>
				     		<li>Person-Centred Therapy</li>
				     		<li>Rapid Transformational Hypnotherapy (RTH)</li>
				     		<li>Internal Family Systems (IFS) Therapy</li>
				     		<li>RTT (Rapid Transformational Therapy)</li>
				     		<li>Coaching</li>
				     	</ul>
				      </div>
				    </div>
				  </div>

				  <div class="accordion-item panel-default">
				    <h2 class="accordion-header" id="heading9">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
				       How will I communicate with my therapist?
				      </button>
				    </h2>
				    <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9" data-bs-parent="#accordi1xample">
				      <div class="accordion-body">
				     	<p>Communication can happen in 4 ways depending on you and your therapist:</p>
				     	<ul>
				     		<li>Exchanging messages with your therapist</li>
				     		<li>Chatting live with your therapist</li>
				     		<li>Speaking over the phone with your therapist</li>
				     		<li>Video conferencing with your therapist</li>
				     	</ul>
				     	<p>You can use different ways at different times as you wish, based on your needs, availability, and convenience.</p>
				      </div>
				    </div>
				  </div>


				  <div class="accordion-item panel-default">
				    <h2 class="accordion-header" id="heading10">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
				      How can I message with my therapist?
				      </button>
				    </h2>
				    <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10" data-bs-parent="#accordi1xample">
				      <div class="accordion-body">
					     <P>Once matched with a healinhere therapist, you'll access a secure therapy room—your private space to communicate. Write about yourself, life events, ask questions, and discuss your concerns.</P>
					     <P>Messaging is not real-time, allowing flexibility without scheduling.</P>
					     <P>Send messages anytime from any internet-connected device. Receive therapist responses with questions, feedback, insights, and guidance.</P>
					     <P>Get email notifications for therapist messages. Your therapeutic journey, your schedule, your terms—healinhere is here for you.</P>
				      </div>
				    </div>
				  </div>


				  <div class="accordion-item panel-default">
				    <h2 class="accordion-header" id="heading11">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
				      How do live video sessions work?
				      </button>
				    </h2>
				    <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11" data-bs-parent="#accordi1xample">
				      <div class="accordion-body">
				     	<P>Enjoy in a video face-to-face session with your healinhere therapist through video chat. Schedule a convenient time, log into your therapy room, and your therapist will guide you to start the video session. With a simple confirmation, you'll seamlessly connect and communicate in real-time. Elevate your therapy experience with personalized video sessions at healinhere.</P>
				      </div>
				    </div>
				  </div>

				  <div class="accordion-item panel-default">
				    <h2 class="accordion-header" id="heading12">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
				      What technology or equipment do I need to use healinhere?
				      </button>
				    </h2>
				    <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12" data-bs-parent="#accordi1xample">
				      <div class="accordion-body">
				     	<P>You online need a wifi connection and any device such as your laptop of mobile phone.</P>
				      </div>
				    </div>
				  </div>

				  <div class="accordion-item panel-default">
				    <h2 class="accordion-header" id="heading13">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
				     How long can I use healinhere for?
				      </button>
				    </h2>
				    <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="heading13" data-bs-parent="#accordi1xample">
				      <div class="accordion-body">
				     	<P>As long as you wish and as your therapists advices based on your issues and needs.</P>
				      </div>
				    </div>
				  </div>

				  <div class="accordion-item panel-default">
				    <h2 class="accordion-header" id="heading14">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
				     Is healinhere available internationally?
				      </button>
				    </h2>
				    <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="heading14" data-bs-parent="#accordi1xample">
				      <div class="accordion-body">
				     	<P>healinhere is available anywhere in the world you can access a computer, phone, ipad and have access to the internet.</P>
				      </div>
				    </div>
				  </div>


				  <div class="accordion-item panel-default">
				    <h2 class="accordion-header" id="heading15">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
				    How will I pay for my healinhere membership?
				      </button>
				    </h2>
				    <div id="collapse15" class="accordion-collapse collapse" aria-labelledby="heading15" data-bs-parent="#accordi1xample">
				      <div class="accordion-body">
				     	<P>Your membership payments will be charged to your chosen credit card or PayPal on a recurring basis. If you accomplish your goals or if you chose to stop the therapy, you can simply cancel the subscription.</P>
				      </div>
				    </div>
				  </div>


				  <div class="accordion-item panel-default">
				    <h2 class="accordion-header" id="heading16">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
				    Do you offer financial assistance or insurance coverage?
				      </button>
				    </h2>
				    <div id="collapse16" class="accordion-collapse collapse" aria-labelledby="heading16" data-bs-parent="#accordi1xample">
				      <div class="accordion-body">
				     	<P>Do consider the following:</P>
				     	<ul>
				     		<li>- Several health insurance plans offer partial or limited coverage.</li>
				     		<li>- Even with coverage, your co-pay may exceed the cost of healinhere.</li>
				     		<li>- Reimbursement often requires a therapist&#39;s diagnosis and submission of clinical details to the insurance company.</li>
				     		<li>- healinhere offers affordable pricing comparable to most insurance co-pays. Your well-being is our priority with accessible options.</li>
				     	</ul>
				      </div>
				    </div>
				  </div>

				  <div class="accordion-item panel-default">
				    <h2 class="accordion-header" id="heading17">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse17" aria-expanded="false" aria-controls="collapse17">
				    How often can I schedule therapy sessions?
				      </button>
				    </h2>
				    <div id="collapse17" class="accordion-collapse collapse" aria-labelledby="heading17" data-bs-parent="#accordi1xample">
				      <div class="accordion-body">
				     	<P>It will be down to you and your therapist assessment to identify the ideal number of sessions required to give you the necessary support and healing outlet. Once a week is the norm.</P>
				     	</ul>
				      </div>
				    </div>
				  </div>

				  <div class="accordion-item panel-default">
				    <h2 class="accordion-header" id="heading18">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse18" aria-expanded="false" aria-controls="collapse18">
				    	What if I don't feel a connection with my assigned therapist?
				      </button>
				    </h2>
				    <div id="collapse18" class="accordion-collapse collapse" aria-labelledby="heading18" data-bs-parent="#accordi1xample">
				      <div class="accordion-body">
				     	<P>Your first discovery call is free so that will give you a great opportunity to assess the connection. A second free discovery call will be made available to you at no cost. We are there to make sure you find the right support.</P>
				      </div>
				    </div>
				  </div>

				  <div class="accordion-item panel-default">
				    <h2 class="accordion-header" id="heading19">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse19" aria-expanded="false" aria-controls="collapse19">
				    	Can I switch therapists if needed, and how does that process work?
				      </button>
				    </h2>
				    <div id="collapse19" class="accordion-collapse collapse" aria-labelledby="heading19" data-bs-parent="#accordi1xample">
				      <div class="accordion-body">
				     	<P>You simply message customer service from your login page and we will do the work for you.</P>
				      </div>
				    </div>
				  </div>

				  <div class="accordion-item panel-default">
				    <h2 class="accordion-header" id="heading20">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse20" aria-expanded="false" aria-controls="collapse20">
				    	Is healinhere suitable for children or teenagers?
				      </button>
				    </h2>
				    <div id="collapse20" class="accordion-collapse collapse" aria-labelledby="heading20" data-bs-parent="#accordi1xample">
				      <div class="accordion-body">
				     	<P>healinhere is currently only available to teenagers but we are working hard to open it to children too.</P>
				      </div>
				    </div>
				  </div>

				  <div class="accordion-item panel-default">
				    <h2 class="accordion-header" id="heading21">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse21" aria-expanded="false" aria-controls="collapse21">
				    	Are therapy sessions recorded, and can I access them later?
				      </button>
				    </h2>
				    <div id="collapse21" class="accordion-collapse collapse" aria-labelledby="heading21" data-bs-parent="#accordi1xample">
				      <div class="accordion-body">
				     	<P>Your session notes can be saved on your page and your therapist can share with you files, tools and video links on the shared page. You will be able to access it. Sessions are not recorded to protect your privacy but the relevant notes are accessible to you.</P>
				      </div>
				    </div>
				  </div>

				  <div class="accordion-item panel-default">
				    <h2 class="accordion-header" id="heading22">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse22" aria-expanded="false" aria-controls="collapse22">
				    	How can I be sure that therapy done on healinhere is effective?
				      </button>
				    </h2>
				    <div id="collapse22" class="accordion-collapse collapse" aria-labelledby="heading22" data-bs-parent="#accordi1xample">
				      <div class="accordion-body">
				     	<P>Numerous studies validate the efficacy of online platforms for life-changing experiences. A study conducted by researchers from the University of California - Berkeley, University of California - San Francisco, and San Francisco General Hospital, published by JMIR Publications, "found that users of online therapy services experienced significantly reduced depression symptom severity."</P>
				     	<p>Our confidence in healinhere is reinforced by user feedback and testimonials. Daily, we're thrilled to learn how our service is making a significant impact on people's lives.</p>
				      </div>
				    </div>
				  </div>

				  <div class="accordion-item panel-default">
				    <h2 class="accordion-header" id="heading23">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse23" aria-expanded="false" aria-controls="collapse23">
				    	Will my therapist treat what I say as confidential?
				      </button>
				    </h2>
				    <div id="collapse23" class="accordion-collapse collapse" aria-labelledby="heading23" data-bs-parent="#accordi1xample">
				      <div class="accordion-body">
				     	<P>All healinhere therapists are registered professionals who have completed the necessary education, exams, training, and ongoing supervision as required by their respective organizations.</P>
				     	<p>Confidentiality is a cornerstone, but there are exceptions. If there's a threat of harm to you or someone else, therapists may report it to relevant authorities. Therapists also undergo ongoing professional supervision as mandated by their organization. Before starting therapy, discuss confidentiality with your therapist for clarity.</p>
				     	<p>For details on how healinhere safeguards your interactions with therapists, please refer to our Privacy Policy <a href="#">HERE</a></p>
				      </div>
				    </div>
				  </div>

				  <div class="accordion-item panel-default">
				    <h2 class="accordion-header" id="heading24">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse24" aria-expanded="false" aria-controls="collapse24">
				    	How is my privacy and security protected?
				      </button>
				    </h2>
				    <div id="collapse24" class="accordion-collapse collapse" aria-labelledby="heading24" data-bs-parent="#accordi1xample">
				      <div class="accordion-body">
				     	<P>Explore how healinhere safeguards your privacy at Will my therapist treat what I say as confidential?<a href="#">(link)</a> .</P>
				     	<p>Your information is protected by robust measures:</p>
				     		<ul>
				     			<li>Our state-of-the-art technology prioritizes privacy and data security.</li>
				     			<li>Utilize the "Remove Message" option for message control.</li>
				     			<li>Messages are encrypted with banking-grade 256-bit encryption.</li>
				     			<li>healinhere is HITRUST Risk-based, 2-year (r2) Certified.</li>
				     			<li>Databases are encrypted and scrambled for added protection.</li>
				     			<li>We don't collaborate with insurance companies, ensuring your privacy.</li>
				     			<li>For third-party information release, inform your therapist for facilitation.</li>
				     			<li>Your confidentiality matters at healinhere. Learn more in our <a href="#">Privacy Policy </a>.</li>
				     		</ul>
				      </div>
				    </div>
				  </div>

				  <div class="accordion-item panel-default">
				    <h2 class="accordion-header" id="heading25">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse25" aria-expanded="false" aria-controls="collapse25">
				    	How can I get started with healinhere?
				      </button>
				    </h2>
				    <div id="collapse25" class="accordion-collapse collapse" aria-labelledby="heading25" data-bs-parent="#accordi1xample">
				      <div class="accordion-body">
				     	<P>Click <a href="get-start">HERE</a> to get started.</P>
				     	
				      </div>
				    </div>
				  </div>

				  <div class="accordion-item panel-default">
				    <h2 class="accordion-header" id="heading26">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse26" aria-expanded="false" aria-controls="collapse26">
				    	I am a registered therapist / coach. How can I provide my services using healinhere?
				      </button>
				    </h2>
				    <div id="collapse26" class="accordion-collapse collapse" aria-labelledby="heading26" data-bs-parent="#accordi1xample">
				      <div class="accordion-body">
				     	<P>Click <a href="get-start">HERE</a> to get started.</P>
				     	
				      </div>
				    </div>
				  </div>


				  

				</div>
			</div>
		</div>
	</div>
</section>
<!-- faq-wrapper-end -->


<!-- get-started-section-start -->

<section class="get-started" id="get_started">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

         <div class="section-heading" data-aos="zoom-in" data-aos-delay="100">

            <h2>"Ready to join us on <br>a tranformative adventure?...."</h2>

            <p>Let’s find the best therapist match for you. </p>

        </div>

        <div class="btn-area">

                <a href="" class="btn-all"><i class="fa-regular fa-arrow-right"></i><span>get started now</span></a>

        </div>

    </div>

    <div class="bottom-after">

        <img src="assets/image/g-bottom.png" class="img-fluid" />

    </div>

</section>

<!-- get-started-section-end -->



<!-- footer-start -->

<%- include('comman/footer'); %>

<!-- footer-end -->
