<!--slick.css-link-->
    <!-- <link href="https://assets-global.website-files.com/5c1181093d8f969da005c4a6/css/b2b-page.09397fc21.min.css" rel="stylesheet" type="text/css"/> -->

<!-- header-start -->

<%- include('comman/header') %>

<!-- header-end -->



<!-- inner-banner-wrapper-start -->
<section class="inner-banner-wrapper testimonial" style=" background-image: linear-gradient(to left, rgba(111,174,249, 0) 10%,rgba(111,174,249, 0) 18%, rgb(244, 246, 250) 45%) ,url(assets/image/young-person.jpg);">
	<div class="container">
		<div lang="row align-item-center">
			<div class="col-lg-6 m-auto">
				 <h1 class="main-heading">For Business</h1>
				 <nav aria-label="breadcrumb">
				  <ol class="breadcrumb">
				    <li class="breadcrumb-item"><a href="#">Home</a></li>
				    <li class="breadcrumb-item active" aria-current="page">For Business</li>
				  </ol>
				</nav>

			</div>
		</div>
	</div>
</section>
<!-- inner-banner-wrapper-end -->

<!-- Business-wrapper-start -->
<section class="Business-wrapper">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-6">
            	<div class="Business-cnt">
            		<div class="section-heading">
            			<h2>Increase productivity by taking care of your organisation members Mental health.</h2>

            			<p>healinhere is the leading online mental health solution trusted by employers and their team members.</p>

            			<a href="" class="btn-all"><i class="fa-regular fa-arrow-right"></i><span>Contact Us Here</span></a>
            		</div>
            	</div>
                <!-- <div class="restly-image-wrapper">
                    <div class="shape image-shape2">
                    	<div class="image-shape">
                    		<div class="method-box">
                    			<div class="sub-heading">
                    				<h3>Welcome to healinhere</h3>
                    				<p>where innovation meets compassion in the realm of mental health care. Established to break down the conventional barriers to therapy, healinhere is not just a service; it's a revolution. We're not following the footsteps; we're creating a new path to mental well-being.</p>
                    			</div>
                    		</div>
                    	</div>
                    </div> 
                </div> -->
            </div>

            <div class="col-lg-6">
               <div class="Business-img-box">
               		<div class="Business-img">
               			<img src="assets/image/feat-3.jpg" class="img-fluid">
               		</div>
               </div>
            </div>
        </div>
    </div>
</section>
<!-- Business-wrapper-end -->


<!-- support-team-wrapper-start -->
<section class="support-team-wrapper">
	<div class="container">
		<div class="section-heading">

            <h2>Provide <span>healinhere</span> support to your team</h2>

        </div>
		<div class="row mt-3">
			<div class="support-team-slider owl-carousel owl-theme">
				<div class="item">
					<div class="support-team-logo">
						
							<img src="assets/image/government-of-canada.png" class="img-fluid">
						
					</div>
				</div>
				<div class="item">
					<div class="support-team-logo">
						
							<img src="assets/image/concern.png" class="img-fluid">
						
					</div>
				</div>
				<div class="item">
					<div class="support-team-logo">
						
							<img src="assets/image/assured-partners.png" class="img-fluid">
						
					</div>
				</div>
				<div class="item">
					<div class="support-team-logo">
						
							<img src="assets/image/government-of-canada.png" class="img-fluid">
						
					</div>
				</div>
				<div class="item">
					<div class="support-team-logo">
						
							<img src="assets/image/concern.png" class="img-fluid">
						
					</div>
				</div>
				<div class="item">
					<div class="support-team-logo">
						
							<img src="assets/image/assured-partners.png" class="img-fluid">
						
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- support-team-wrapper-end -->


<!-- Mental-health-wrapper-start -->
<section class="Mental-health-wrapper">
	<div class="container">
		<div class="section-heading">

            <h2>Mental health care for all</h2>

        </div>
		<div class="row mt-5">
			<div class="col-lg-4">
		        <div class="health-box">
		            <img src="assets/image/f21.jpg" class="img-fluid">
		            <div class="content">
		                <div class="wrap">
		                    <h2>For Employers</h2>
		                    <p>
		                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem 
		                        Ipsum has been the industry's standard dummy text ever since the 1500s .
		                    </p>
		                    <a href="#" class="more-btn">Learn More</a>
		                </div>
		            </div>
		        </div>
	    	</div>
	    	<div class="col-lg-4">
		        <div class="health-box">
		            <img src="assets/image/f21.jpg" class="img-fluid">
		            <div class="content">
		                <div class="wrap">
		                    <h2>For Payers</h2>
		                    <p>
		                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem 
		                        Ipsum has been the industry's standard dummy text ever since the 1500s .
		                    </p>
		                    <a href="#" class="more-btn">Learn More</a>
		                </div>
		            </div>
		        </div>
		    </div>

		    <div class="col-lg-4">
		        <div class="health-box">
		            <img src="assets/image/f21.jpg" class="img-fluid">
		            <div class="content">
		                <div class="wrap">
		                    <h2>For Brokers/Consultants</h2>
		                    <p>
		                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem 
		                        Ipsum has been the industry's standard dummy text ever since the 1500s .
		                    </p>
		                    <a href="#" class="more-btn">Learn More</a>
		                </div>
		            </div>
		        </div>
		    </div>
    	</div>
        
    </div>
</section>
<!-- Mental-health-wrapper-end -->


<!-- Unlock-wrapper-start -->
<section class="Unlock-wrapper">
	<div class="container">
		<div class="unlock-provider-box">
			<div class="row">
				<div class="col-lg-6">
					<div class="unloack-cnt">
						<div class="sub-heading">
							<h3>Unlock a diverse provider network of therapists and coaches.</h3>
							<p>Our network of highly skilled mental health providers has the expertise your
							organisation needs to meet the essential demands for the care of your human capital
							in your company.</p>
							<div class="girl-img-box">
								<img src="assets/image/girl-img.png" class="img-fluid">
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-6">
					<div class="counter-box">
						<div class="counter">
	                        
	                            <div class="inner-couter">
	                              <div class="sine"><span id="farmers" class="timer" data-from="0" data-to="1000" data-speed="5000" data-target="#farmers">1,000</span>+</div>
	                                <div class="caption">
	                                    <h3 class="stat-caption">Providers in the healinhere network</h3>
	                                </div>
	                            </div>
	                        
	                       
	                           <div class="inner-couter">
	                              <div class="sine"><span id="" class="timer" data-from="0" data-to="36" data-speed="5000" data-target="#buyers">36</span>+</div>
	                                <div class="caption">
	                                    <h3 class="stat-caption">Languages Spoken</h3>
	                                </div>
	                            </div>

	                           <div class="inner-couter">
	                              <div class="sine"><span id="" class="timer" data-from="0" data-to="42" data-speed="5000" data-target="#covered">42</span>+</div>
	                                <div class="caption">
	                                    <h3 class="stat-caption">Specialties</h3>
	                                </div>
	                            </div>     
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Unlock-wrapper-end -->


<!-- healinhere-Benefits-wrapper-start -->
<section class="healinhere-Benefits-wrapper the-method-wrapper-two">
	<div class="container">
		<div class="section-heading">
            <h2>Some Of The Benefits Of <span>healinhere</span> In Your Organisation:</h2>
            <p>In today's fast-paced and demanding work environments, the importance of mental health support cannot be overstated. Offering mental health resources at the workplace goes beyond merely addressing personal well-being; it has a profound impact on overall productivity, employee satisfaction, and organisational success.</p>
        </div>
		<div class="row mt-5">
			<div class="col-lg-4 d-flex">
				<div class="out-benefit-box">
					<div class="benefits-cnt">
						<div class="sub-heading">
	                        <h4>1.Enhanced Focus and Concentration:</h4>
	     					<p>Employees facing mental health challenges often find it challenging to concentrate on tasks. Providing mental health support creates an environment where individuals can access resources to address their concerns, leading to improved focus and heightened concentration levels.</p>
	                 	</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 d-flex">
				<div class="out-benefit-box">
					<div class="benefits-cnt">
						<div class="sub-heading">
	                        <h4>2.Reduced Absenteeism:</h4>
	     					<p>Mental health issues can contribute significantly to absenteeism. By fostering a workplace that acknowledges and supports mental health, employees are more likely to seek assistance when needed, reducing the instances of prolonged absenteeism.</p>
	                 	</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4 d-flex">
				<div class="out-benefit-box">
					<div class="benefits-cnt">
						<div class="sub-heading">
	                        <h4>3.Increased Employee Engagement:</h4>
	     					<p>A mentally healthy workforce is more engaged and committed to their roles. Mental health support initiatives demonstrate an organisation's commitment to its employees, fostering a positive work culture that encourages collaboration, innovation, and a sense of belonging.</p>
	                 	</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4 d-flex">
				<div class="out-benefit-box">
					<div class="benefits-cnt">
						<div class="sub-heading">
	                        <h4>4.Enhanced Problem-Solving Skills:</h4>
	     					<p>Mental well-being is closely linked to cognitive functions. Employees experiencing mental health challenges may struggle with effective problem-solving. By addressing mental health concerns, organisations empower individuals to harness their cognitive abilities, leading to improved decision-making and innovative solutions.</p>
	                 	</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4 d-flex">
				<div class="out-benefit-box">
					<div class="benefits-cnt">
						<div class="sub-heading">
	                        <h4>5.Improved Interpersonal Relationships:</h4>
	     					<p>A supportive workplace fosters healthy interpersonal relationships. Mental health resources equip employees with tools to manage stress, communicate effectively, and navigate conflicts, fostering a positive and collaborative work environment.</p>
	                 	</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4 d-flex">
				<div class="out-benefit-box">
					<div class="benefits-cnt">
						<div class="sub-heading">
	                        <h4>6.Higher Job Satisfaction and Retention:</h4>
	     					<p>Employees who feel supported in their mental health journey are more likely to be satisfied with their jobs. This satisfaction, coupled with a positive work environment, contributes to higher retention rates, saving organisations the costs associated with recruitment and onboarding.</p>
	     					<p>Integrating mental health support at your workplace is a strategic investment that pays dividends in terms of increased productivity, employee satisfaction, and overall organisational success. Create a collaborative and healthy culture who will contribute to the common goals more effectively.</p>
	                 	</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</section>
<!-- healinhere-Benefits-wrapper-end-->


<!-- graph-chat-wrapper testimonial-start -->
<section class="graph-chat-wrapper testimonial">
	<div class="container">
		<div class="section-heading">
			<h2>Proven results for employee wellness</h2>
			<p>When your employees feel better, they’ll thrive—which means your business will, too.</p>
		</div>
		<div class="row mt-4">
			  <div class="col-md-9 m-auto">
			  	<div class="inner-graph">
				  	<div class="section-heading">
					    	<p>A healinhere study found that after just 12 weeks of mental health treatment, employees felt more energized, productive, and engaged at their jobs. Other benefits include:</p>
					    </div>
				    <div class="container-box">
				      	<div class="main-bar">
							<div class="out-bar down" style="height: 250px;">
								<span><i class="fas fa-long-arrow-alt-down"></i></span>
								<div class="bar" style="height: 100px;">-50%</div>
							</div>
							<h5>50% fewer work hours missed</h5>
						</div>

						<div class="main-bar">
							
							<div class="out-bar up"  style="height: 150px;">
								<span><i class="fas fa-long-arrow-alt-up"></i></span>
								<div class="bar" style="height: 200px;">36%</div>
							</div>
							<h5>36% increase in productivity</h5>
						</div>

						<div class="main-bar">
							
							<div class="out-bar up"  style="height: 150px;">
								<span><i class="fas fa-long-arrow-alt-up"></i></span>
								<div class="bar" style="height: 250px;">39%</div>
							</div>
							<h5>39% better work-life balance</h5>
						</div>
					</div>
					<div class="slide-button-wrap">
						<p class="chart-source">Source: 
							<a href="#4" target="_blank">Journal of Technology in Behavioral Science</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- graph-chat-wrapper testimonial-end -->


<!-- Why-healinhere-wrapper-start -->
<section class="Why-healinhere-wrapper">
	<div class="container">
		<div class="section-heading">
            <h2>Why healinhere?</h2>
            <p>Your business mental health partner wherever and whenever you need it</p>
        </div>

		<div class="row mt-5">
			<div class="healinhere-list-point">
				<div class="list-point-box">
					<span><img src="assets/image/bespoke-service.svg" class="img-fluid"></span>
					<h6>Bespoke service</h6>
				</div>

				<div class="list-point-box">
					<span><img src="assets/image/Monitoring-of-progress.svg" class="img-fluid"></span>
					<h6>Monitoring of progress</h6>
				</div>

				<div class="list-point-box">
					<span><img src="assets/image/Flexible-offering .svg"  class="img-fluid" /></span>
					<h6>Flexible offering tailored to the business needs</h6>
				</div>

				<div class="list-point-box">
					<span><img src="assets/image/Support-available.svg"  class="img-fluid" /></span>
					<h6>Support available in 46+ languages</h6>
				</div>

				<div class="list-point-box">
					<span><img src="assets/image/Guaranteed-of-privacy.svg"  class="img-fluid" /></span>
					<h6>Guaranteed of privacy</h6>
				</div>

				<div class="list-point-box">
					<span><img src="assets/image/professional-team.svg"  class="img-fluid" /></span>
					<h6>A professional team of experts</h6>
				</div>
			</div>
		</div>

	</div>
</section>
<!-- Why-healinhere-wrapper-endt -->


<!-- conditions-supported-wrapper-start -->
<section class="conditions-supported-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<div class="conditions-cnt">
					<div class="section-heading">
						<h2>200 Mental Health Conditions Supported</h2>
						<p>Providers deliver preventative care and comprehensive mental health treatment across 200+ areas of expertise, allowing us to care for millions of lives.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-7">
				<div class="conditions-slide-box">
					<div class="conditions-wrap">
					   <div class="w-dyn-list">
					      <div role="list" class="conditions-list one w-dyn-items w-row">
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">ADHD</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Addiction</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Alcohol use</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Anorexia Nervosa</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Antisocial personality</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Anxiety</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Attention-Deficit Hyperactivity Disorder</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Binge Eating Disorder</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Bipolar I Disorder</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Bipolar II Disorder</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Bipolar Mixed episodes</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Bipolar disorder</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Borderline Personality Disorder</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Borderline personality</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Claustrophobia</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Conduct Disorder</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Cyclothymic Disorder</p>
					            </div>
					         </div>
					      </div>
					   </div>
					   <div class="w-dyn-list">
					      <div role="list" class="conditions-list two w-dyn-items w-row">
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Depersonalisation-Derealisation Disorder</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Depression</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Disruptive Behavior Disorders</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Disruptive Mood Dysregulation Disorder</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Dissociative Amnesia</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Drug abuse</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Eating disorders</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Emotional disturbance</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Excoriation Disorder</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Forensic psychology</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Gambling</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Gender dysphoria and gender-affirming approaches to treatment</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">General issues</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Histrionic Personality Disorder</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Hoarding</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Impulse control disorders</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Insomnia</p>
					            </div>
					         </div>
					      </div>
					   </div>
					   <div class="w-dyn-list">
					      <div role="list" class="conditions-list three w-dyn-items w-row">
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Internet addiction</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Issues with pornography use</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Mood disorders</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Narcissistic Personality Disorder</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Narcissistic personality</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Neurodevelopmental disorders</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Nosophobia</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">OCD</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Oppositional Defiant Disorder</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Paranoia</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Paranoid Personality Disorder</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Persistent Depressive Disorder (Dysthymic Disorder)</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Personality disorders</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Psychosis</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Quiet Borderline Personality Disorder</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Rejection Sensitive Dysphoria</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Schizophrenia</p>
					            </div>
					         </div>
					      </div>
					   </div>
					   <div class="w-dyn-list">
					      <div role="list" class="conditions-list four w-dyn-items w-row">
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Schizotypal Personality Disorder</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Seasonal Affective Disorder</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Self Harm</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Sexual abuse</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Sleep-wake Disorders</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Social Anxiety Disorder</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Social Phobias</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Specific Phobias</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Stress</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Substance Use Disorder</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Suicidal Ideation</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Thalassophobia</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Thanatophobia</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Thinking disorders</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Trauma and PTSD</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Trypophobia</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Vehophobia</p>
					            </div>
					         </div>
					         <div role="listitem" class="w-dyn-item w-col w-col-2">
					            <div class="condition-item">
					               <p class="margin-0">Video Game Addiction</p>
					            </div>
					         </div>
					      </div>
					   </div>
					   <div class="conditions-overlay"></div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>
<!-- conditions-supported-wrapper-end -->


<!-- testimonial-section-start -->

<section class="testimonial" id="testi_monial">

    <div class="container">

        <div class="row g-4">

            <div class="co-12 col-md-12 col-lg-7" data-aos="fade-right" data-aos-delay="500">

                <div class="testimonial-content">

                    <div class="section-heading">

                        <h2>Reviews</h2>

                    </div>

                    <a href="" class="more-detail">More Success Stories</a>

                    <div id="testimonial_content"  class=" owl-carousel owl-theme">

                        <div class="testimonial-item">

                            <p>healinhere therapists have helped countless people in need of support change their mindset, circumstances, and outlook in life. Tangible results and a deserved increased quality of life.</p>

                            <div class="customer-box">

                                <figure>

                                    <img src="assets/image/customer.png" class="img-fluid"/>

                                </figure>

                                <div class="customer-detail">

                                    <h4>Member review for</h4>

                                    <h5>James Brook</h5>

                                </div>

                            </div>

                        </div>

                        <div class="testimonial-item">

                            <p>healinhere therapists have helped countless people in need of support change their mindset, circumstances, and outlook in life. Tangible results and a deserved increased quality of life.</p>

                            <div class="customer-box">

                                <figure>

                                    <img src="assets/image/customer.png" class="img-fluid"/>

                                </figure>

                                <div class="customer-detail">

                                    <h4>Member review for</h4>

                                    <h5>James Brook</h5>

                                </div>

                            </div>

                        </div>

                        <div class="testimonial-item">

                            <p>healinhere therapists have helped countless people in need of support change their mindset, circumstances, and outlook in life. Tangible results and a deserved increased quality of life.</p>

                            <div class="customer-box">

                                <figure>

                                    <img src="assets/image/customer.png" class="img-fluid"/>

                                </figure>

                                <div class="customer-detail">

                                    <h4>Member review for</h4>

                                    <h5>James Brook</h5>

                                </div>

                            </div>

                        </div>



                    </div>

                </div>

            </div>

            <div class="co-12 col-md-12 col-lg-5">

                <div class="text-monial-img">

                    <img src="assets/image/t1.png" class="img-fluid" />

                </div>

            </div>

        </div>

    </div>

</section>

<!-- testimonial-section-end -->

<!-- Bespoke-Business-Team-wrapper-start -->
<section class="Bespoke-Business-Team-wrapper" style="background: url(assets/image/expressive-woman-posing-house.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 m-auto">
				<div class="Business-Team-call">
					<div class="section-heading">
					<h2>Ask For Your Bespoke Business Team Support Exploratory Call</h2>
					<p>This will allow you to assess the depth of our support and the inevitable impact to the wellbeing of your people and overall business as a consequence.</p>
					<div class="mt-4"><a href="" class="btn-all"><i class="fa-regular fa-arrow-right"></i><span>Book A Call Here</span></a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Bespoke-Business-Team-wrapper-endt -->



<!-- footer-start -->

<%- include('comman/footer') %>

<!-- footer-end -->

