



<!-- header-start -->

<%- include('comman/header') %>

<!-- header-end -->




<section class="inner-banner-wrapper testimonial" style=" background-image: linear-gradient(to left, rgba(111,174,249, 0) 10%,rgba(111,174,249, 0) 18%, rgb(244, 246, 250) 45%);">
  <div class="container">
    <div lang="row align-item-center">
      <div class="col-lg-8 m-auto">
        <h1 class="main-heading text-center">Get help now</h1>
        <p class="text-center pb-4">If you are in a crisis or any other person may be in danger the following resources can provide you with immediate help.</p>
      </div>
    </div>
  </div>
</section>




<!-- get-help-wrapper-start -->
<section class="get-help-wrapper">
    <div class="container">
            <div class="row c-tabs ">
              <div class="col-lg-3">
               <div  class="c-tabs__left">
                  	<div class="c-tabs__mobile">
	                     <h3 class="c-heading2 roboto topics">Find a country</h3>
	                     <div class="c-tabs__linkcontainer"><a href="#tab_box_1" class="c-tabs__link ">United States</a></div>

	                     <div class="c-tabs__linkcontainer"><a href="#tab_box_2" class="c-tabs__link">UK & Republic of Ireland</a></div>

	                     <div class="c-tabs__linkcontainer"><a href="#tab_box_3" class="c-tabs__link">Argentina</a></div>

	                     <div class="c-tabs__linkcontainer"><a href="#tab_box_4" class="c-tabs__link">Spain</a></div>

	                      <div class="c-tabs__linkcontainer"><a href="#tab_box_5" class="c-tabs__link">Australia</a></div>

	                     <div class="c-tabs__linkcontainer"><a href="#tab_box_6" class="c-tabs__link">China</a></div>

	                     <div class="c-tabs__linkcontainer"><a href="#tab_box_7" class="c-tabs__link">Canada</a></div>

	                     <div class="c-tabs__linkcontainer"><a href="#tab_box_8" class="c-tabs__link">South Africa</a></div>

	                     <div class="c-tabs__linkcontainer"><a href="#tab_box_9" class="c-tabs__link">New Zealand</a></div>

	                     <div class="c-tabs__linkcontainer"><a href="#tab_box_10" class="c-tabs__link">India</a></div>

	                     <div class="c-tabs__linkcontainer"><a href="#tab_box_11" class="c-tabs__link">Germany</a></div>

	                     <div class="c-tabs__linkcontainer"><a href="#tab_box_12" class="c-tabs__link">Finland</a></div>
                  	</div>
               </div>
             </div>
             <div class="col-lg-9">
               <div class="c-tabs__right-2">

                  <div id="tab_box_1" class="c-tabs__content ">
                     <div class="c-tabs__box">
                        <div class="get-help-contact">
                        	<h4>United States</h4>
                           <div class="c-articles__text w-richtext">
                            	<p><strong>Emergency:</strong> 911</p>
	                            <p><strong>Suicide & Crisis Lifeline:</strong> Call or text 988</p>
								<p><strong>National Domestic Violence Hotline:</strong> 1-800-799-7233</p>
								<p><strong>Crisis Text Line:</strong> Text "DESERVE" TO 741-741</p>
								<p><strong>Lifeline Crisis Chat (Online live messaging):</strong> <a href="https://988lifeline.org/chat">https://988lifeline.org/chat</a></p>
								<p><strong>Self-Harm Hotline:</strong> 1-800-DONT CUT (1-800-366-8288)</p>
								<p><strong>Essential local and community services:</strong> 211, <a href="https://www.211.org/">https://www.211.org/</a></p>
								<p><strong>Planned Parenthood Hotline:</strong> 1-800-230-PLAN (7526) </p>
								<p><strong>American Association of Poison Control Centers:</strong> 1-800-222-1222</p>
								<p><strong>National Council on Alcoholism & Drug Dependency Hope Line:</strong> 1-800-622-2255</p>
								<p><strong>National Crisis Line - Anorexia and Bulimia:</strong> 1-800-233-4357</p>
								<p><strong>LGBT Hotline:</strong> 1-888-843-4564</p>
								<p><strong>TREVOR Crisis Hotline:</strong> 1-866-488-7386</p>
								<p><strong>AIDS Crisis Line:</strong> 1-800-221-7044</p>
								<p><strong>Veterans Crisis Line:</strong> <a href="https://www.veteranscrisisline.net">https://www.veteranscrisisline.net</a></p>
								<p><strong>TransLifeline:</strong> <a href="https://www.translifeline.org">https://www.translifeline.org</a> - 877-565-8860</p>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div id="tab_box_2" class="c-tabs__content">
                     <div class="c-tabs__box">
                        <div class="get-help-contact">
                          <h4>UK & Republic of Ireland</h4>
                          <div class="c-articles__text w-richtext">
                            	<p><strong>Emergency:</strong> 112 or 999</p>
	                            <p><strong>Non-emergency:</strong> 111, Option 2</p>
								<p><strong>24/7 Helpline: </strong> 116 123 (UK and ROI)</p>

								<p><strong>Shout: </strong> Text "DESERVE" TO 85258</p>
								<p><strong>Samaritans.org: </strong> 211, <a href="https://www.samaritans.org/how-we-can-help-you/contact-us">https://www.samaritans.org/how-we-can-help-you/contact-us</a></p>
								<p><strong>YourLifeCounts.org: </strong> <a href="https://yourlifecounts.org/find-help/">https://yourlifecounts.org/find-help/</a></p>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div id="tab_box_3" class="c-tabs__content">
                     <div class="c-tabs__box">
                        <div class="get-help-contact">
                        	 <h4>Argentina</h4>
	                           <div class="c-articles__text w-richtext">
	                              	<p>Recuerde siempre que si usted esta en una situación de emergencia debe comunicarse con los teléfonos: *107 (SAME-Sistema de Atención Medica de Emergencia), *911 (Emergencia policial), para atención telefónica inmediata. Si desea orientación telefónica a familiares y amigos, déjenos su mensaje y teléfono. Nos comunicaremos con usted.</p>
	                              	<p>Argentina Suicide Hotline: +5402234930430</p>
	                           </div>
                        </div>
                     </div>
                  </div>

                  <div id="tab_box_4" class="c-tabs__content">
                     <div class="c-tabs__box">
                        <div class="get-help-contact">
                         	<h4>Spain</h4>
	                         <div class="c-articles__text w-richtext">
	                           	<p><strong>Emergency:</strong> 112</p>
	                           	<p><strong>Telefono De La Esperanza </strong> - 717-003-717  - <a href="http://telefonodelaesperanza.org/llamanos">http://telefonodelaesperanza.org/llamanos</a></p>
	                        </div>
                        </div>
                     </div>
                  </div>

                  <div id="tab_box_5" class="c-tabs__content">
                     <div class="c-tabs__box">
                        <div class="get-help-contact">
                           <h4>Australia</h4>
                           <div class="c-articles__text w-richtext">
                           		<p><strong>Emergency:</strong> 000</p>
	                            <p><strong>Lifeline.org:</strong> <a href="https://www.lifeline.org.au/Get-Help/Online-Services/crisis-chat">https://www.lifeline.org.au/Get-Help/Online-Services/crisis-chat</a></p>
								<p><strong>LifeLine Australia: </strong>13 11 14</p>
								<p><strong>YourLifeCounts.org: </strong> <a href="https://yourlifecounts.org/find-help/ ">https://yourlifecounts.org/find-help/ </a></p>
								<p><strong>Beyond Blue </strong> <a href="https://www.beyondblue.org.au/get-support/get-immediate-support">https://www.beyondblue.org.au/get-support/get-immediate-support</a></p>

                           </div>
                        </div>
                     </div>
                  </div>

                  <div id="tab_box_6" class="c-tabs__content">
                     <div class="c-tabs__box">
                        <div class="get-help-contact">
                          <h4>China</h4>
                           
                           <div class="c-articles__text w-richtext">
                           		<p><strong>Emergency:</strong> 110</p>
	                            <p><strong>Beijing Suicide Research and Prevention Center </strong> <a href="http://www.crisis.org.cn/">http://www.crisis.org.cn/</a>800-810-1117 (landline) or 010-8295-1332 (mobile and VoIP callers)</p>
								<p><strong>Shanghai Mental Health Center </strong><a href="http://www.smhc.org.cn/">http://www.smhc.org.cn/</a></p>
								<p><strong>Lifeline Shanghai </strong> <a href="https://www.lifeline-shanghai.com/ ">https://www.lifeline-shanghai.com/</a></p>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div id="tab_box_7" class="c-tabs__content">
                     <div class="c-tabs__box">
                        <div class="get-help-contact">
                          <h4>Canada</h4>
                          
                           <div class="c-articles__text w-richtext">
                           		<p><strong>Emergency:</strong> 911</p>
	                            <p><strong>Crisis Text Line (Powered by Kids Help Phone):</strong> Text "DESERVE" TO 686868</p>
								<p><strong>YourLifeCounts.org: </strong><a href="https://yourlifecounts.org/find-help/">https://yourlifecounts.org/find-help/</a></p>
								<p><strong>Crisis Services Canada: </strong> <a href="http://www.crisisservicescanada.ca/en/">http://www.crisisservicescanada.ca/en/</a></p>
                           		<p><strong>Canadian Association for Suicide Prevention: </strong> <a href="https://suicideprevention.ca/need-help/">https://suicideprevention.ca/need-help/</a></p>


                           </div>
                        </div>
                     </div>
                  </div>

                  <div id="tab_box_8" class="c-tabs__content">
                     <div class="c-tabs__box">
                        <div class="get-help-contact">
                           <h4>South Africa</h4>
                           <div class="c-articles__text w-richtext">

                           		<p><strong>Emergency:</strong> 910 111 for police or 10 177 for an ambulance11</p>
	                            <p><strong>24hr Helpline: </strong> 0800 12 13 14 or SMS 31393 (and we will call you back)</p>
								<p><strong>YourLifeCounts.org: </strong><a href="https://yourlifecounts.org/find-help/">https://yourlifecounts.org/find-help/</a></p>
								<p><strong>Depression and Anxiety Helpline: </strong> 0800 70 80 90 </p>
                           		<p><strong>YourLifeCounts.org: </strong> <a href="https://yourlifecounts.org/find-help/">https://yourlifecounts.org/find-help/</a></p>
                          
                           </div>
                        </div>
                     </div>
                  </div>

                  <div id="tab_box_9" class="c-tabs__content">
                     <div class="c-tabs__box">
                        <div class="get-help-contact">
                           <h4>New Zealand</h4>
                           <div class="c-articles__text w-richtext">

                           		<p><strong>Emergency:</strong> 111</p>
	                            <p><strong>Lifeline 24/7 Helpline: </strong> 0800 543 354</p>
								<p><strong>Suicide Crisis Helpline:</strong> 0508 828 865 (0508 TAUTOKO)</p>
                           		<p><strong>YourLifeCounts.org: </strong> <a href="https://yourlifecounts.org/find-help/">https://yourlifecounts.org/find-help/</a></p>

                           </div>
                        </div>
                     </div>
                  </div>

                  <div id="tab_box_10" class="c-tabs__content">
                     <div class="c-tabs__box">
                        <div class="get-help-contact">
                     		<h4>India</h4>
                           <div class="c-articles__text w-richtext">

                           		<p><strong>Emergency:</strong> 112</p>
	                            <p><strong>Sneha India </strong><a href="(http://www.snehaindia.org)">(http://www.snehaindia.org)</a> is available 24/7 on the phone by calling 91 44 24640050 </p>

                           </div>
                        </div>
                     </div>
                  </div>

                   <div id="tab_box_11" class="c-tabs__content">
                     <div class="c-tabs__box">
                        <div class="get-help-contact">
                    		<h4>Germany</h4>

                    		<p><strong>Emergency:</strong> 112</p>
                    		<p><strong>Hotline: </strong> 800 111 0111</p>
                    		<p><strong>Hotline: </strong> 0800 111 0222</p>

                           </div>
                        </div>
                     </div>

                    <div id="tab_box_12" class="c-tabs__content">
                     <div class="c-tabs__box">
                        <div class="get-help-contact">
                        	<h4>Finland</h4>
                           <div class="c-articles__text w-richtext">

                           	<p><strong>Emergency:</strong> 112</p>
                    		<p><strong>Crisis Line:</strong>  010 195 202</p>
                          
                           </div>
                        </div>
                     </div>
                  </div>

                  </div>
               </div>

             </div>
            </div>
           
</section>
<!-- get-help-wrapper-end -->





<!-- footer-start -->

 <%- include('comman/footer') %>

<!-- footer-end -->


<script type="text/javascript">
	

</script>