<!-- header-start --> 
<%- include('comman/header'); %>
<!-- header-end -->

<!-- ----treatment-wrapper-start-------- -->
<section class="treatment-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 m-auto">
				<div class="treatment-cnt text-center">
					<div class="sub-heading">
						<h3>Lack of Confidence</h3>
						<p>Lack of confidence refers to persistent feelings of self-doubt and low self-esteem. It can impact various aspects of life, hindering personal and professional growth and fulfilment.</p>
					</div>
				</div>
			</div>

			<div class="bottom-area-treatment">
				<div class="treatment-cnt">
					<ul>
						<li class="sub-heading">
							<h3>Symptoms:</h3>
							<p>Persistent self-doubt, negative self-talk, avoidance of challenges, fear of failure.</p>
						</li>
						<li class="sub-heading">
							<h3>Causes:</h3>
							<p>Past failures, critical upbringing, societal pressures, comparison.</p>
						</li>
						<li class="sub-heading">
							<h3>Types:</h3>
							<p>General lack of confidence, situational lack of confidence.</p>
						</li>
						<li class="sub-heading">
							<h3>Ways to Heal:</h3>
							<p>Cognitive-behavioural therapy, positive affirmations, setting realistic goals, building skills.</p>
						</li>
					</ul>
					<h5>You Can Overcome Lack Of Confidence Like Many Have Before You. It Does Not Have To Stay That Way.</h5>
					<div class="btn-area"><a href="" class="btn-all"><i class="fa-regular fa-arrow-right"></i><span>GET STARTED</span></a></div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ----treatment-wrapper-end-------- -->

<!-- ----other-area-support-wrapper-start-------- -->
<section class="other-area-support-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 m-auto">
				<div class="out-support-areas">
					<div class="section-heading">
			            <h2>Other Area Of Support</h2>
			        </div>
					<div class="other-support-box">

						<a href="stress.php">
							<div class="inner-support-box">
								<figure><img src="assets/image/stress-1.svg" class="img-fluid"></figure>
								<h6>Stress<span><i class="fas fa-arrow-circle-right"></i></span></h6>
							</div>
						</a>

						<a href="professional-challenges.php">
							<div class="inner-support-box">
								<figure><img src="assets/image/Professional-challenges-1.svg" class="img-fluid"></figure>
								<h6>Professional Challenges<span><i class="fas fa-arrow-circle-right"></i></span></h6>
							</div>
						</a>

						<a href="loss-identity.php">
							<div class="inner-support-box">
								<figure><img src="assets/image/loi.svg" class="img-fluid"></figure>
								<h6>Loss Of Identity <span><i class="fas fa-arrow-circle-right"></i></span></h6>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ----other-area-support-wrapper-end-------- -->

<!-- footer-start --> 

<%- include('comman/footer'); %>
<!-- footer-end -->