<!-- header-start --> 
<%- include('comman/header'); %>
<!-- header-end -->

<!-- ----treatment-wrapper-start-------- -->
<section class="treatment-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 m-auto">
				<div class="treatment-cnt text-center">
					<div class="sub-heading">
						<h3>Loss/Grief</h3>
						<p>Grief is a natural response to loss, whether it be the death of a loved one or the end of a significant relationship. Coping with loss involves navigating through various stages of grief, including denial, anger, bargaining, depression, and acceptance.</p>
					</div>
				</div>
			</div>

			<div class="bottom-area-treatment">
				<div class="treatment-cnt">
					<ul>
						<li class="sub-heading">
							<h3>Symptoms:</h3>
							<p>Sadness, denial, guilt, anger, feelings of emptiness.</p>
						</li>
						<li class="sub-heading">
							<h3>Causes:</h3>
							<p>Death of a loved one, divorce, significant life changes.</p>
						</li>
						<li class="sub-heading">
							<h3>Types:</h3>
							<p>Anticipatory grief, disenfranchised grief, complicated grief.</p>
						</li>
						<li class="sub-heading">
							<h3>Ways to Heal:</h3>
							<p>Grief counselling, support groups, memorialising rituals, self-compassion.</p>
						</li>
					</ul>
					<h5>You Can Overcome Loss And Heal Like Many Have Before You. It Does Not Have To Stay That Way.</h5>
					<div class="btn-area"><a href="" class="btn-all"><i class="fa-regular fa-arrow-right"></i><span>GET STARTED</span></a></div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ----treatment-wrapper-end-------- -->

<!-- ----other-area-support-wrapper-start-------- -->
<section class="other-area-support-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 m-auto">
				<div class="out-support-areas">
					<div class="section-heading">
			            <h2>Other Area Of Support</h2>
			        </div>
					<div class="other-support-box">

						

						<a href="betrayal.php">
							<div class="inner-support-box">
								<figure><img src="assets/image/Loss-of-Identity-1.svg" class="img-fluid"></figure>
								<h6>Betrayal<span><i class="fas fa-arrow-circle-right"></i></span></h6>
							</div>
						</a>

						<a href="depression.php">
							<div class="inner-support-box">
								<figure><img src="assets/image/Depression.svg" class="img-fluid"></figure>
								<h6>Depression <span><i class="fas fa-arrow-circle-right"></i></span></h6>
							</div>
						</a>

						<a href="anxiety.php">
							<div class="inner-support-box">
								<figure><img src="assets/image/Anxiety1.svg" class="img-fluid"></figure>
								<h6>Anxiety<span><i class="fas fa-arrow-circle-right"></i></span></h6>
							</div>
						</a>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ----other-area-support-wrapper-end-------- -->

<!-- footer-start --> 
<%- include('comman/footer'); %>
<!-- footer-end -->