<!-- header-start --> 
<%- include('comman/header'); %>
<!-- header-end -->

<!-- ----treatment-wrapper-start-------- -->
<section class="treatment-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 m-auto">
				<div class="treatment-cnt text-center">
					<div class="sub-heading">
						<h3>Obsessive-Compulsive Disorder (OCD)</h3>
						<p>OCD is an anxiety disorder marked by unwanted, intrusive thoughts (obsessions) and repetitive behaviours or mental acts (compulsions). Individuals may engage in rituals to alleviate anxiety caused by obsessive thoughts.</p>
					</div>
				</div>
			</div>

			<div class="bottom-area-treatment">
				<div class="treatment-cnt">
					<ul>
						<li class="sub-heading">
							<h3>Symptoms:</h3>
							<p>Obsessive thoughts, compulsive behaviours, anxiety, intrusive mental images.</p>
						</li>
						<li class="sub-heading">
							<h3>Causes:</h3>
							<p>Genetic factors, brain abnormalities, life stressors, history of trauma.</p>
						</li>
						<li class="sub-heading">
							<h3>Types:</h3>
							<p>Checking, cleaning, hoarding, intrusive thoughts.</p>
						</li>
						<li class="sub-heading">
							<h3>Ways to Heal:</h3>
							<p>Exposure and response prevention therapy, medication, cognitive-behavioural therapy, mindfulness.</p>
						</li>
					</ul>
					<h5>You Can Overcome Ocd Like Many Have Before You. It Does Not Have To Stay That Way.</h5>
					<div class="btn-area"><a href="" class="btn-all"><i class="fa-regular fa-arrow-right"></i><span>GET STARTED</span></a></div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ----treatment-wrapper-end-------- -->

<!-- ----other-area-support-wrapper-start-------- -->
<section class="other-area-support-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 m-auto">
				<div class="out-support-areas">
					<div class="section-heading">
			            <h2>Other Area Of Support</h2>
			        </div>
					<div class="other-support-box">

						<a href="#">
							<div class="inner-support-box">
								<figure><img src="assets/image/PTSD-1.svg" class="img-fluid"></figure>
								<h6>PTSD<span><i class="fas fa-arrow-circle-right"></i></span></h6>
							</div>
						</a>

						<a href="#">
							<div class="inner-support-box">
								<figure><img src="assets/image/Phobias.svg" class="img-fluid"></figure>
								<h6>Phobias<span><i class="fas fa-arrow-circle-right"></i></span></h6>
							</div>
						</a>

						<a href="#">
							<div class="inner-support-box">
								<figure><img src="assets/image/Postpartum-depression.svg" class="img-fluid"></figure>
								<h6>Postpartum Depression <span><i class="fas fa-arrow-circle-right"></i></span></h6>
							</div>
						</a>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ----other-area-support-wrapper-end-------- -->

<!-- footer-start --> 
<%- include('comman/footer'); %>
<!-- footer-end -->