
<!-- header-start --> 
<%- include('comman/header'); %>
<!-- header-end -->



<!-- inner-banner-wrapper-start -->
<section class="inner-banner-wrapper testimonial" style=" background-image: linear-gradient(to left, rgba(111,174,249, 0) 10%,rgba(111,174,249, 0) 18%, rgb(244, 246, 250) 45%) ,url(assets/image/young-person.jpg);">
  <div class="container">
    <div lang="row align-item-center">
      <div class="col-lg-6 m-auto">
        <h1 class="main-heading">All Other Areas</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a href="#">Services</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">All Other Areas</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- inner-banner-wrapper-end -->



<section class="other-areas-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 m-auto">
				<div class="sub-heading">
					<h3>healinhere - Your space to empowerment and healing</h3>
					<p>Our healinhere mental health experts sees therapy as a powerful tool which should be accessible to all. To foster growth, resilience, and a profound connection to oneself.</p>
					<p>The healinhere space is designed to break down barriers, making therapy a personalised, convenient, transformative and empowering experience for everyone. Explore the myriad benefits of therapy as we guide you through a space where healing is not just a destination but an ongoing, enriching journey.</p> 
					<p>Discover the transformative impact therapy can have on your mental and emotional landscape, and join us in embracing the full spectrum of your well-being.</p>

					<a href="" class="btn-all"><i class="fa-regular fa-arrow-right"></i><span>GET STARTED</span></a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="areas-wrapper layer1">
	<div class="container">
		<div class="row">
			<div class="main-area-block">
				
					<div class="area-box">
						<a href="depression">
						<div class="inner-area-box">
							<div class="inner-area-main"><figure><img src="assets/image/Depression.svg" class="img-fluid"></figure></div>
							<h6>Depression</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
							<a href="depression" class="get-start">GET STARTED <span><i class="fas fa-arrow-circle-right"></i></span></a>
						</div>
						</a>
					</div>
					

					<div class="area-box">
						<a href="anxiety">
						<div class="inner-area-box">
							<div class="inner-area-main"><figure><img src="assets/image/Anxiety1.svg" class="img-fluid"></figure></div>
							<h6>Anxiety</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
							<a href="anxiety" class="get-start">GET STARTED <span><i class="fas fa-arrow-circle-right"></i></span></a>
						</div>
					</a>
					</div>

					<div class="area-box">
						<a href="bipolar-disorder">
						<div class="inner-area-box">
							<div class="inner-area-main"><figure><img src="assets/image/Depression-1.svg" class="img-fluid"></figure></div>
							<h6>Bipolar disorder </h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
							<a href="bipolar-disorder" class="get-start">GET STARTED <span><i class="fas fa-arrow-circle-right"></i></span></a>
						</div>
					</a>
					</div>

					<div class="area-box">
						<a href="eating-disorders">
						<div class="inner-area-box">
							<div class="inner-area-main"><figure><img src="assets/image/eating-disorders.svg" class="img-fluid"></figure></div>
							<h6>Eating disorders</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
							<a href="eating-disorders" class="get-start">GET STARTED <span><i class="fas fa-arrow-circle-right"></i></span></a>
						</div>
					</a>
					</div>

					<div class="area-box">
						<a href="ocd">
						<div class="inner-area-box">
							<div class="inner-area-main"><figure><img src="assets/image/OCD.svg" class="img-fluid"></figure></div>
							<h6>OCD</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
							<a href="ocd" class="get-start">GET STARTED <span><i class="fas fa-arrow-circle-right"></i></span></a>
						</div>
					</a>
					</div>

					<div class="area-box">
						<a href="post-traumatic-stress-disorder">
						<div class="inner-area-box">
							<div class="inner-area-main"><figure><img src="assets/image/PTSD-1.svg" class="img-fluid"></figure></div>
							<h6>PTSD</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
							<a href="post-traumatic-stress-disorder" class="get-start">GET STARTED <span><i class="fas fa-arrow-circle-right"></i></span></a>
						</div>
					</a>
					</div>
			
					<div class="area-box">
						<a href="phobias">
						<div class="inner-area-box">
							<div class="inner-area-main"><figure><img src="assets/image/Phobias.svg" class="img-fluid"></figure></div>
							<h6>Phobia </h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
							<a href="phobias" class="get-start">GET STARTED <span><i class="fas fa-arrow-circle-right"></i></span></a>
						</div>
					</a>
					</div>

					<div class="area-box">
						<a href="post-partum-depression">
						<div class="inner-area-box">
							<div class="inner-area-main"><figure><img src="assets/image/Postpartum-depression.svg" class="img-fluid"></figure></div>
							<h6>Postpartum depression</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
							<a href="post-partum-depression" class="get-start">GET STARTED <span><i class="fas fa-arrow-circle-right"></i></span></a>
						</div>
					</a>
					</div>

					
					<div class="area-box">
						<a href="panic">
						<div class="inner-area-box">
							<div class="inner-area-main"><figure><img src="assets/image/Panic-1.svg" class="img-fluid"></figure></div>
							<h6>Panic disorder</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
							<a href="panic" class="get-start">GET STARTED <span><i class="fas fa-arrow-circle-right"></i></span></a>
						</div>
					</a>
					</div>

					<div class="area-box">
						<a href="addiction">
						<div class="inner-area-box">
							<div class="inner-area-main"><figure><img src="assets/image/addiction-1.svg" class="img-fluid"></figure></div>
							<h6>Addiction</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
							<a href="addiction" class="get-start">GET STARTED <span><i class="fas fa-arrow-circle-right"></i></span></a>
						</div>
					</a>
					</div>

					<div class="area-box">
						<a href="lack-confidence">
						<div class="inner-area-box">
							<div class="inner-area-main"><figure><img src="assets/image/Lack-of-confidence-1.svg" class="img-fluid"></figure></div>
							<h6>Lack of confidence</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
							<a href="lack-confidence" class="get-start">GET STARTED <span><i class="fas fa-arrow-circle-right"></i></span></a>
						</div>
					</a>
					</div>

					<div class="area-box">
						<a href="stress">
						<div class="inner-area-box">
							<div class="inner-area-main"><figure><img src="assets/image/stress-1.svg" class="img-fluid"></figure></div>
							<h6>Stress</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
							<a href="stress" class="get-start">GET STARTED <span><i class="fas fa-arrow-circle-right"></i></span></a>
						</div>
					</a>
					</div>

					<div class="area-box">
						<a href="professional-challenges">
						<div class="inner-area-box">
							<div class="inner-area-main"><figure><img src="assets/image/Professional-challenges-1.svg" class="img-fluid"></figure></div>
							<h6>Professional Challenges</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
							<a href="professional-challenges" class="get-start">GET STARTED <span><i class="fas fa-arrow-circle-right"></i></span></a>
						</div>
					</a>
					</div>

					<div class="area-box">
						<a href="loss-identity">
						<div class="inner-area-box">
							<div class="inner-area-main"><figure><img src="assets/image/loi.svg" class="img-fluid"></figure></div>
							<h6>Loss of identity</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
							<a href="loss-identity" class="get-start">GET STARTED <span><i class="fas fa-arrow-circle-right"></i></span></a>
						</div>
					</a>
					</div>

					<div class="area-box">
						<a href="anger">
						<div class="inner-area-box">
							<div class="inner-area-main"><figure><img src="assets/image/anger-management-1.svg" class="img-fluid"></figure></div>
							<h6>Anger</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
							<a href="anger" class="get-start">GET STARTED <span><i class="fas fa-arrow-circle-right"></i></span></a>
						</div>
					</a>
					</div>

					<div class="area-box">
						<a href="loss-grief">
						<div class="inner-area-box">
							<div class="inner-area-main"><figure><img src="assets/image/loss.svg" class="img-fluid"></figure></div>
							<h6>Loss/Grief</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
							<a href="loss-grief" class="get-start">GET STARTED <span><i class="fas fa-arrow-circle-right"></i></span></a>
						</div>
					</a>
					</div>

					<div class="area-box">
						<a href="betrayal">
						<div class="inner-area-box">
							<div class="inner-area-main"><figure><img src="assets/image/Loss-of-Identity-1.svg" class="img-fluid"></figure></div>
							<h6>Betrayal</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
							<a href="betrayal" class="get-start">GET STARTED <span><i class="fas fa-arrow-circle-right"></i></span></a>
						</div>
					</a>
					</div>

			</div>
		</div>
	</div>
</section>


<!-- footer-start --> 
<%- include('comman/footer'); %>
<!-- footer-end -->