<!-- header-start -->

<%- include('comman/header'); %>

<!-- header-end -->


<!-- ----treatment-wrapper-start-------- -->
<section class="treatment-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 m-auto">
				<div class="treatment-cnt text-center">
					<div class="sub-heading">
						<h3>Phobias</h3>
						<p>Phobias are intense and irrational fears of specific objects, situations, or activities. These fears can lead to severe anxiety and avoidance behaviours, impacting daily life and well-being. Phobias can be classified into various types, such as specific phobias (e.g., fear of heights, animals, or flying), social phobia (fear of social situations), and agoraphobia (fear of open or crowded spaces). The symptoms of phobias often include rapid heartbeat, sweating, trembling, and a strong desire to escape the feared situation. Treatment options for phobias may include exposure therapy, cognitive- behavioural therapy, medication, and gradual desensitisation to help individuals overcome their irrational fears and lead a more fulfilling life.</p>
					</div>
				</div>
			</div>

			<div class="bottom-area-treatment">
				<div class="treatment-cnt">
					<ul>
						<li class="sub-heading">
							<h3>Symptoms:</h3>
							<p>Intense fear or anxiety, panic attacks, avoidance of specific objects or situations, rapid heartbeat, sweating.</p>
						</li>
						<li class="sub-heading">
							<h3>Causes:</h3>
							<p>Traumatic experiences, learned behaviour, genetic predisposition.</p>
						</li>
						<li class="sub-heading">
							<h3>Types:</h3>
							<p>Specific phobias (e.g., fear of heights, spiders), social phobia, agoraphobia.</p>
						</li>
						<li class="sub-heading">
							<h3>Ways to Heal:</h3>
							<p>Exposure therapy, cognitive-behavioural therapy, medication (for severe cases), gradual desensitisation.</p>
						</li>
					</ul>
					<h5>You Can Overcome Phobias Like Many Have Before You. It Does Not Have To Stay That Way.</h5>
					<div class="btn-area"><a href="" class="btn-all"><i class="fa-regular fa-arrow-right"></i><span>GET STARTED</span></a></div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ----treatment-wrapper-end-------- -->

<!-- ----other-area-support-wrapper-start-------- -->
<section class="other-area-support-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 m-auto">
				<div class="out-support-areas">
					<div class="section-heading">
			            <h2>Other Area Of Support</h2>
			        </div>
					<div class="other-support-box">

						<a href="post-partum-depression.php">
							<div class="inner-support-box">
								<figure><img src="assets/image/.svg" class="img-fluid"></figure>
								<h6>Postpartum Depression<span><i class="fas fa-arrow-circle-right"></i></span></h6>
							</div>
						</a>

						<a href="panic.php">
							<div class="inner-support-box">
								<figure><img src="assets/image/.png" class="img-fluid"></figure>
								<h6>Panic <span><i class="fas fa-arrow-circle-right"></i></span></h6>
							</div>
						</a>

						<a href="addiction.php">
							<div class="inner-support-box">
								<figure><img src="assets/image/.png" class="img-fluid"></figure>
								<h6>Addiction<span><i class="fas fa-arrow-circle-right"></i></span></h6>
							</div>
						</a>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ----other-area-support-wrapper-end-------- -->






<!-- footer-start -->

<%- include('comman/footer'); %>

<!-- footer-end -->
