<!-- header-start --> 
<%- include('comman/header'); %>
<!-- header-end -->

<!-- ----treatment-wrapper-start-------- -->
<section class="treatment-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 m-auto">
				<div class="treatment-cnt text-center">
					<div class="sub-heading">
						<h3>Postpartum Depression</h3>
						<p>Postpartum depression is a form of clinical depression that occurs after childbirth. It can include feelings of sadness, fatigue, and difficulty bonding with the newborn, impacting the overall well-being of the new parent.</p>
					</div>
				</div>
			</div>

			<div class="bottom-area-treatment">
				<div class="treatment-cnt">
					<ul>
						<li class="sub-heading">
							<h3>Symptoms:</h3>
							<p>Persistent sadness, fatigue, feelings of inadequacy, changes in appetite and sleep.</p>
						</li>
						<li class="sub-heading">
							<h3>Causes:</h3>
							<p>Hormonal changes, lack of support, history of depression.</p>
						</li>
						<li class="sub-heading">
							<h3>Types:</h3>
							<p>Postpartum depression, postpartum anxiety, postpartum psychosis.</p>
						</li>
						<li class="sub-heading">
							<h3>Ways to Heal:</h3>
							<p>Psychotherapy, support from loved ones, medication, self-care.</p>
						</li>
					</ul>
					<h5>You Can Overcome Postpartum Depression Like Many Have Before You. It Does Not Have To Stay That Way.</h5>
					<div class="btn-area"><a href="" class="btn-all"><i class="fa-regular fa-arrow-right"></i><span>GET STARTED</span></a></div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ----treatment-wrapper-end-------- -->

<!-- ----other-area-support-wrapper-start-------- -->
<section class="other-area-support-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 m-auto">
				<div class="out-support-areas">
					<div class="section-heading">
			            <h2>Other Area Of Support</h2>
			        </div>
					<div class="other-support-box">


						<a href="#">
							<div class="inner-support-box">
								<figure><img src="assets/image/Panic-1.svg" class="img-fluid"></figure>
								<h6>Panic<span><i class="fas fa-arrow-circle-right"></i></span></h6>
							</div>
						</a>

						<a href="#">
							<div class="inner-support-box">
								<figure><img src="assets/image/addiction-1.svg" class="img-fluid"></figure>
								<h6>addiction<span><i class="fas fa-arrow-circle-right"></i></span></h6>
							</div>
						</a>

						<a href="#">
							<div class="inner-support-box">
								<figure><img src="assets/image/Lack-of-confidence-1.svg" class="img-fluid"></figure>
								<h6>Lack Of Confidence <span><i class="fas fa-arrow-circle-right"></i></span></h6>
							</div>
						</a>

						
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ----other-area-support-wrapper-end-------- -->

<!-- footer-start --> 
<%- include('comman/footer'); %>
<!-- footer-end -->