<!-- header-start -->

<?php include('header.php');?>

<!-- header-end -->


<section class="inner-banner-wrapper testimonial" style=" background-image: linear-gradient(to left, rgba(111,174,249, 0) 10%,rgba(111,174,249, 0) 18%, rgb(244, 246, 250) 45%);">
  <div class="container">
    <div lang="row align-item-center">
      <div class="col-lg-6 m-auto">
        <h1 class="main-heading text-center">Privacy Policy</h1>
        <!-- <p>Last Updated and Effective: December 14, 2023</p> -->
      </div>
    </div>
  </div>
</section>







<!-- footer-start -->

<?php include('footer.php');?>

<!-- footer-end -->