<!-- header-start --> 
<%- include('comman/header'); %>
<!-- header-end -->

<!-- ----treatment-wrapper-start-------- -->
<section class="treatment-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 m-auto">
				<div class="treatment-cnt text-center">
					<div class="sub-heading">
						<h3>Professional Challenges</h3>
						<p>Professional challenges encompass difficulties faced in the workplace, including stress, burnout, and interpersonal conflicts. Addressing these challenges is crucial for maintaining mental well-being in a professional setting.</p>
					</div>
				</div>
			</div>

			<div class="bottom-area-treatment">
				<div class="treatment-cnt">
					<ul>
						<li class="sub-heading">
							<h3>Symptoms:</h3>
							<p>Burnout, reduced job satisfaction, interpersonal conflicts, decreased productivity.</p>
						</li>
						<li class="sub-heading">
							<h3>Causes:</h3>
							<p>High workload, lack of autonomy, poor work environment, unclear expectations.</p>
						</li>
						<li class="sub-heading">
							<h3>Types:</h3>
							<p>Work-related stress, career transitions, interpersonal challenges.</p>
						</li>
						<li class="sub-heading">
							<h3>Ways to Heal:</h3>
							<p>Work-life balance, assertiveness training, seeking professional support, setting career goals.</p>
						</li>
					</ul>
					<h5>You Can Overcome Professional Challenges Like Many Have Before You. It Does Not Have To Stay That Way.</h5>
					<div class="btn-area"><a href="" class="btn-all"><i class="fa-regular fa-arrow-right"></i><span>GET STARTED</span></a></div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ----treatment-wrapper-end-------- -->

<!-- ----other-area-support-wrapper-start-------- -->
<section class="other-area-support-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 m-auto">
				<div class="out-support-areas">
					<div class="section-heading">
			            <h2>Other Area Of Support</h2>
			        </div>
					<div class="other-support-box">

						<a href="loss-identity.php">
							<div class="inner-support-box">
								<figure><img src="assets/image/loi.svg" class="img-fluid"></figure>
								<h6>Loss Of Identity<span><i class="fas fa-arrow-circle-right"></i></span></h6>
							</div>
						</a>

						<a href="anger.php">
							<div class="inner-support-box">
								<figure><img src="assets/image/anger-management-1.svg" class="img-fluid"></figure>
								<h6>Anger <span><i class="fas fa-arrow-circle-right"></i></span></h6>
							</div>
						</a>

						<a href="loss-grief.php">
							<div class="inner-support-box">
								<figure><img src="assets/image/loss.svg" class="img-fluid"></figure>
								<h6>Loss<span><i class="fas fa-arrow-circle-right"></i></span></h6>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ----other-area-support-wrapper-end-------- -->

<!-- footer-start --> 
<%- include('comman/footer'); %>
<!-- footer-end -->