
<!-- header-start -->

<%- include('comman/header'); %>

<!-- header-end -->

<!-- inner-banner-wrapper-start -->
<section class="inner-banner-wrapper testimonial" style=" background-image: linear-gradient(to left, rgba(111,174,249, 0) 10%,rgba(111,174,249, 0) 18%, rgb(244, 246, 250) 45%) ,url(assets/image/portrait-happy-smiling.jpg);">
	<div class="container">
		<div lang="row align-item-center">
			<div class="col-lg-6 m-auto">
				 <h1 class="main-heading">Reviews</h1>
				 <nav aria-label="breadcrumb">
				  <ol class="breadcrumb">
				    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">About</a></li>
				    <li class="breadcrumb-item active" aria-current="page">Reviews</li>
				  </ol>
				</nav>

			</div>
		</div>
	</div>
</section>
<!-- inner-banner-wrapper-end -->



<!-- Reviews-wrapper-start -->
<section class="Reviews-wrapper">
	<div class="container">
        <div class="section-heading">

                        <h2>All Reviews</h2>
                        <p>Connect with your therapist — any time, anywhere</p>
                    </div>
		<div class="reviews-content">
				<div class="row mt-3 g-5">

					<div class="col-lg-4 d-flex">
                    <div class="reviews-item">
                        <div class="review-cnt">
                        	<h3>Life-Changing Support</h3>
                            <p>Having sought therapy on healinhere, I've experienced life-changing support. My therapist not only demonstrated profound professionalism but also approached our sessions with an empathetic understanding that made me feel heard and valued. The progress I 've made with their guidance has been transformative. Highly recommended for anyone seeking meaningful and effective therapy.</p>
                        </div>
                        <div class="customer-box">

                            <figure>

                                <img src="assets/image/customer.png" class="img-fluid"/>

                            </figure>

                            <div class="customer-detail">

                                <h4>Member review for</h4>

                                <h5>James Brook</h5>

                            </div>

                        </div>

                    </div>
                	</div>

                	<div class="col-lg-4 d-flex">
                    <div class="reviews-item">
                        <div class="review-cnt">
                        	<h3>A True Partner in My Journey</h3>
                            <p>healinheres therapists go beyond their professional roles; they become true partners in your mental health journey. My therapist blended expertise with a genuine empathy that made me comfortable from day one. Their ability to guide me through challenges while celebrating every small victory has been instrumental in my progress. Grateful for their dedication and support.</p>
                        </div>
                        <div class="customer-box">

                            <figure>

                                <img src="assets/image/customer.png" class="img-fluid"/>

                            </figure>

                            <div class="customer-detail">

                                <h4>Member review for</h4>

                                <h5>James Brook</h5>

                            </div>

                        </div>

                    </div>
                	</div>

                	<div class="col-lg-4 d-flex">
                    <div class="reviews-item">
                        <div class="review-cnt">
                        	<h3>Empathy that Transcends the Screen</h3>
                            <p>healinhere's therapists have mastered the art of virtual empathy. My therapist's ability to connect and understand my emotions, even through a screen, has been truly remarkable. Their professionalism is unmatched, and the progress we've achieved together has been a testament to their skill and commitment. A heartfelt thank you for making a difference in my life.</p>
                        </div>
                        <div class="customer-box">

                            <figure>

                                <img src="assets/image/customer.png" class="img-fluid"/>

                            </figure>

                            <div class="customer-detail">

                                <h4>Member review for</h4>

                                <h5>James Brook</h5>

                            </div>

                        </div>

                    </div>
                	</div>

                	<div class="col-lg-4 d-flex">
                    <div class="reviews-item">
                        <div class="review-cnt">
                        	<h3>Professionalism at Its Finest</h3>
                            <p>Choosing healinhere was a game-changer for me. The professionalism exhibited by my therapist was nothing short of exceptional. They skillfully navigated our sessions, providing insights and tools that have empowered me in ways I never thought possible. If you're looking for a professional and empathetic therapist, healinhere is the place to be.</p>
                        </div>
                        <div class="customer-box">

                            <figure>

                                <img src="assets/image/customer.png" class="img-fluid"/>

                            </figure>

                            <div class="customer-detail">

                                <h4>Member review for</h4>

                                <h5>James Brook</h5>

                            </div>

                        </div>

                    </div>
                	</div>

                	<div class="col-lg-4 d-flex">
                    <div class="reviews-item">
                        <div class="review-cnt">
                        	<h3>A Safe Haven for Healing</h3>
                            <p>healinhere's therapists create a safe haven for healing. My therapist not only brought expertise tothe table but also an unwavering empathy that made every session a journey of self-discovery andgrowth. The progress I've witnessed in myself is a testament to the skill and dedication of healinhere's therapists. Grateful for the positive impact they've had on my life.</p>
                        </div>
                        <div class="customer-box">

                            <figure>

                                <img src="assets/image/customer.png" class="img-fluid"/>

                            </figure>

                            <div class="customer-detail">

                                <h4>Member review for</h4>

                                <h5>James Brook</h5>

                            </div>

                        </div>

                    </div>
                	</div>

                </div>
		</div>
	</div>
</section>
<!-- Reviews-wrapper-end -->



<!-- get-started-section-start -->

<section class="get-started" id="get_started">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

         <div class="section-heading" data-aos="zoom-in" data-aos-delay="100">

            <h2>"Ready to join us on <br>a tranformative adventure?...."</h2>

            <p>Let’s find the best therapist match for you. </p>

        </div>

        <div class="btn-area">

                <a href="" class="btn-all"><i class="fa-regular fa-arrow-right"></i><span>get started now</span></a>

        </div>

    </div>

    <div class="bottom-after">

        <img src="assets/image/g-bottom.png" class="img-fluid" />

    </div>

</section>

<!-- get-started-section-end -->


<!-- footer-start -->

<%- include('comman/footer'); %>

<!-- footer-end -->
