<!-- header-start --> 
<%- include('comman/header'); %>
<!-- header-end -->

<!-- ----treatment-wrapper-start-------- -->
<section class="treatment-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 m-auto">
				<div class="treatment-cnt text-center">
					<div class="sub-heading">
						<h3>Stress</h3>
						<p>Stress is a natural response to challenging situations, but chronic stress can have adverse effects on mental and physical health. It can manifest as emotional exhaustion, irritability, and difficulty coping with daily demands.</p>
					</div>
				</div>
			</div>

			<div class="bottom-area-treatment">
				<div class="treatment-cnt">
					<ul>
						<li class="sub-heading">
							<h3>Symptoms:</h3>
							<p>Physical tension, irritability, difficulty concentrating, changes in sleep patterns.</p>
						</li>
						<li class="sub-heading">
							<h3>Causes:</h3>
							<p>Work pressure, life changes, financial issues, lack of work-life balance.</p>
						</li>
						<li class="sub-heading">
							<h3>Types:</h3>
							<p>Acute stress, chronic stress, episodic acute stress.</p>
						</li>
						<li class="sub-heading">
							<h3>Ways to Heal:</h3>
							<p>Stress management techniques (exercise, meditation), time management, setting boundaries, seeking social support.</p>
						</li>
					</ul>
					<h5>You Can Overcome Stress Like Many Have Before You. It Does Not Have To Stay That Way.</h5>
					<div class="btn-area"><a href="" class="btn-all"><i class="fa-regular fa-arrow-right"></i><span>GET STARTED</span></a></div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ----treatment-wrapper-end-------- -->

<!-- ----other-area-support-wrapper-start-------- -->
<section class="other-area-support-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 m-auto">
				<div class="out-support-areas">
					<div class="section-heading">
			            <h2>Other Area Of Support</h2>
			        </div>
					<div class="other-support-box">

						<a href="professional-challenges.php">
							<div class="inner-support-box">
								<figure><img src="assets/image/Professional-challenges-1.svg" class="img-fluid"></figure>
								<h6>Professional Challenges<span><i class="fas fa-arrow-circle-right"></i></span></h6>
							</div>
						</a>

						<a href="loss-identity.php">
							<div class="inner-support-box">
								<figure><img src="assets/image/loi.svg" class="img-fluid"></figure>
								<h6>Loss Of Identity<span><i class="fas fa-arrow-circle-right"></i></span></h6>
							</div>
						</a>

						<a href="anger.php">
							<div class="inner-support-box">
								<figure><img src="assets/image/anger-management-1.svg" class="img-fluid"></figure>
								<h6>Anger <span><i class="fas fa-arrow-circle-right"></i></span></h6>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ----other-area-support-wrapper-end-------- -->

<!-- footer-start --> 
<%- include('comman/footer'); %>
<!-- footer-end -->