
<!-- header-start --> 
<%- include('comman/header'); %>
<!-- header-end -->


<!-- inner-banner-wrapper-start -->
<section class="inner-banner-wrapper testimonial" style=" background-image: linear-gradient(to left, rgba(111,174,249, 0) 10%,rgba(111,174,249, 0) 18%, rgb(244, 246, 250) 45%) ,url(assets/image/young-person.jpg);">
  <div class="container">
    <div lang="row align-item-center">
      <div class="col-lg-6 m-auto">
        <h1 class="main-heading">Teen Therapy </h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a href="#">Services</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Teen therapy</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- inner-banner-wrapper-end -->

<section class="teen-therapy-wrapper">
  <div class="container">
    <div class="row align-item-center">
      <div class="col-lg-6">
          <div class="teen-therapy-cnt">
            <div class="sub-heading">
                <h3>healinhere THERAPY FOR TEENS</h3>
                <p>Your safe space to get support, clarity, let go, make sense of things and process what is going on in your life.</p>
                <div class="mt-4">
                <a href="" class="btn-all">
                  <i class="fa-regular fa-arrow-right"></i>
                  <span>APPLY NOW</span>
                </a>
            </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="teen-therapy-img">
            <img src="assets/image/teen-img2.png" class="img-fluid">
          </div>
        </div>
        
  </div>
</section>

<!-- our-therapy-section-start -->

<section class="our-therapy" id="our_therapy">

    <div class="container">

        <div class="section-heading">

            <h2>How It Works</h2>

        </div>

        <div class="row g-4">

            <div class="col-12 col-md-12 col-lg-11 mx-auto">

                <div class="row row g-5 align-items-center">

                    <div class="col-12 col-md-12 col-lg-6" >

                        <div class="therapy-img">

                            <!-- Tab panes -->

                            <div id="tabs-content">

                              <div id="tab1" class="tab-content">

                                   <div class="therapy-image">

                                       <img src="assets/image/man-1.jpg" class="img-fluid">

                                   </div>

                                </div>



                                <div id="tab2" class="tab-content">                               

                                    

                                    <div class="therapy-image">

                                       <img src="assets/image/f21.jpg" class="img-fluid">

                                   </div>

                                

                                </div>



                                <div id="tab3" class="tab-content">

                                  <div class="therapy-image">

                                       <img src="assets/image/seractive.jpg" class="img-fluid">

                                   </div>

                                </div>

                            </div>

                            <div class="therpa-before">

                                <img src="assets/image/thera-after.svg">

                            </div>

                        </div>

                    </div>

                    <div class="col-12 col-md-12 col-lg-6" data-aos="fade-left" data-aos-delay="500">

                        <div class="therapy-content">

                            <ul id="tabs-nav">

                                <li>

                                    <a  href="#tab1">

                                        <h3 class="therapy-heading">ANSWER </h3>

                                        <p>some questions in the “GET STARTED”</p>

                                    </a>

                                </li>

                                <li>

                                    <a  href="#tab2">

                                        <h3 class="therapy-heading">GET MATCHED </h3>

                                        <p>with a healinere therapist within 24 to 48hrs </p>

                                    </a>

                                </li>

                                <li>

                                    <a href="#tab3">

                                        <h3 class="therapy-heading">START THERAPY</h3>

                                         <p>The first discovery consultation is always free.</p>

                                    </a>

                                </li>

                            </ul>

                                  <a href="" class="btn-all"><i class="fa-regular fa-arrow-right"></i><span>GET STARTED</span></a>                                                        

                        </div>

                    </div>



            </div>

        </div>

    </div>

</section>

<!-- our-therapy-section-end -->


<!-- Why-Teens-wrapper-start -->
<section class="Why-Teens-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
          <div class="why-teen-cnt">
              <div class="sub-heading">
                <h3>Why Teens Love healinhere</h3>
                <ul>
                  <li>
                    <div class="teen-point-icon">
                      <img src="assets/image/shuttle.png" class="img-fluid">
                    </div>
                    <p>Skip the hassle of scheduling and commuting – therapy that fits your teen's life.</p>
                  </li>

                  <li>
                    <div class="teen-point-icon">
                      <img src="assets/image/black-graduation-cap.png" class="img-fluid">
                    </div>
                    <p>Connect with qualified therapists specialised in understanding and supporting teens.</p>
                  </li>

                  <li>
                    <div class="teen-point-icon">
                      <img src="assets/image/chat.png" class="img-fluid">
                    </div>
                    <p>Send messages or schedule a monthly video session; flexibility that suits your teen's needs.</p>
                  </li>

                  <li>
                    <div class="teen-point-icon">
                      <img src="assets/image/multiple-users.png" class="img-fluid">
                    </div>
                    <p>Switch therapist if the first match doesn't quite click.</p>
                  </li>
                </ul>
            </div>
          </div>
      </div>
      <div class="col-lg-6">
        <div class="why-teen-img">
          <img src="assets/image/teen-img.jpg" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Why-Teens-wrapper-end -->


<section class="Some-topics-wrapper">
  <div class="container">
    <div class="section-heading" data-aos="fade-up" data-aos-delay="500">

            <h2>Some Of The Topics You Can Talk <br>About With Your <span>healinhere</span> Therapist</h2>

        </div>
    <div class="row mt-5">
         <div class="main-container">
            <div class="main">
              <div class="big-circle">

                <div class="icon-block " id="box1">
                  <a href="#">
                    <div class="support-box">
                      <figure><img src="assets/image/Anxiety1.svg" class="img-fluid"></figure>
                      <h6>Anxiety <span><i class="fas fa-arrow-circle-right"></i></span></h6>
                    </div>
                  </a>
                </div>

                <div class="icon-block" id="box2">
                   <a href="#">
                    <div class="support-box">
                      <figure><img src="assets/image/Depression1.svg" class="img-fluid"></figure>
                      <h6>Depression <span><i class="fas fa-arrow-circle-right"></i></span></h6>
                    </div>
                    </a>
                </div>

                <div class="icon-block" id="box3">
                   <a href="#">
                    <div class="support-box">
                      <figure><img src="assets/image/Substance-Abuse1.svg" class="img-fluid"></figure>
                      <h6>Substance Abuse <span><i class="fas fa-arrow-circle-right"></i></span></h6>
                    </div>
                  </a>
                </div>

                <div class="icon-block" id="box4">
                   <a href="#">
                    <div class="support-box">
                      <figure><img src="assets/image/Online-Social-Media-Stress.svg" class="img-fluid"></figure>
                      <h6>Online and Social Media Stress <span><i class="fas fa-arrow-circle-right"></i></span></h6>
                    </div>
                  </a>
                </div>

                <div class="icon-block" id="box5">
                   <a href="#">
                    <div class="support-box">
                      <figure><img src="assets/image/Trauma-PTSD.svg" class="img-fluid"></figure>
                      <h6>Trauma and PTSD <span><i class="fas fa-arrow-circle-right"></i></span></h6>
                    </div>
                  </a>
                </div>

                <div class="icon-block" id="box6">
                   <a href="#">
                    <div class="support-box">
                      <figure><img src="assets/image/Sexuality-Relationships1.svg" class="img-fluid"></figure>
                      <h6>Sexuality and Relationships <span><i class="fas fa-arrow-circle-right"></i></span></h6>
                    </div>
                  </a>
                </div>

                <div class="icon-block" id="box7">
                   <a href="#">
                    <div class="support-box">
                      <figure><img src="assets/image/Time-Management-Burnout.svg" class="img-fluid"></figure>
                      <h6>Time Management and Burnout <span><i class="fas fa-arrow-circle-right"></i></span></h6>
                    </div>
                  </a>
                </div>

                <div class="icon-block" id="box8">
                   <a href="#">
                    <div class="support-box">
                      <figure><img src="assets/image/Grief-Loss.svg" class="img-fluid"></figure>
                      <h6>Grief and Loss <span><i class="fas fa-arrow-circle-right"></i></span></h6>
                    </div>
                  </a>
                </div>

              </div>

              <div class="circle">

                <div class="icon-block">
                   <a href="#">
                    <div class="support-box">
                      <figure><img src="assets/image/Self-Harm1.svg" class="img-fluid"></figure>
                      <h6>Self-Harm and Suicidal Thoughts <span><i class="fas fa-arrow-circle-right"></i></span></h6>
                    </div>
                  </a>
                </div>

                <div class="icon-block">
                  <div class="support-box">
                     <a href="#">
                        <figure><img src="assets/image/Eating-Disorders1.svg" class="img-fluid"></figure>
                        <h6>Eating Disorders <span><i class="fas fa-arrow-circle-right"></i></span></h6>
                      </div>
                    </a>
                </div>

                <div class="icon-block">
                  <div class="support-box">
                     <a href="#">
                        <figure><img src="assets/image/Anger-Management.svg" class="img-fluid"></figure>
                        <h6>Anger Management <span><i class="fas fa-arrow-circle-right"></i></span></h6>
                      </div>
                    </a>
                </div>

                <div class="icon-block">
                  <div class="support-box">
                      <a href="#">
                        <figure><img src="assets/image/Coping-Change.svg" class="img-fluid"></figure>
                        <h6>Coping with Change <span><i class="fas fa-arrow-circle-right"></i></span></h6>
                      </div>
                    </a>
                </div>

              </div>

              <div class="center-logo">
                 <a href="#">
                  <div class="support-box">
                      <figure><img src="assets/image/Future-Planning-Stress.svg" class="img-fluid"></figure>
                      <h6>Future Planning and Stress <span><i class="fas fa-arrow-circle-right"></i></span></h6>
                    </div>
                  </a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>





<!-- faq-wrapper-start -->

<section class="faq-wrapper">
  <div class="container">
    <div class="section-heading" data-aos="fade-up" data-aos-delay="500">

            <h2>Frequently <span>Asked Questions</span> For Teens</h2>

        </div>

        <div class="row">
          <div class="col-lg-9 m-auto">

            <div class="accordion" id="accordi1xample">

              <div class="accordion-item panel-default">
                <h2 class="accordion-header" id="heading1-teen">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1-teen" aria-expanded="true" aria-controls="collapse1"aria-controls="collapse1-teen">
                   How do I know if therapy is right for me as a teen?
                  </button>
                </h2>
                <div id="collapse1-teen" class="accordion-collapse collapse show" aria-labelledby="heading1-teen" data-bs-parent="#accordi1xample">
                  <div class="accordion-body">
                    <P>Therapy can be beneficial for anyone facing challenges. Our healinhere therapists specialise in supporting teens, providing a safe space to explore and overcome difficulties.</P>
                  </div>
                </div>
              </div>

              <div class="accordion-item panel-default">
                <h2 class="accordion-header" id="heading2-teen">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2-teen" aria-expanded="false" aria-controls="collapse2-teen">
                 Will my therapist understand what I'm going through as a teenager?
                  </button>
                </h2>
                <div id="collapse2-teen" class="accordion-collapse collapse" aria-labelledby="heading2-teen" data-bs-parent="#accordi1xample">
                  <div class="accordion-body">
                   <P>Absolutely. healinhere therapists are specially trained to understand the unique experiences and pressures teens face. They're here to listen, support, and help you navigate these challenges.</P>
                  </div>
                </div>
              </div>

              <div class="accordion-item panel-default">
                <h2 class="accordion-header" id="heading3-teen">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3-teen" aria-expanded="false" aria-controls="collapse3-teen">
                    Can I choose a therapist who aligns with my specific concerns?
                  </button>
                </h2>
                <div id="collapse3-teen" class="accordion-collapse collapse" aria-labelledby="heading3-teen" data-bs-parent="#accordi1xample">
                  <div class="accordion-body">
                    <P>Yes, you have the flexibility to choose a therapist based on your preferences and concerns. healinhere offers a diverse range of therapists, ensuring a personalised match for your needs.</P>
                  </div>
                </div>
              </div>

              <div class="accordion-item panel-default">
                <h2 class="accordion-header" id="heading4-teen">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4-teen" aria-expanded="false" aria-controls="collapse4-teen">
                   How does therapy at healinhere work for teens?
                  </button>
                </h2>
                <div id="collapse4-teen" class="accordion-collapse collapse" aria-labelledby="heading4-teen" data-bs-parent="#accordi1xample">
                  <div class="accordion-body">
                   <P>healinhere provides a platform for easy messaging and video sessions. You can communicate with your therapist whenever you need support, making it a flexible and accessible option for teens.</P>
                  </div>
                </div>
              </div>

              <div class="accordion-item panel-default">
                <h2 class="accordion-header" id="heading5-teen">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5-teen" aria-expanded="false" aria-controls="collapse5-teen">
                   Will my therapist keep what I say confidential?
                  </button>
                </h2>
                <div id="collapse5-teen" class="accordion-collapse collapse" aria-labelledby="heading5-teen" data-bs-parent="#accordi1xample">
                  <div class="accordion-body">
                   <P>Yes, confidentiality is a priority. Your healinhere therapist will only disclose information if there's a risk of harm, ensuring a safe and trusting environment for open communication.</P>
                  </div>
                </div>
              </div>

              <div class="accordion-item panel-default">
                <h2 class="accordion-header" id="heading6-teen">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6-teen" aria-expanded="false" aria-controls="collapse6-teen">
                    What if I don't feel comfortable with my first therapist?
                  </button>
                </h2>
                <div id="collapse6-teen" class="accordion-collapse collapse" aria-labelledby="heading6-teen" data-bs-parent="#accordi1xample">
                  <div class="accordion-body">
                   <P>It's completely okay. healinhere understands the importance of the right fit. If your first therapistisn't the ideal match, you can easily switch to another who better aligns with your preferences and needs.</P>
                  </div>
                </div>
              </div>

              <div class="accordion-item panel-default">
                <h2 class="accordion-header" id="heading7-teen">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7-teen" aria-expanded="false" aria-controls="collapse7-teen">
                   Can therapy really help with school stress and anxiety?
                  </button>
                </h2>
                <div id="collapse7-teen" class="accordion-collapse collapse" aria-labelledby="heading7-teen" data-bs-parent="#accordi1xample">
                  <div class="accordion-body">
                   <P>Yes, healinhere therapists can provide valuable strategies to manage school-related stress and anxiety. They work with you to develop coping mechanisms, fostering a healthier approach to academic challenges.</P>
                  </div>
                </div>
              </div>

              <div class="accordion-item panel-default">
                <h2 class="accordion-header" id="heading8-teen">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8-teen" aria-expanded="false" aria-controls="collapse8-teen">
                   Is it okay to ask for help as a teenager?
                  </button>
                </h2>
                <div id="collapse8-teen" class="accordion-collapse collapse" aria-labelledby="heading8-teen" data-bs-parent="#accordi1xample">
                  <div class="accordion-body">
                  <P>Absolutely. Seeking help is a sign of strength. healinhere therapists are here to offer support, guidance, and a non-judgmental space for you to express yourself and work through your concerns.</P>
                  </div>
                </div>
              </div>

              <div class="accordion-item panel-default">
                <h2 class="accordion-header" id="heading9-teen">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9-teen" aria-expanded="false" aria-controls="collapse9-teen">
                  What if I'm not sure what's bothering me exactly?
                  </button>
                </h2>
                <div id="collapse9-teen" class="accordion-collapse collapse" aria-labelledby="heading9-teen" data-bs-parent="#accordi1xample">
                  <div class="accordion-body">
                  <p>That's perfectly fine. healinhere therapists are skilled at helping you explore your thoughts and feelings. Therapy is a collaborative process, and your therapist will guide you in gaining clarity on your concerns.</p>
                  
                  </div>
                </div>
              </div>


              <div class="accordion-item panel-default">
                <h2 class="accordion-header" id="heading10-teen">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse10-teen" aria-expanded="false" aria-controls="collapse10-teen">
                  How can therapy positively impact my life as a teen?
                  </button>
                </h2>
                <div id="collapse10-teen" class="accordion-collapse collapse" aria-labelledby="heading10-teen" data-bs-parent="#accordi1xample">
                  <div class="accordion-body">
                   <P>Therapy can provide you with coping skills, emotional support, and a better understanding of yourself. healinhere therapists are dedicated to helping teens build resilience, improve relationships, and navigate the challenges of adolescence with confidence.</P>
                  </div>
                </div>
              </div>

               <div class="accordion-item panel-default">
                <h2 class="accordion-header" id="heading11-teen">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse11-teen" aria-expanded="false" aria-controls="collapse11-teen">
                  I'm not sure how to tell my parents I need therapy. What should I do?
                  </button>
                </h2>
                <div id="collapse11-teen" class="accordion-collapse collapse" aria-labelledby="heading11-teen" data-bs-parent="#accordi1xample">
                  <div class="accordion-body">
                   <P>It's completely normal to feel unsure about approaching your parents. Consider expressing your feelings honestly, emphasising that therapy is a positive step towards your well-being. You can mention the support and guidance offered by healinhere therapists, highlighting that it's a confidential and safe space to explore your thoughts and concerns. If you find it challenging to bring up the topic directly, consider writing a letter or finding a quiet moment to discuss your feelings. Remember, seeking help is a courageous decision, and your parents likely want what's best for you.</P>
                  </div>
                </div>
              </div>



            </div>
          </div>
        </div>
  </div>
</section>
<!-- faq-wrapper-end -->

<!-- get-started-section-start -->

<section class="get-started" id="get_started">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="section-heading" data-aos="zoom-in" data-aos-delay="100">

            <h2>"Ready to join us on <br>a tranformative adventure?...."</h2>

            <p>Let’s find the best therapist match for you. </p>

        </div>

        <div class="btn-area">

                <a href="" class="btn-all"><i class="fa-regular fa-arrow-right"></i><span>get started now</span></a>

        </div>

    </div>

    <div class="bottom-after">

        <img src="assets/image/g-bottom.png" class="img-fluid" />

    </div>

</section>

<!-- get-started-section-end -->


<!-- footer-start --> 
<%- include('comman/footer'); %>
<!-- footer-end -->

