<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Healin</title>



  <!-- font-awesome-link -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />



  <!-- bootstrap-5.0.2-link -->

  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">



  <!-- AOS-2.3.4-link -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />



  <!-- owl-carousel2.3.4-link -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" />



  <!-- fancy-box-css -->

  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css">



  <!--slick.css-link-->
  <!-- <link href="https://assets-global.website-files.com/5c1181093d8f969da005c4a6/css/b2b-page.09397fc21.min.css" rel="stylesheet" type="text/css"/> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"
    integrity="sha256-4hqlsNP9KM6+2eA8VUT0kk4RsMRTeS7QGHIM+MZ5sLY=" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
    integrity="sha256-UK1EiopXIL+KVhfbFa8xrmAWPeBjMVdvYMYkTAEv/HI=" crossorigin="anonymous" />
  <!--style.css-link-->

  <link rel="stylesheet" href="/assets/css/style.css">


  <!--multistep-style.css-link-->

  <link rel="stylesheet" href="/assets/css/multistep-style.css">





  <!-- reponsive.css-link -->

  <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">



  <!-- favicon-link -->

  <link rel="icon" type="image/x-icon" href="">


  <!-- JQuery lib  -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- JQuery validation lib -->
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

  <style>
    body {
      background-color: #46BC96;
    }

    .hide-item {
      display: none;
    }

    .form-container {
      background-color: #fff;
      width: 20%;
      padding: 1rem;
      position: absolute;
      top: 30%;
      left: 40%;
      border-radius: 7px;
    }

    .btn-primary {
      background-color: #F3CE69;
      border: 1px solid #F3CE69;
      color: black;
      margin-top: 0.5rem;
    }

    .btn-primary:hover {
      background-color: #fadc8a;
      border: 1px solid #f3e2b3;
      color: black;
    }

    .btn:hover {
      background-color: #fadc8a;
      border: 1px solid #f3e2b3;
      color: black;
    }
  </style>

</head>

<body>

  <div class="form-container">
    <form id="change-password-form">
      <div class="form-group" id="email-container">
        <label for="exampleInputEmail">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" name="email">
        <small id="emailHelp" class="form-text text-muted"></small>
      </div>
      <div class="form-group" id="old-password-container">
        <label for="exampleInputOldPassword">Old Password</label>
        <input type="password" class="form-control" id="exampleInputOldPassword" aria-describedby="oldPasswordHelp" name="oldPassword">
        <small id="oldPasswordHelp" class="form-text text-muted"></small>
      </div>
      <div class="form-group" id="new-password-container">
        <label for="exampleInputNewPassword">New Password</label>
        <input type="password" class="form-control" id="exampleInputNewPassword" aria-describedby="newPasswordHelp" name="newPassword">
        <small id="newPasswordHelp" class="form-text text-muted"></small>
      </div>
      <button type="submit" class="btn btn-primary" id="submit-btn">Submit</button>
    </form>
  </div>

  <script>

    // const emailContainer = document.getElementById("email-container");
    // const emailContainer2 = document.getElementById("email-container-2");
    // const otpContainer = document.getElementById("otp-container");
    // const passwordContainer = document.getElementById("password-container");
    // const submitBtn = document.getElementById("submit-btn");
    // const verifyBtn = document.getElementById("verify-btn");
    // const forgetPasswordForm = document.getElementById("forget-password-form");
    // const verifyForm = document.getElementById("verify-otp-form");
    // const email1 = document.getElementById("exampleInputEmail1");
    // const email2 = document.getElementById("exampleInputEmail2");

    $("#change-password-form").validate({
      rules: {
        email: {
          required: true,
          email: true
        },
        oldPassword : {
          required : true
        },
        newPassword : {
          required : true
        }
      },
      messages: {
        email : {
          required: "Email should not be empty",
          email: "Invalid email address"
        },
        oldPassword : {
          required : "Old Password field should not be empty."
        },
        newPassword : {
          required : "New Password field should not be empty."
        }
      },
      submitHandler: function (form, event) {
        var data = $(form).serialize();
        console.log(data);
        $.ajax({
          url: "/therapist/password-change",
          type: "POST",
          data: data,
          dataType: "JSON",
          success: function (response) {
            // if (response.status === "fail") return;
            console.log(response);
          }
        });
      },
      errorPlacement: function (error, element) {
        console.log(error);
        console.log(element);
        // $("#emailHelp").text("Email Required");
      }
    });

  </script>

</body>

</html>