<input type="radio" id="Psychiatrist" class="type-of-therapist" name="type_of_therapist" value="Psychiatrist">
<label for="Psychiatrist">A Psychiatrist</label>

const countries = [
  "Afghanistan",
  "Albania",
  "Algeria",
  "Andorra",
  "Angola",
  "Antigua and Barbuda",
  "Argentina",
  "Armenia",
  "Australia",
  "Austria",
  "Azerbaijan",
  "Bahamas",
  "Bahrain",
  "Bangladesh",
  "Barbados",
  "Belarus",
  "Belgium",
  "Belize",
  "Benin",
  "Bhutan",
  "Bolivia",
  "Bosnia and Herzegovina",
  "Botswana",
  "Brazil",
  "Brunei",
  "Bulgaria",
  "Burkina Faso",
  "Burundi",
  "Cabo Verde",
  "Cambodia",
  "Cameroon",
  "Canada",
  "Central African Republic",
  "Chad",
  "Chile",
  "China",
  "Colombia",
  "Comoros",
  "Congo (Congo-Brazzaville)",
  "Costa Rica",
  "Croatia",
  "Cuba",
  "Cyprus",
  "Czechia (Czech Republic)",
  "Democratic Republic of the Congo",
  "Denmark",
  "Djibouti",
  "Dominica",
  "Dominican Republic",
  "Ecuador",
  "Egypt",
  "El Salvador",
  "Equatorial Guinea",
  "Eritrea",
  "Estonia",
  "Eswatini (fmr. "Swaziland")",
  "Ethiopia",
  "Fiji",
  "Finland",
  "France",
  "Gabon",
  "Gambia",
  "Georgia",
  "Germany",
  "Ghana",
  "Greece",
  "Grenada",
  "Guatemala",
  "Guinea",
  "Guinea-Bissau",
  "Guyana",
  "Haiti",
  "Holy See",
  "Honduras",
  "Hungary",
  "Iceland",
  "India",
  "Indonesia",
  "Iran",
  "Iraq",
  "Ireland",
  "Israel",
  "Italy",
  "Jamaica",
  "Japan",
  "Jordan",
  "Kazakhstan",
  "Kenya",
  "Kiribati",
  "Kuwait",
  "Kyrgyzstan",
  "Laos",
  "Latvia",
  "Lebanon",
  "Lesotho",
  "Liberia",
  "Libya",
  "Liechtenstein",
  "Lithuania",
  "Luxembourg",
  "Madagascar",
  "Malawi",
  "Malaysia",
  "Maldives",
  "Mali",
  "Malta",
  "Marshall Islands",
  "Mauritania",
  "Mauritius",
  "Mexico",
  "Micronesia",
  "Moldova",
  "Monaco",
  "Mongolia",
  "Montenegro",
  "Morocco",
  "Mozambique",
  "Myanmar (formerly Burma)",
  "Namibia",
  "Nauru",
  "Nepal",
  "Netherlands",
  "New Zealand",
  "Nicaragua",
  "Niger",
  "Nigeria",
  "North Korea",
  "North Macedonia",
  "Norway",
  "Oman",
  "Pakistan",
  "Palau",
  "Palestine State",
  "Panama",
  "Papua New Guinea",
  "Paraguay",
  "Peru",
  "Philippines",
  "Poland",
  "Portugal",
  "Qatar",
  "Romania",
  "Russia",
  "Rwanda",
  "Saint Kitts and Nevis",
  "Saint Lucia",
  "Saint Vincent and the Grenadines",
  "Samoa",
  "San Marino",
  "Sao Tome and Principe",
  "Saudi Arabia",
  "Senegal",
  "Serbia",
  "Seychelles",
  "Sierra Leone",
  "Singapore",
  "Slovakia",
  "Slovenia",
  "Solomon Islands",
  "Somalia",
  "South Africa",
  "South Korea",
  "South Sudan",
  "Spain",
  "Sri Lanka",
  "Sudan",
  "Suriname",
  "Sweden",
  "Switzerland",
  "Syria",
  "Tajikistan",
  "Tanzania",
  "Thailand",
  "Timor-Leste",
  "Togo",
  "Tonga",
  "Trinidad and Tobago",
  "Tunisia",
  "Turkey",
  "Turkmenistan",
  "Tuvalu",
  "Uganda",
  "Ukraine",
  "United Arab Emirates",
  "United Kingdom",
  "United States of America",
  "Uruguay",
  "Uzbekistan",
  "Vanuatu",
  "Venezuela",
  "Vietnam",
  "Yemen",
  "Zambia",
  "Zimbabwe"
];

console.log(countries);









const popularLanguages = [
  "English",
  "Mandarin Chinese",
  "Spanish",
  "Hindi",
  "French",
  "Standard Arabic",
  "Bengali",
  "Russian",
  "Portuguese",
  "Urdu",
  "Indonesian",
  "German",
  "Japanese",
  "Swahili",
  "Telugu",
  "Marathi",
  "Turkish",
  "Tamil",
  "Vietnamese",
  "Korean",
  "Italian",
  "Thai",
  "Gujarati",
  "Javanese",
  "Kannada",
  "Polish",
  "Ukrainian",
  "Malayalam",
  "Oriya",
  "Panjabi",
  "Sunda",
  "Romanian",
  "Bhojpuri",
  "Azerbaijani",
  "Farsi",
  "Maithili",
  "Uzbek",
  "Sindhi",
  "Amharic",
  "Yoruba",
  "Igbo",
  "Oromo",
  "Malay",
  "Sinhala",
  "Tagalog",
  "Dutch",
  "Nepali",
  "Saraiki",
  "Cebuano",
  "Hungarian",
  "Czech",
  "Greek",
  "Swedish",
  "Haitian Creole",
  "Bengali",
  "Tajik",
  "Slovak",
  "Kinyarwanda",
  "Zulu",
  "Kazakh",
  "Kurdish",
  "Filipino",
  "Bulgarian",
  "Serbian",
  "Danish",
  "Lithuanian",
  "Tigrinya",
  "Latvian",
  "Georgian",
  "Estonian",
  "Pashto",
  "Malagasy",
  "Irish",
  "Armenian",
  "Somali",
  "Finnish",
  "Luxembourgish",
  "Burmese",
  "Albanian",
  "Akan",
  "Uighur",
  "Sicilian",
  "Kannada",
  "Kashmiri",
  "Khmer",
  "Corsican",
  "Kurdish",
  "Kongo",
  "Croatian",
  "Bosnian",
  "Chichewa",
  "Kinyarwanda",
  "Basque",
  "Lao",
  "Galician",
  "Tswana",
  "Zhuang",
  "Bambara",
  "Macedonian",
  "Dari",
  "Ewe",
  "Kikuyu",
  "Tsonga",
  "Bashkir",
  "Gilaki",
  "Afrikaans",
  "Sindhi",
  "Kirghiz",
  "Tahitian",
  "Chechen",
  "Tigrinya",
  "Wolof",
  "Ossetian",
  "Komi",
  "Odia",
  "Kabyle",
  "Pushto",
  "Tuvan",
  "Sango",
  "Chechen",
  "Zhuang",
  "Kongo",
  "Twi",
  "Greenlandic",
  "Dzongkha",
  "Udmurt",
  "Manx",
  "Fijian",
  "Tatar",
  "Inuktitut",
  "Maltese",
  "Yiddish",
  "Chuvash",
  "Friulian",
  "Bislama",
  "Aymara",
  "Tongan",
  "Rusyn",
  "Kiribati",
  "Palauan",
  "Marshallese",
  "Mari",
  "Norwegian",
  "Yakut",
  "Komi",
  "Gagauz",
  "Venda",
  "Gaelic",
  "Cornish",
  "Guarani",
  "Tumbuka",
  "Kwanyama",
  "Sango",
  "Xhosa",
  "Icelandic",
  "Zhuang",
  "Luxembourgish",
  "Divehi",
  "Innu",
  "Sranan Tongo",
  "Papiamento",
  "Tok Pisin",
  "Seychellois Creole",
  "Ganda",
  "Corsican",
  "Nauruan",
  "Bislama",
  "Tokelauan",
  "Tuvaluan",
  "Rotuman",
  "Chamorro",
  "Wolof",
  "Comorian",
  "Hiri Motu",
  "Māori",
  "Kanuri",
  "Gagauz",
  "Mongolian",
  "Afar",
  "Faroese",
  "Frisian",
  "Kinyarwanda",
  "Moldovan",
  "Tahitian",
  "Kirundi",
  "Kashubian",
  "Northern Sotho",
  "Kapampangan",
  "Makhuwa",
  "Aromanian",
  "Rundi",
  "Tetum",
  "Bemba",
  "Sango",
  "Waray",
  "Kirundi",
  "Tigrinya",
  "Sindarin",
  "Lojban",
  "Kashubian",
  "Kurmanji",
  "Sundanese",
  "Chavacano",
  "Banjar",
  "Pangasinan",
  "Old Norse",
  "Mazanderani",
  "Classical Chinese",
  "Haitian Creole",
  "Tetum",
  "Cornish",
  "Novial",
  "Sindarin",
  "Lingala",
  "Old Church Slavonic",
  "Minangkabau",
  "Bihari",
  "Cherokee",
  "Rotuman",
  "Võro",
  "Hausa",
  "Gilbertese",
  "Māori",
  "Tahitian",
  "Drehu",
  "Livonian",
  "Dusun",
  "Lozi",
  "Acholi",
  "Nahuatl",
  "Kikongo",
  "Pali",
  "Tumbuka",
  "Twi",
  "Pali",
  "Twi",
  "Zande",
  "Kinyarwanda",
  "Gothic",
  "Gothic",
  "Cherokee",
  "Kinyarwanda",
  "Pali",
  "Gothic",
  "Kinyarwanda",
  "Twi",
  "Kashubian",
  "Old Norse",
  "Twi",
  "Gothic",
  "Twi"
  ]

