<!-- header-start -->

<%- include('comman/header'); %>

<!-- header-end -->


<!-- inner-banner-wrapper-start -->
<section class="inner-banner-wrapper testimonial" style=" background-image: linear-gradient(to left, rgba(111,174,249, 0) 10%,rgba(111,174,249, 0) 18%, rgb(244, 246, 250) 45%) ,url(assets/image/young-person.jpg);">
	<div class="container">
		<div lang="row align-item-center">
			<div class="col-lg-6 m-auto">
				 <h1 class="main-heading">Work With Us</h1>
				 <nav aria-label="breadcrumb">
				  <ol class="breadcrumb">
				    <li class="breadcrumb-item"><a href="#">Home</a></li>
				    <li class="breadcrumb-item"><a href="#">For Work With Us</a></li>
				    <li class="breadcrumb-item active" aria-current="page">Work With Us</li>
				  </ol>
				</nav>

			</div>
		</div>
	</div>
</section>
<!-- inner-banner-wrapper-end -->


<!-- empower-section-start -->
<section class="empower-section">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="method-block">
					<div class="empower-image">
						<img src="assets/image/life_style_working_25.png">
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="empower-content">
					<div  class="sub-heading">
						<h3>For Work With Us</h3>
					</div>
					<p>Empower yourself to provide exceptional mental health care effortlessly with
					healinhere. Enjoy the advantages of a private practice without the complexities of
					running one.</p>
					<div class="btn-area">
                <a href="" class="btn-all">
                	<i class="fa-regular fa-arrow-right"></i>
                	<span>APPLY NOW</span>
                </a>
            </div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- empower-section-end -->


<!-- healin-work-section-start -->
<section class="healin-work healin-work-section" id="healin_work">

    <div class="container">

        <div class="healin-work-heading">
        	<div class="section-heading" data-aos="fade-up" data-aos-delay="500">

            <!-- <h2>How healinhere works</h2> -->
            <h2>Seize the opportunity to offer top-notch behavioural <span>healthcare on healinhere</span></h2>
            <p>With a rising demand for online therapy, healinhere enables you to support clients effectively from virtually anywhere</p>
        </div>
        </div>

        <div class="row ">
        	<div class="col-12 col-md-12 col-lg-10 col-xl-9 mx-auto">
        		<div class="row second-row mb-5">
        			<div class="col-md-6 order-2 order-md-1">
                        <div class="healin-work-img1">                            
                             <figure><img src="assets/image/fo1.jpg" class="img-fluid"/></figure>
                         </div>
                    </div>
                    <div class="col-md-6 order-1 order-md-2" data-aos="fade-left" data-aos-delay="500"> 
                        <div class="healin-work-content">
                            <div class="sub-heading">
                                <h3>Competitive Pay</h3>
             					<p>Enjoy a rewarding career with healinhere, where we prioritise fair and competitive compensation for our therapists. We understand the valu of your expertise and dedication to mental health, ensuring you receive compensation that reflects your skills and contributions.</p>
                         	</div>
                        </div>       
                     </div>
                     </div>
                     <div class="row second-row mb-5"> 

                      <div class="col-md-6  order-3 order-md-3" data-aos="fade-right" data-aos-delay="500"> 
                                 <div class="healin-work-content mt-0">   
                                   <div class="sub-heading">
                               			 <h3>No Overheads</h3>
             							<p>Say goodbye to the challenges of maintaining a private practice. As a healinhere therapist, you can focus solely on delivering high-quality care without the burden of overhead costs. We handle the administrative and logistical aspects, allowing you to concentrate on what you do best – providing exceptional therapy.</p>
                         			</div>
                                 </div>       

                      </div> 
                        <div class="col-md-6  order-4 order-md-4" >
                                 	<div class="healin-work-img1">                            
                             <figure><img src="assets/image/fo1.jpg" class="img-fluid"/></figure>
                         </div>
                        </div>
                    </div>
                    <div class="row second-row mb-5">
                        <div class="col-md-6 order-last order-md-5" >
                        <div class="healin-work-img1">                            
                             <figure><img src="assets/image/fo1.jpg" class="img-fluid"/></figure>
                         </div>
                        </div>
                         <div class=" col-md-6  order-5 order-md-last" data-aos="fade-left" data-aos-delay="500"> 

                                 <div class="healin-work-content">

                                     <div class="sub-heading">

                                             <h3>Increased Revenue:</h3>

                                             <p>Unlock the potential for increased revenue as a healinhere therapist. With a platform that connects you to a diverse range of clients and a growing demand for online therapy, you have the opportunity to expand your reach and build a robust client base. This increased accessibility translates to more opportunities for revenue growth over time.</p>

                                         </div>
                                 </div>                   
                        </div>
                        </div>
                        <div class="row second-row"> 
                        <div class="col-md-6  order-7 order-md-7" data-aos="fade-right" data-aos-delay="500"> 
                                 <div class="healin-work-content mt-0">   
                                   <div class="sub-heading">
                               			 <h3>Increased Revenue</h3>
             							<p>Unlock the potential for increased revenue as a healinhere therapist. With a platform that connects you to a diverse range of clients and a growing demand for online therapy, you have the opportunity to expand your reach and build a robust client base. This increased accessibility translates to more opportunities for revenue growth over time.</p>
                         			</div>
                                 </div>       

                      </div> 
                      <div class="col-md-6  order-8 order-md-8" >
                        <div class="healin-work-img1">                            
                             <figure><img src="assets/image/fo1.jpg" class="img-fluid"/></figure>
                         </div>
                                         

                        </div>
                    </div>	
        		</div>
        	</div>
        </div>
</section>
<!-- healinhere-mission-section-end -->


<!-- our-mission-section-end -->
<section class="our-mission-section">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="our-mission-content">
				<div class="section-heading">
         		   <h2><span>healinhere </span> Mission</h2>
         		   <p>healinhere aspires to making access to high standard mental health care available to everyone. For that we have built and continue building the most inspiring, competent, caring and dedicated team around.</p>

       			 </div>
       			 <div class="btn-area">
                <a href="" class="btn-all">
                	<i class="fa-regular fa-arrow-right"></i>
                	<span>JOIN HEALINHERE</span>
                </a>
            </div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="our-mission-counter">
					<div class="counter-box">
						<div class="counter">
	                        
	                            <div class="inner-couter">
	                              <div class="sine"><span id="farmers" class="timer" data-from="0" data-to="1000" data-speed="5000" data-target="#farmers">1000</span>+</div>
	                                <div class="caption">
	                                    <h3 class="stat-caption">providers in the healinhere network</h3>
	                                </div>
	                            </div>
	                        
	                       
	                           <div class="inner-couter">
	                              <div class="sine"><span id="" class="timer" data-from="0" data-to="36" data-speed="5000" data-target="#buyers">36</span>+</div>
	                                <div class="caption">
	                                    <h3 class="stat-caption">languages spoken</h3>
	                                </div>
	                            </div>

	                            <div class="inner-couter">
	                              <div class="sine"><span id="" class="timer" data-from="0" data-to="42" data-speed="5000" data-target="#buyers">42</span>+</div>
	                                <div class="caption">
	                                    <h3 class="stat-caption">specialties</h3>
	                                </div>
	                            </div>
	                       
	                       
	                           <!-- <div class="inner-couter">
	                              <div class="sine"><span id="" class="timer" data-from="0" data-to="30" data-speed="5000" data-target="#covered">30</span>+</div>
	                                <div class="caption">
	                                    <h3 class="stat-caption">experienced in LGBTQIA+ issues</h3>
	                                </div>
	                            </div>  -->    
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</section>
<!-- our-mission-section-end -->

<!-- healinhere-table-section-end -->
<section class="healinhere-table-section">
    <div class="container">
    	<div class="healinhere-table-main">
    		<table class="table">
    			<thead>
    				<th>Advantage</th>
    				<th>Working Online for healinhere</th>
    				<th>Face-to-Face Sessions</th>
    			</thead>
    			<tbody>
    				<tr>
    					<td>Global Reach</td>
    					<td>Connect with clients worldwide.</td>
    					<td>Limited to local or specific regions.</td>

    				</tr>
    				<tr>
    					<td>Flexibility</td>
    					<td>Set your schedule and work from anywhere.</td>
    					<td>Tied to a physical office location.</td>
    				</tr>
    				<tr>
    					<td>No Overhead Costs</td>
    					<td>No need to manage office expenses.</td>
    					<td>Incurs costs for renting office space, utilities, etc.</td>
    				</tr>
    				<tr>
    					<td>Increased Revenue Potential</td>
    					<td>Access a broader client base online.</td>
    					<td>Limited to the local population.</td>
    				</tr>
    				<tr>
    					<td>Client Accessibility</td>
    					<td>Offer therapy to clients in remote areas.</td>
    					<td>Restricted to those in your vicinity.</td>
    				</tr>
    				<tr>
    					<td>Reduced Commuting Stress</td>
    					<td>Eliminate the need for daily commutes.</td>
    					<td>Commuting time and stress are factors.</td>
    				</tr>
    				<tr>
    					<td>Autonomy in Practice</td>
    					<td>Manage your caseload and work independently.</td>
    					<td>More structured environment in an office setting.</td>
    				</tr>
    				<tr>
    					<td>Enhanced Work-Life Balance</td>
    					<td>Enjoy greater flexibility in balancing work and life commitments.</td>
    					<td>Commuting time may impact work-life balance.</td>
    				</tr>
    				<tr>
    					<td>Technological Integration</td>
    					<td>Utilize digital tools for seamless therapy sessions.</td>
    					<td>Limited use of technology in traditional sessions.</td>
    				</tr>
    				<tr>
    					<td>Adaptability to Client Preferences</td>
    					<td>Cater to clients who prefer online therapy.</td>
    					<td>Some clients may prefer in-person sessions.</td>
    				</tr>
    			</tbody>
    		</table>
    		<div class="btn-area">
                    <a href="" class="btn-all">
                    	<i class="fa-regular fa-arrow-right"></i>
                    	<span>JOIN HEALINHERE</span>
                    </a>
                </div>
    	</div>
    </div> 
</section>
<!-- healinhere-table-section-end -->


<!--requirement-section-start -->
<section class="requirement-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
			<div class="requirement-image">
				<img src="assets/image/t1.png">
			</div>
			</div>
			<div class="col-lg-6">
				<div class="requirement-content">
					<div class="section-heading">
         		   <h2>Therapist</h2>
         		   <p>To joining the healinhere community, all therapists are required to possess the following:</p>
         		   <div class="requirement-question">
         		   		<ul>
         		   			<li>An active, independent UK state board-approved clinical licence (or respective similar certification from for your country of study and/or residence)</li>
         		   			<li>Individual professional liability insurance policy</li>
         		   			<li>Reliable internet connection</li>
         		   			<li>Be a heart-centred compassionate clinician willing to be of service and to engage in the healinhere community along the same values mission.</li>
         		   			<li>Be willing to invest 10/30 minutes in uploading your own introduction video and taking care in preparing your profile page so that it represents you fairly.</li>

         		   		</ul>
         		   </div>
       			 </div>	
       			 	<div class="btn-area">
                <a href="" class="btn-all">
                	<i class="fa-regular fa-arrow-right"></i>
                	<span>JOIN HEALINHERE</span>
                </a>
            </div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--requirement-section-end -->

<!-- our-therapy-section-start -->
<section class="our-therapy" id="our_therapy">

    <div class="container">

        <div class="section-heading">

            <h2>How to get started</h2>
           

        </div>

        <div class="row g-4">

            <div class="col-12 col-md-12 col-lg-11 mx-auto">

                <div class="row row g-5 align-items-center">

                    <div class="col-12 col-md-12 col-lg-6" >

                        <div class="therapy-img">

                            <!-- Tab panes -->

                            <div id="tabs-content">

                              <div id="tab1" class="tab-content">

                                   <div class="therapy-image">

                                       <img src="assets/image/man-1.jpg" class="img-fluid">

                                   </div>

                                </div>



                                <div id="tab2" class="tab-content">                               

                                    

                                    <div class="therapy-image">

                                       <img src="assets/image/f21.jpg" class="img-fluid">

                                   </div>

                                

                                </div>



                                <div id="tab3" class="tab-content">

                                  <div class="therapy-image">

                                       <img src="assets/image/seractive.jpg" class="img-fluid">

                                   </div>

                                </div>

                            </div>

                            <div class="therpa-before">

                                <img src="assets/image/thera-after.svg">

                            </div>

                        </div>

                    </div>

                    <div class="col-12 col-md-12 col-lg-6" data-aos="fade-left" data-aos-delay="500">

                        <div class="therapy-content">

                            <ul id="tabs-nav">

                                <li>

                                    <a  href="#tab1">

                                        <h3 class="therapy-heading">SUBMIT YOUR APPLICATION </h3>

                                        <p>One of our team will email you once we receive your application</p>

                                    </a>

                                </li>

                                <li>

                                    <a  href="#tab2">

                                        <h3 class="therapy-heading">CREATE YOUR INTRO VIDEO AND PROFILE PAGE</h3>

                                        <p>Upload a one minute video to your profile page</p>

                                    </a>

                                </li>

                                <li>

                                    <a href="#tab3">

                                        <h3 class="therapy-heading">START RECEIVING CLIENTS ENQUIRIES</h3>

                                         <p>Set your hours on your availability calendar and check in on your clients messages and needs Monday to Friday.</p>

                                    </a>

                                </li>

                            </ul>

                                <a href="/apply-now-therapists" class="btn-all"><i class="fa-regular fa-arrow-right"></i><span>APPLY NOW</span></a>                                                          

                        </div>

                    </div>

                    <!-- <div class="col-lg-8 m-auto">
                        <div class="out-more-cnt">
                            <div class="sub-heading">
                                <h4>healinghere for EVERYONE!</h4>

                                <p>Meet your therapist for free for 30 minutes and only after, you choose whether to continue with them.</p>

                                <p>The first discovery consultation is always free.</p> 

                                <p>The session will take place in the privacy of your online meeting room, with video, white board for notes and file sharing if needed. On your computer or phone.</p>

                                <div class="btn-area">

                                 <a href="" class="btn-all"><i class="fa-regular fa-arrow-right"></i><span>LET’S GET STARTED</span></a>

                               </div>

                            </div>
                        </div>
                    </div> -->


            </div>

        </div>

    </div>

</section>
<!-- our-therapy-section-end -->


<!-- grow-practice-section-start -->
<section class="grow-practice-section">
	<div class="container">
		<div class="grow-practice-main" >
			<div class="row align-items-center">
				<div class="col-lg-6">
					<div class="grow-practice-content">
    					<div class="section-heading">
    	         		   <h2>Tips to grow your practice <span>with healinhere</span> </h2>
    	         		   <p>In an age dominated by technology, mental health professionals can leverage various apps to enhance their practice. Here, we&#39;ve curated a list of top apps for therapists to boost efficiency, organisation, and overall client management. These apps are recommended by Talkspace therapists and come with no particular order of preference.</p>

                        <div class="grow-btn">
                            <a href="#">Read more</a><i class="fas fa-chevron-right"></i>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
					<div class="grow-practice-image">
						<img src="assets/image/grow-img5.png">
					</div>
				</div>
            </div>
		</div>
	</div>
</section>
<!-- grow-practice-section-end -->



<!-- Simple-practice-section-start -->
<section class="simple-practice-section">
	<div class="container">
		<div class="row">
			<div class="main-grow-practice">
				<div class="grow-practice-card">
					<div class="grow-practice-card-inner">
						<h6>SimplePractice</h6>
						<ul>
							<li>Streamlines appointment scheduling.</li>
							<li>Offers digital organisation and documentation capabilities.</li>
							<li>Facilitates paperless billing and payments.</li>
							<li>Provides a secure client portal.</li>
							<li>Fully HIPAA-compliant with a user-friendly website builder.</li>
						</ul>
					</div>
				</div>
				<div class="grow-practice-card">
					<div class="grow-practice-card-inner">
						<h6>TherapyNotes</h6>
						<ul>
							<li>Designed for mental health professionals.</li>
							<li>Manages patient records and schedules appointments.</li>
							<li>Facilitates paperless billing and payments.</li>
							<li>Features electronic billing and payment processing.</li>
							<li>Ensures secure communication and hassle-free security.</li>
						</ul>
					</div>
				</div>
				<div class="grow-practice-card">
					<div class="grow-practice-card-inner">
						<h6>Evernote</h6>
						<ul>
							<li>Versatile digital notebook tool.</li>
							<li>Allows note-taking with photos and voice memos.</li>
							<li>Enables tracking of patient progress with powerful search capabilities.</li>
						</ul>
					</div>
				</div>

				<div class="grow-practice-card">
					<div class="grow-practice-card-inner">
						<h6>Quenza</h6>
						<ul>
							<li>Enhances client engagement and streamlines practice.</li>
							<li>Offers interactive interventions and assessments.</li>
							<li>Supports personalised therapy experiences with multimedia elements.</li>
							<li>Real-time tracking capabilities for monitoring client progress.</li>
						</ul>
					</div>
				</div>
				<div class="grow-practice-card">
					<div class="grow-practice-card-inner">
						<h6>Zoom</h6>
						<ul>
							<li>Secure telehealth platform tailored for therapy sessions.</li>
							<li>Features HD video and audio for effective virtual communication.</li>
							<li>Allows continuous communication between therapists and clients.</li>
							<li>User-friendly interface for seamless connections.</li>
						</ul>
					</div>
				</div>
				<div class="grow-practice-card">
					<div class="grow-practice-card-inner">
						<h6>Ivy Pay</h6>
						<ul>
							<li>Instant pay mobile app for secure and efficient payment processing.</li>
							<li>Swipe-free transactions with HIPAA-secure measures.</li>
							<li>Integrates with practice management tools and electronic medical records.</li>
							
						</ul>
					</div>
				</div>
				<div class="grow-practice-card">
					<div class="grow-practice-card-inner">
						<h6>Round Health</h6>
						<ul>
							<li>A comprehensive medication management tool.</li>
							<li>Assists in medication scheduling with dose reminders.</li>
							<li>Supports patients in maintaining regular medicine schedules.</li>
							
						</ul>
					</div>
				</div>
				<div class="grow-practice-card">
					<div class="grow-practice-card-inner">
						<h6>Card Decks</h6>
						<ul>
							<li>Facilitates open communication in therapy sessions.</li>
							<li>Offers relationship question prompts based on The Gottman Institute's research.</li>
							<li>Features flashcards to improve partnership and communication.</li>
							
						</ul>
					</div>
				</div>
				<div class="grow-practice-card">
					<div class="grow-practice-card-inner">
						<h6>DBT Travel Guide</h6>
						<ul>
							<li>Supports dialectical behaviour therapy with 200+ mindfulness skills.</li>
							<li>Provides tools for emotional regulation and impulse control.</li>
							<li>Offers a diary card for tracking agreements between therapists and clients.</li>
							
						</ul>
					</div>
				</div>
				<div class="grow-practice-card">
					<div class="grow-practice-card-inner">
						<h6>Doxy</h6>
						<ul>
							<li>Free telemedicine communication app for secure therapist-client communication.</li>
							<li>Requires no downloads or installations for easy access.</li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Simple-practice-section-end -->


<!-- faq-wrapper-start -->
<section class="faq-wrapper">
	<div class="container">
		<div class="section-heading" data-aos="fade-up" data-aos-delay="500">

            <h2>Frequently Asked Questions - <span>Therapists Edition</span></h2>

        </div>

		<div class="row">
			<div class="col-lg-9 m-auto">

				<div class="accordion" id="accordi1xample">

				  <div class="accordion-item panel-default">
				    <h2 class="accordion-header" id="heading1">
				      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
				       How do i apply to become a healinhere therapist ?
				      </button>
				    </h2>
				    <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1" data-bs-parent="#accordi1xample">
				      <div class="accordion-body">
				        <a href="" class="btn-all">
                	<i class="fa-regular fa-arrow-right"></i>
                	<span>Submit your application</span>
                	</a>
				      </div>
				    </div>
				  </div>

				  <div class="accordion-item panel-default">
				    <h2 class="accordion-header" id="heading6">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
				        How is therapy delivered to the client?
				      </button>
				    </h2>
				    <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6" data-bs-parent="#accordi1xample">
				      <div class="accordion-body">
				       <P>Connect securely with clients on healinhere’s session private space through live Sessions (Video,Audio, and Chat) available to each client.</P>
				      </div>
				    </div>
				  </div>

				  <div class="accordion-item panel-default">
				    <h2 class="accordion-header" id="heading2">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
				     How long does it take to get confirmation of being onboarded?
				      </button>
				    </h2>
				    <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordi1xample">
				      <div class="accordion-body">
				       <P>The onboarding process can range anywhere from 24 hrs to 4 days.</P>
				      </div>
				    </div>
				  </div>

				  <div class="accordion-item panel-default">
				    <h2 class="accordion-header" id="heading3">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
				        Are there costs to me joining healinhere?
				      </button>
				    </h2>
				    <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordi1xample">
				      <div class="accordion-body">
				        <P>There are no costs to you becoming one of our therapists. A fee is deducted from your services. A detailed outline of the fees will be provided to successful candidates.</P>
				      </div>
				    </div>
				  </div>

				  <div class="accordion-item panel-default">
				    <h2 class="accordion-header" id="heading4">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
				        Do you inform every candidate of the outcome of the selection process?
				      </button>
				    </h2>
				    <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordi1xample">
				      <div class="accordion-body">
				       <P>Of course, we do. We put the greatest amount of care in selecting the right team and we are very fast at letting you know.</P>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- faq-wrapper-end -->


<!-- get-started-section-start -->
<section class="get-started" id="get_started">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="section-heading" data-aos="zoom-in" data-aos-delay="100">

            <h2>"Ready to join us on a tranformative adventure?...."</h2>

            <p>Let’s find the best therapist match for you. </p>

        </div>

        <div class="btn-area">

                <a href="" class="btn-all"><i class="fa-regular fa-arrow-right"></i><span>get started now</span></a>

        </div>

    </div>

    <div class="bottom-after">

        <img src="assets/image/g-bottom.png" class="img-fluid" />

    </div>

</section>
<!-- get-started-section-end -->

<!-- footer-start -->

<%- include('comman/footer'); %>

<!-- footer-end -->