<div class="col-md-12">

    <div class="page-head">

        <nav class="navbar top-navbar">
          <a class="btn menu-btn" id="menu-btn">
            <span class="line-toggle"></span>
            <span class="line-toggle"></span>
            <span class="line-toggle"></span>
            <!-- <i class="fa-sharp fa-light fa-bars"></i> -->
          </a>
        </nav>

        <div class="page-head-title">
           
            <form class="search-box">
                <input class="form-control" type="search" placeholder="Search.." aria-label="Search">
                <button class="search-btn" type="submit"><i class="fal fa-search"></i></button>
            </form>

        </div>

        <div class="page-head-notify">

            <div class="notify-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="33" viewBox="0 0 35 33" fill="none">
                    <rect width="35" height="32.9412" rx="5" fill="#48BC97" fill-opacity="0.2"/>
                    <path d="M25.9902 21.0602C25.887 19.9857 24.9279 19.1418 23.8108 19.1418C23.7792 19.142 23.748 19.1359 23.7188 19.1239C23.6896 19.1119 23.6631 19.0943 23.6408 19.072C23.6185 19.0497 23.6008 19.0232 23.5888 18.994C23.5768 18.9648 23.5708 18.9335 23.571 18.902V15.3262C23.571 12.6702 21.8711 10.3541 19.5307 9.48905C19.5581 9.35243 19.5732 9.21283 19.5732 9.07317C19.5733 7.92887 18.6445 7 17.5001 7C16.3556 7 15.4268 7.92887 15.4268 9.07323C15.4268 9.20984 15.442 9.3464 15.4663 9.47693C14.6619 9.76227 13.9182 10.2145 13.2838 10.8277C12.0878 11.9812 11.4292 13.5323 11.4292 15.1957V18.902C11.4292 19.0326 11.3229 19.1418 11.1893 19.1418C10.0693 19.1418 9.11307 19.9857 9.00986 21.0603C8.95217 21.6583 9.14951 22.2532 9.55322 22.6964C9.95388 23.1365 10.5276 23.3915 11.1256 23.3915H14.7863C14.9381 24.7544 16.0977 25.8199 17.5001 25.8199C18.9024 25.8199 20.062 24.7544 20.2138 23.3915H23.8745C24.4725 23.3915 25.0462 23.1365 25.4469 22.6964C25.8476 22.2531 26.0479 21.6582 25.9902 21.0602ZM17.5001 8.21416C17.9736 8.21416 18.3591 8.59967 18.3591 9.07317C18.3591 9.11261 18.353 9.14906 18.3469 9.1885C18.1405 9.15813 17.931 9.13689 17.7216 9.13081C17.3603 9.11865 17.0052 9.14298 16.6531 9.19154C16.647 9.1521 16.6409 9.11565 16.6409 9.07622C16.641 8.59967 17.0265 8.21416 17.5001 8.21416ZM17.5001 24.6056C16.7685 24.6056 16.1554 24.0835 16.0127 23.3915H18.9874C18.8448 24.0835 18.2316 24.6056 17.5001 24.6056ZM24.5484 21.8798C24.3723 22.071 24.1356 22.1772 23.8745 22.1772H11.1256C10.8646 22.1772 10.6278 22.071 10.4517 21.8798C10.2757 21.6886 10.1937 21.4366 10.221 21.1756C10.2635 20.7172 10.6915 20.356 11.1924 20.356C11.9938 20.356 12.6464 19.7034 12.6464 18.902V15.1957C12.6464 13.8662 13.1745 12.6247 14.1307 11.7019C15.0413 10.8186 16.2312 10.339 17.5001 10.339C17.5608 10.339 17.6184 10.339 17.6791 10.342C20.2562 10.4331 22.3568 12.6702 22.3568 15.3263V18.902C22.3568 19.7034 23.0094 20.356 23.8108 20.356C24.3116 20.356 24.7396 20.7172 24.7821 21.1756C24.8064 21.4366 24.7244 21.6855 24.5484 21.8798ZM9.63823 14.2851C9.91749 14.2851 10.1694 14.0909 10.2302 13.8086C10.5246 12.476 11.1893 11.2618 12.1607 10.2966C12.3975 10.0598 12.3975 9.67427 12.1607 9.43754C11.9239 9.20077 11.5384 9.20077 11.3017 9.43754C10.1664 10.5666 9.38629 11.9903 9.04331 13.5505C8.97047 13.8783 9.17689 14.2031 9.50471 14.2729C9.55327 14.2821 9.59575 14.2851 9.63823 14.2851ZM25.3619 14.2851C25.4044 14.2851 25.4499 14.279 25.4924 14.27C25.8202 14.1971 26.0266 13.8753 25.9538 13.5475C25.6108 11.9873 24.8307 10.5667 23.6954 9.43445C23.4586 9.19767 23.0731 9.19767 22.8364 9.43445C22.5997 9.67123 22.5996 10.0567 22.8364 10.2935C23.8047 11.2587 24.4725 12.4729 24.7669 13.8055C24.8307 14.0908 25.0826 14.2851 25.3619 14.2851Z" fill="#48BC97"/>
                    </svg>
            </div>
            <div class="user-dropdown">
                <div class="dropdown">
                  <button class="btn user-btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <span>
                        <% if (user.file) { %>
                            <img class="profile-pic" src="/uploads/profile-image/<%= user.file %>" style="width: 119%;"/>
                        <%} else { %>
                            <img class="profile-pic" src="/user-assets/assets/img/profile-img.png"> 
                          <% } %>
                    
                    </span>
                    <p style="margin-top: 15px;" id="profile-username-header"> <%= user.name?.split(" ")[0] %> </p>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li>
                      <a class="dropdown-item" href="/user/profile">
                         <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
                            <path d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z" fill="#46BC96"></path>
                         </svg>
                         profile
                      </a>
                   </li>
                   <li>
                      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#change_password">
                         <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512">
                            <path d="M336 352c97.2 0 176-78.8 176-176S433.2 0 336 0S160 78.8 160 176c0 18.7 2.9 36.8 8.3 53.7L7 391c-4.5 4.5-7 10.6-7 17v80c0 13.3 10.7 24 24 24h80c13.3 0 24-10.7 24-24V448h40c13.3 0 24-10.7 24-24V384h40c6.4 0 12.5-2.5 17-7l33.3-33.3c16.9 5.4 35 8.3 53.7 8.3zM376 96a40 40 0 1 1 0 80 40 40 0 1 1 0-80z" fill="#46BC96"></path>
                         </svg>
                         change password
                      </a>
                   </li>
                   <li>
                      <a class="dropdown-item" href="/user/logout">
                         <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512">
                            <path d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 192 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l210.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128zM160 96c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 32C43 32 0 75 0 128L0 384c0 53 43 96 96 96l64 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l64 0z" fill="#46BC96"></path>
                         </svg>
                         Sign out
                      </a>
                   </li>
                  </ul>
                </div>
            </div>


        </div> 

    </div>

</div>


